.modal {

    display: none;
    padding-top: 2.5625rem;
    max-width: 57.125rem;
    min-height: 29.75rem;
    border-radius: 1.25rem;
    overflow: hidden;



    &.fancybox__content {
        width: 57.125rem;
        height: 0;
        background-color: $color-white !important;
        position: relative;
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }

    &.fancybox__content>.f-button.is-close-btn {
        display: none;
    }

    &::before {

        --width-shape: 96.25rem;
        --height-shape: 40.3125rem;
        --rotation-shape: 21deg;
        background-color: $color-dark-green;
        border-radius: 45.0506rem;
        bottom: 18.125rem;
        right: 3.3125rem;
        content: "";
        height: var(--height-shape);
        margin-left: calc(-1 * var(--width-shape) / 2 + var(--height-shape) / 2 * tan(var(--rotation-shape)));
        position: absolute;
        transform: rotate(var(--rotation-shape));
        width: var(--width-shape);
        z-index: -100;


        @media screen and (max-width:768px) {
            --height-shape: 21.3125rem;
            --rotation-shape: -141deg;
            bottom: 34rem;
            right: -7.5625rem;
        }

        @media screen and (max-width:400px) {
            --height-shape: 23.3125rem;
            --rotation-shape: -141deg;
            bottom: 34.6875rem;
            right: -7.8125rem;
        }
    }

    &__wrapper {
        height: auto;
        margin: auto;
        border-radius: .9375rem;

        @media screen and (max-width:990px) {
            padding-top: 1rem;
        }


        .modal__close {
            width: 6.0625rem;
            transform: rotate(45deg);
            background-color: $color-white;
            position: absolute;
            right: -1.25rem;
            top: 1.3125rem;
            cursor: pointer;
            font-style: normal;
            font-weight: 300;
            font-size: 4.6875rem;
            line-height: 125%;
            display: flex;
            align-items: center;
            letter-spacing: -0.03em;
            color: $color-dark-pink;
        }

        @media screen and (max-width:768px) {
            .modal__close {
                width: 6.2rem;
                font-size: 2.5rem;
                right: -2.875rem;
                top: .6875rem;
            }
        }

        @media screen and (max-width:400px) {
            .modal__close {
                width: 4rem;
                right: -1rem;
                top: 0;
            }
        }

    }

    &__content {
        height: 100%;
        max-width: 44.875rem;
        margin: auto;
    }

    &__title {
        text-align: center;
        font-size: 3.125rem;
        margin-bottom: .875rem;
        max-height: 10.125rem;
        line-height: 125%;
        text-align: center;
        letter-spacing: -0.03em;
        color: $color-white;
        font-weight: 900;


        @media screen and (max-width:768px) {
            padding-bottom: 0;
            font-size: 1.875rem;
        }
    }

    &__sub-title {
        font-style: normal;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 125%;
        color: $color-white;
        text-align: center;
        margin-bottom: 2.0625rem;

        @media screen and (max-width:768px) {
            font-size: 1.125rem;
            text-align: center;
            max-width: 15.5rem;
            margin: auto;
            margin-bottom: 2rem;
        }
    }

    &__text {
        p {
            font-style: normal;
            font-weight: 300;
            font-size: 1.125rem;
            line-height: 150%;
            text-align: center;
            color: $color-dark-gray;

            @media screen and (max-width:768px) {
                font-size: .875rem;
                padding: .0625rem;
            }
        }

        &-link {
            color: $color-dark-pink;
            font-weight: 700;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &__buttons {
        // margin-bottom: 5.5625rem;
        margin-bottom: 5rem;

        @media screen and (max-width:768px) {
            margin-bottom: 4.5625rem;
        }

        button {
            margin: auto;
            margin-bottom: 1rem;

        }

        a {
            margin: auto;
        }
    }


    @media screen and (max-width:768px) {

        &__title {
            font-size: 2rem;
            line-height: 2rem;
        }
    }

    @media screen and (max-width:400px) {

        &__title {
            margin-top: 1rem;
        }
    }

}

@media screen and (max-width:1260px) {
    .modal {
        width: 59.375rem;
    }
}

@media screen and (max-width:990px) {
    .modal {
        max-width: 48rem;
        padding-top: unset;
        padding-right: unset;
        padding-bottom: unset;
        padding-left: unset;
    }

    .modal {
        padding-top: 1.25rem;
        padding-right: 1.25rem;
        padding-bottom: 1.25rem;
        padding-left: 1.25rem;
    }
}

@media screen and (max-width:768px) {
    .modal {
        max-width: 23.4375rem;

    }
}


@media screen and (max-width:400px) {
    .modal {
        max-width: 20rem;
        height: 32.5rem !important;
    }
}

.fancybox__backdrop {
    background-color: rgba(0, 0, 0, 0.4) !important;
    position: absolute;
    height: 110%;
}

html.with-fancybox {
    overflow: hidden;
}