.site__header {
  background-color: $color-white;

  .header__inner {
    position: relative;

    &.is--sticky-down {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 4;

      .main_bar {
        display: none;
      }

    }

    &.is--sticky-up {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 4;

      .main_bar {
        display: block;
        box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.8);
      }

    }
  }

  @media screen and (min-width: 1100px) {
    box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.8);
  }

  .top_bar {
    background-color: $color-dark-green;
    color: $color-white;
    padding-top: .8125rem;
    padding-bottom: .8125rem;
    width: 100%;

    .header__links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 10px;
      line-height: .9375rem;
      @include flex-gap(.45rem);

      // TODO add divider and change font weight

      @media screen and (min-width: 375px) {
        @include flex-gap(1rem);
      }

    }

  }

  .main_bar {
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: $color-white;

    .wrapper {
      display: grid;
      grid-template-columns: 127px 1fr;
      align-items: center;
      gap: .8862rem;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include flex-gap(1rem);
    }
  }


  // Mobile Header Styles
  .mobile {
    @media screen and (min-width: 1199px) {
      display: none;
    }

    .top_bar {
      .header__links {
        @media screen and (min-width: 600px) {
          justify-content: center;
          font-size: .875rem;
        }

        li {
          position: relative;
        }

        li+li::before {
          content: '';
          position: absolute;
          top: 0.1rem;
          left: -0.35rem;
          background-color: $color-green;
          display: inline-block;
          height: 0.7rem;
          width: 1px;

          @media screen and (min-width: 375px) {
            left: -0.85rem;
          }

          @media screen and (min-width: 480px) {
            left: -1.5rem;
          }

          @media screen and (min-width: 600px) {
            left: -0.55rem;
          }
        }
      }
    }

    .main_bar {

      .menu__toggle {

        .line {
          background-color: $color-dark-pink;
          cursor: pointer;
          display: block;
          height: 3px;
          margin: 0.25rem 0;
          @include transition('all', 0.3s, ease-in-out);
          width: 1.5rem;
        }


        &.is--open {
          .line {
            &:nth-child(1) {
              transform: translateY(0.4rem) rotate(45deg);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              transform: translateY(-0.5rem) rotate(-45deg);
            }
          }
        }

      }

      .button {
        font-size: .875rem;
        line-height: .875rem;
        min-height: 2.5rem;
        padding-right: 0.625rem;
        padding-left: 0.625rem;

        @media screen and (min-width: 375px) {
          font-size: 1.125rem;
          line-height: 1.125rem;
          width: 8.6875rem;
        }

        &::after {
          display: none;
        }

      }

    }

  }

  .desktop {
    display: none;

    @media screen and (min-width: 1200px) {
      display: block;
    }

    .top_bar {
      padding-right: 0;
      padding-left: 0;

      .header__links {
        font-size: .875rem;
        line-height: 1.4rem;
        font-weight: 400;
        justify-content: flex-end;
      }
    }

    .main_bar {
      padding-top: .875rem;
      padding-bottom: .875rem;

      .wrapper {
        grid-template-columns: 188px 1fr 191px;
        align-items: center;
        gap: 1.5rem;

        @media screen and (min-width: 1365px) {
          gap: 3.75rem;
        }

        @media screen and (min-width: 1440px) {
          gap: 5rem;
        }

      }

      .nav__menu {
        position: relative;
        /* display: flex;
        flex-direction: row;
        @include flex-gap(1rem);
        justify-content: flex-end; */
        display: block;
        font-size: 0;
        padding: 0;

        &_item {
          border-bottom: 0;
          // flex: 1 1 auto;
          text-align: center;
          display: inline-block;
          font-size: 1rem;
          margin-right: 1rem;
          margin-left: 1rem;
          width: auto;

          @media screen and (min-width: 1366px) {
            margin-right: 1.5rem;
            margin-left: 1.5rem;
          }

          @media screen and (min-width: 1600px) {
            margin-right: 2rem;
            margin-left: 2rem;
          }


          &.has__sub_menu {

            &.current-page {
              .nav__menu_item_link {
                &::after {
                  border-top: 2px solid $color-dark-pink;
                  border-right: 2px solid $color-dark-pink;
                  font-weight: 900;
                }
              }
            }

            .nav__sub_menu {
              position: absolute;
              left: 0;
              background: $color-white;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              width: 13.875rem;
              z-index: 4;
            }

            .nav__sub_menu_item {
              text-align: center;
            }

            .nav__menu_item_link {
              &.current-page {
                color: $color-dark-pink;
              }
            }

            .nav__menu_item_link::after {
              top: 1.65rem;
              right: 0;
              height: 0.5rem;
              border-top: 2px solid $color-dark-green;
              border-right: 2px solid $color-dark-green;
              width: 0.5rem;

              @media screen and (min-width: 1200px) {
                right: -1rem;
              }
            }

            @media screen and (min-width: 1200px) {
              &:hover {
                .nav__sub_menu {
                  display: block;
                }

                .nav__menu_item_link {
                  color: $color-dark-pink;
                }

                .nav__menu_item_link::after {
                  top: 50%;
                  border-top: 3px solid $color-dark-pink;
                  border-right: 3px solid $color-dark-pink;
                  transform: translateY(-50%) rotate(-45deg);
                }
              }
            }

          }

          &_link {
            @media screen and (min-width: 1200px) {
              display: inline-block;
              font-size: 1.125rem;
              line-height: 1.8rem;
              width: auto;

              &:hover,
              &.current-page {
                color: $color-dark-pink;
                font-weight: 900;
                // transition: all 0.3s ease-in-out;
                position: relative;

                &::before {
                  content: '';
                  position: absolute;
                  bottom: 0.5rem;
                  left: 0;
                  width: 100%;
                  border-bottom: 4px solid $color-dark-pink;
                  // transition: all 0.3s ease-in-out;
                }
              }

            }
          }

        }

      }

    }

  }


}