.highlight-information {
    border-bottom: 12px solid $color-green;

    &__title {
        color: $color-dark-gray;
        text-transform: uppercase;

        sup {
            text-transform: none;
        }
    }

    &__content {
        color: $color-dark-green;
        font-size: 60px;
        font-weight: 900;
        line-height: 4.6875rem;
        position: relative;

        @include media('desktop') {
            font-size: 70px;
            line-height: 5.4688rem;
        }

        sub {
            bottom: 0;
            font-size: 35px;
            font-weight: 900;
            line-height: 2.7344rem;
        }
    }

    &__footnote {
        color: $color-dark-green;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.6875rem;
        max-width: 40ch;

        @include media('desktop') {
            max-width: 25ch;
        }

        strong {
            font-size: 16px;
            font-weight: 900;
            line-height: 1.5rem;
        }
    }

    &__sub-content {
        bottom: -10px;
        color: $color-dark-gray;
        font-size: 16px;
        font-weight: 500;
        left: 0;
        line-height: 1.5rem;
        position: absolute;
    }

    &__subtitle {
        color: $color-dark-green;
        font-size: 1rem;
        font-weight: 900;
        line-height: 1.5rem;
        max-width: 35ch;
    }

    &--contains-subcontent {
        .highlight-information__footnote {
            margin-top: .9375rem;
        }
    }
}