.isi {
  background-color: $color-white;
  color: $color-dark-gray;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.0938rem;

  @media screen and (min-width: 1024px) {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  ul li {
    list-style-type: disc;
  }

  ul li::marker {
    color: $color-green;
  }

  ul li p {
    margin-bottom: 0;
  }

  p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: .5rem;
  }

  strong {
    font-weight: 900;
    line-height: 1.05rem;

    @media screen and (min-width: 1024px) {
      font-size: 1.125rem;
      line-height: 1.35rem;
    }
  }

  .isi__section.grid {
    display: grid;
    padding-top: .9375rem;
    // padding-right: 1.5rem;
    padding-bottom: .9375rem;
    // padding-left: 1.5rem;

    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 26.75rem;
      gap: 2.75rem;
    }
  }

  &__section_header_inner {
    position: relative;
    background-color: $color-bright-gray;
    display: flex;
    align-items: center;
    min-height: 3.25rem;
    padding-top: .4375rem;
    // padding-right: 1.375rem;
    padding-bottom: .4375rem;
    // padding-left: 1.375rem;
  }

  .wrapper__inner {
    padding-right: 3.125rem;

    .isi__section.grid:first-of-type {
      display: none;
    }
  }

  &__section_heading {
    color: $color-dark-green;
    font-size: 1.125rem;
    font-weight: 900;
    line-height: 1.3125rem;
    max-width: 230px;

    @media screen and (min-width: 500px) {
      max-width: 100%;
    }

    @include media('tablet') {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  &__section_subheading {
    color: $color-dark-green;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.25rem;

    @media screen and (min-width: 1024px) {
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }

    &--no-margin-bottom {
      margin-bottom: 0;
    }
  }

  &__section_list {
    color: $color-dark-gray;

    padding-left: 1rem;

    @media screen and (max-width: 375px) {
      max-width: 18.125rem;
    }

    li {
      margin-bottom: 1.25rem;

      a {
        color: $color-dark-gray;
        font-weight: 300;
      }
    }

    &--no-style {
      li {
        list-style: none !important;
      }
    }

    &--no-item-space {
      margin-bottom: 1.25rem;

      li {
        margin-bottom: 0;
      }
    }

  }

  &__section_header {
    position: relative;
    background-color: $color-white;

    .wrapper__inner {
      // max-width: 100%;

      .isi__section_content,
      .isi__section_footer {
        display: none;
      }
    }
  }

  &-fixed {
    .isi__section_header {
      display: none;
    }
  }

  &__section_header.is--fixed {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-white;
    // border-top: 1px solid $color-dark-gray;
    height: 155px;
    // padding-top: 1rem;
    // padding-bottom: 1rem;
    width: 100%;
    z-index: 3;

    @include media('tablet') {
      height: 10.6875rem;
    }

    .wrapper__inner {
      position: relative;
      // max-width: calc(100% - 2.5rem);

      @media screen and (min-width: 1440px) {
        // max-width: 90rem;
      }


      .isi__section.grid:first-of-type {
        display: grid;
      }

      .isi__section_content {
        display: none;
      }

    }

    .isi__section_toggle {
      display: block;
    }
  }

  &__section_header.is--fixed.is--open {
    top: 25%;
    overflow-y: scroll;
    height: auto;

    .wrapper__inner {
      .isi__section_content {
        display: none;
      }
    }

    .isi__section_toggle {
      transform: rotate(180deg);
    }
  }


  &__section_toggle {
    background-image: url('/assets/vectors/isi-arrow-up.svg');
    border: 0;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    height: 0.5rem;
    width: 1.1875rem;
    position: absolute;
    right: 1.375rem;
    top: 40%;
  }

  &__section_content {
    .wrapper {
      padding-right: 3.125rem;
    }
  }

  &__footnote {
    color: $color-dark-green;
    font-weight: 700!important;
    max-width: 33ch;

    &--left {
      display: none;
      margin-left: 1rem;
    }

    &--right {
      margin-top: .75rem;
    }

    @media screen and (min-width: 1024px) {
      max-width: 100%;

      &--left {
        display: block;
      }

      &--right {
        display: none;
      }
    }
  }

  &__link {
    display: inline;

    @media screen and (min-width: 1024px) {
      text-decoration: underline;
    }
  }
}

#isi {

  .isi-back-top {
    display: block;
    transform: rotate(180deg);

    &.hidden {
      display: none;
    }
  }

  &.has--scrollbar {
    --isi-height: calc(100vh - 41px - 60px - 56px);

    @media screen and (min-width: 1200px) {
      --isi-height: calc(100vh - 48.4px - 60px - 52px);
    }

    .isi__section_toggle {
      right: -0.3125rem;
    }

    .isi__section_content {
      .wrapper {
        overflow-y: scroll;
        height: var(--isi-height);
        scrollbar-width: thin;
        scrollbar-color: rgba($color-dark-pink, 1) $color-bright-gray;

        &:hover {
            scrollbar-color: rgba($color-dark-pink, 0.5) $color-bright-gray;
        }

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: $color-bright-gray;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba($color-dark-pink, 1);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba($color-dark-pink, 0.5);
        }
      }
    }
  }
}