.not-found-hero {
    background-color: $color-dark-green;
    width: 100%;
    position: relative;
    overflow: hidden;

    min-height: 12.5rem;
    height: calc(200px + (690 - 200) * ((100vw - 375px) / (1440 - 375)));
    // max-height: 43.125rem;

    .not-found-hero__content {
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .not-found-hero__title {
        color: $color-dark-green;
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1.75rem;
        margin-bottom: 1rem;
        max-width: 75%;

        @media screen and (min-width: 515px) {
            max-width: 13.3125rem;
        }

        @media screen and (min-width: 555px) {
            font-size: 1.875rem;
            max-width: 16.3125rem;
        }

        @media screen and (min-width: 768px) {
            font-size: 2.5rem;
            line-height: 48px;
            max-width: 21.3125rem;
        }

        @media screen and (min-width: 885px) {
            font-size: 3.125rem;
            margin-bottom: 1rem;
            max-width: 27.3125rem;
        }

        @media screen and (min-width: 1200px) {
            font-size: 4.25rem;
            line-height: 4.6875rem;
            margin-bottom: 3rem;
            max-width: 37rem;
        }
    }

    .not-found-hero__shape {
        position: absolute;
        z-index: 2;

        width: 301.33px;
        height: 492.48px;
        border-radius: 187.5px;
        background: $color-green;

        transform: rotate(-24.25deg);

        bottom: -8rem;
        right: 30%;

        @media screen and (min-width: 515px) {
            width: 722.33px;
            height: 615.48px;
            bottom: -15rem;
            border-radius: 222.5px;
        }

        @media screen and (min-width: 640px) {
            right: 20rem;
        }

        @media screen and (min-width: 737px) {
            width: 1494.64px;
            height: 894.64px;
            border-radius: 31.5487rem;
            transform: rotate(49.87deg);
            right: 24%;
            bottom: -13rem;
        }

        @media screen and (min-width: 1024px) {
            right: 28%;
            bottom: -9rem;
        }

        @media screen and (min-width: 1080px) {
            transform: rotate(59.87deg);
        }

        @media screen and (min-width: 1440px) {
            right: 22%;
            width: calc(1494.64px + 75%);
            height: calc(894.64px + 75%);
            border-radius: calc(31.5487rem + 1%);
        }

        @media screen and (min-width: 1820px) {
            right: 27%;
            bottom: 4rem;
        }
    }

    .not-found-hero__image {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        height: 100%;
        width: auto;

        img {
            height: 100%;
            width: auto;
        }
    }
}