.page-hero {
    background: $color-white;
    position: relative;
    // height: 12.5rem;
    overflow: hidden;

    @media screen and (min-width: 1024px) {
        height: 20.25rem;
    }

    .wrapper {
        z-index: 3;
        padding-top: 1.5625rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            justify-content: center;
            // padding: 0;
        }
    }

    .shape {
        position: absolute;
    }

    .shape--primary {
        z-index: 2;
        background: $color-dark-green;
    }

    .shape--secondary {
        z-index: 1;
        background: $color-green;
    }

    .shape--tertiary {
        z-index: 3;
        height: .8125rem;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
        width: calc(100% - 5.9375rem);
        max-width: 29.5625rem;
        background: $color-dark-yellow;

        bottom: 1.875rem;
        left: 0;

        @media screen and (min-width: 1024px) {
            bottom: 4.5625rem;
        }

        @media screen and (min-width: 1600px) {
            max-width: 50rem;
        }
    }

    .page-hero__subtitle {
        color: $color-green;
        font-size: .875rem;
        line-height: 16.8px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .page-hero__title {
        margin-bottom: 4.5rem;
    }

    /*
        ###########################################################################################
        STYLES BY PAGE
    */

    &#hypophosphatasia-page-hero {

        .page-hero__title {
            color: $color-white;
            max-width: 21.5625rem;
            font-weight: 400;

            @media screen and (min-width: 768px) {
                max-width: 25.9375rem;
            }
        }

        .shape--primary {
            top: 0;
            right: -2rem;
            bottom: .9375rem;
            width: calc(100% + 2rem);

            border-radius: 0rem 0rem 10.875rem 0rem;

            @media screen and (min-width: 1024px) {
                right: initial;
                top: initial;
                bottom: 0;
                left: 0;
                width: 70%;
                height: 36.125rem;
                border-radius: 0rem 24.4609rem 24.4609rem 0rem
            }
        }

        .shape--secondary {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            @media screen and (min-width: 1024px) {
                height: 36.1875rem;
                top: initial;
                bottom: 6.75rem;
                right: -2rem;
                left: initial;
                width: calc(100% + 2rem);
                border-radius: 34.0543rem;
            }
        }
    }

    &#how-it-works-page-hero {
        --custom-margin: 1.75rem;

        /* .wrapper {
            max-width: calc(100% - var(--custom-margin));

            @media screen and (min-width: 450px) {
                max-width: calc(100% - var(--margin));
            }

            @media screen and (min-width: 450px) and (max-width: 1023px) {
                min-height: 200px;
            }
        } */

        .page-hero__title {
            br {
                display: none;
            }

            color: $color-dark-green;
            max-width: 22ch;
            font-weight: 400;

            @media screen and (min-width: 768px) {
                // max-width: 40.625rem;
                margin-bottom: 2.5rem;
                max-width: 34ch;

                br {
                    display: block;
                }
            }

            /* @media screen and (min-width: 1024px) {
                margin-bottom: 0;
            } */
        }

        .shape--primary {
            z-index: 1;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
        }

        .shape--secondary {
            z-index: 2;
            right: -165px;
            bottom: -365px;
            width: 1182.11px;
            height: 792.68px;
            border-radius: 416.484px;
            transform: rotate(34deg);

            @media (min-width: 321px) {
                right: -130px;
            }

            @media (min-width: 377px) {
                right: -90px;
            }

            @include media('tablet') {
                right: -50px;
            }

            @media screen and (min-width: 1024px) {
                right: unset;
                left: calc(85% - 100vw);
                bottom: -413px;
                transform: rotate(28deg);
            }

            @media (min-width: 1366px) {
                bottom: -880px;
                height: 1463.26px;
                left: calc(25% - 100vw);
                width: 2182.11px;
            }

            @media (min-width: 1520px) {
                left: unset;
                right: calc(100vw - 70%);
            }
        }

        .shape--tertiary {
            background: $color-white;

            @media screen and (min-width: 768px) {
                max-width: 44rem;
            }
        }
    }

    &#clinical-data-page-hero {

        @media screen and (min-width: 768px) {
            height: calc(182.8px + ((324 - 182.8) * ((100vw - 768px) / (1024 - 768))));
            max-height: 20.25rem;
        }

        /* .wrapper {
            max-width: calc(100% - (var(--margin) / 2));
            margin-left: auto;
            margin-right: 0;
        } */

        .page-hero__image-container {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;

            img {
                max-width: initial;
                width: 100%;
                height: 100%;
                object-position: right;
                object-fit: contain;
            }

            @media screen and (min-width: 425px) {
                right: -82px;
                img {
                    object-fit: cover;
                    object-position: left;
                }
            }

            @media screen and (min-width: 768px) {
                right: 0;
                max-width: fit-content;

                img {
                    object-fit: contain;
                    object-position: right center;
                    border-bottom-left-radius: 8.9375rem;
                }
            }

            @media screen and (min-width: 1024px) {
                img {
                    border-bottom-left-radius: 14.9375rem;
                }
            }
        }

        .page-hero__subtitle {
            font-size: .75rem;

            @media screen and (min-width: 375px) {
                font-size: 0.875rem;
            }

            @media screen and (min-width: 1024px) {
                font-size: 1.25rem;
            }
        }

        .page-hero__title {
            color: $color-white;
            font-size: 1.5625rem;
            line-height: 1.75rem;
            max-width: 12.5rem;
            font-weight: 400;

            br {
                display: none;
            }

            @media screen and (min-width: 375px) {
                font-size: 1.875rem;
                line-height: 2.1563rem;

                max-width: 14.0625rem;

                br {
                    display: block;
                }
            }

            @media screen and (min-width: 768px) {
                max-width: 22.0625rem;
                br {
                    display: none;
                }
            }

            @media screen and (min-width: 1024px) {
                max-width: 28.0625rem;
                font-size: 2.5rem;
                line-height: 50px;
            }
        }

        .shape--primary {
            top: 0;
            right: auto;
            left: 0;
            bottom: 0;
            width: calc(100% - 5rem);
            max-width: 18.4375rem;

            border-radius: 0rem 8.9375rem 8.9375rem 0rem;

            @media screen and (min-width: 500px) {
                border-radius: 0rem 0rem 12.9375rem 0rem;
            }

            @media screen and (min-width: 768px) {
                max-width: 55%;
            }

            @media screen and (min-width: 1024px) {
                right: initial;
                top: initial;
                bottom: 2.375rem;
                left: 0;
                width: 70%;
                height: 37.6875rem;
                border-radius: 0rem 26.0302rem 26.0302rem 0rem
            }

            @media screen and (min-width: 1440px) {
                width: 100%;
                max-width: calc(100% - 37rem);
            }
        }

        .shape--secondary {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            @media screen and (min-width: 1024px) {
                height: 36.1875rem;
                top: 50%;
                bottom: auto;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% + 11rem);
                border-radius: 24.4609rem;
            }
        }

        .shape--tertiary {
            width: calc(100% - 3.9375rem);

            @media screen and (min-width: 1440px) {
                max-width: 32.375rem;
            }
        }
    }

    &#dosing-page-hero {
        .page-hero__title {
            color: $color-dark-green;
            font-weight: 400;
        }

        .shape--tertiary {
            background: $color-white;

            @media screen and (min-width: 500px) {
                max-width: 27.5rem;
            }
        }

        .shape--primary {
            z-index: 1;

            @media screen and (min-width: 1024px) {
                width: calc(100% + 3.75rem);
                height: 603px;
                border-radius: 416.484px;
                bottom: 5.375rem;
                right: 3.75rem;
            }
        }

        .shape--secondary {
            z-index: 2;
            width: calc(100% + 33rem);
            height: 415px;
            border-radius: 207.5px;

            bottom: 0;
            right: -47px;

            @media screen and (min-width: 1024px) {
                width: 1182.11px;
                height: 792.68px;
                left: -33rem;
                transform: rotate(22deg);
                bottom: -28rem;
                border-radius: 416.484px;
            }

            @media screen and (min-width: 1440px) {
                // left: -20rem;
                left: auto;
                right: 45%;
                width: 1700.11px;
                height: 880.68px;
            }
        }
    }

    &#toolkit-page-hero {
        background-color: $color-dark-green;
        .page-hero__title {
            color: $color-white;
            max-width: 17ch;
            font-weight: 400;

            @media screen and (min-width: 1024px) {
                max-width: 25ch;
            }
        }

        .page-hero__image-container {
            border-radius: 50px 0 0 50px;
            bottom: -10px;
            height: 100px;
            overflow: hidden;
            position: absolute;
            right: -40px;
            width: 200px;

            @media (min-width: 425px) {
                bottom: 0;
                width: 250px;
            }

            @media (min-width: 700px) {
                --width-picture: 28.125rem;
                --height-picture: calc(var(--width-picture) * 0.7);
                border-radius: 0;
                border-bottom-left-radius: calc(var(--width-picture) * 0.69);
                bottom: calc(100% - var(--height-picture));
                height: var(--height-picture);
                right: calc(40% - var(--width-picture));
                width: var(--width-picture);
                z-index: -1;
            }

            @include media('tablet') {
                --width-picture: 32.8125rem;
            }

            @media(min-width: 900px) {
                right: calc(50% - var(--width-picture));
            }

            @media (min-width: 1024px) {
                --width-picture: 700px;
                right: calc(40% - var(--width-picture));

                img {
                    height: auto;
                }
            }

            @media (min-width: 1100px) {
                right: calc(45% - var(--width-picture));
            }

            @media (min-width: 1440px) {
                right: calc(1440px - var(--width-picture) - 56vw);
            }

            @media (min-width: 1575px) {
                right: calc(1440px - var(--width-picture) - 53vw);
            }
        }

        .page-hero__image {
            width: 100%;

            @media (min-width: 1024px) {
                height: 100%;
            }
        }

        .shape--tertiary {
            @media screen and (min-width: 1440px) {
                width: 50%;
                max-width: initial;
            }
        }
    }

    /*
        STYLES BY PAGE
        ###########################################################################################
    */
}