.pinch-to-zoom {
    height: 100%;
    margin: 0 !important;
    width: 100% !important;

    padding: .5rem 1rem;

    .pinch-to-zoom__button-container {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 1;

        &--right-bottom {
            top: auto;
            bottom: 1rem;
        }

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    .pinch-to-zoom__close-modal {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3.125rem;
        line-height: 40%;
        font-weight: 300;
        color: $color-dark-pink;
    }
}