.references {
  font-size: .875rem;
  line-height: 1.0625rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  @media (max-width: 375px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 20.5rem;
  }

  @include media('tablet') {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    margin-top: 3.25rem;
    margin-bottom: 3.25rem;
  }

  a {
    color: $color-dark-gray;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6875rem;
  }

  strong {
    color: $color-dark-green;
  }

}