.request-a-rep__modal-form {
    width: 100% !important;
    height: max-content;
    background: $color-white;
    border-radius: 1.25rem;
    max-width: 58.5rem;
    position: relative;

    margin: 0 !important;

    padding: 1rem .7813rem;
    padding-top: 0;

    @media screen and (min-width: 768px) {
        padding: 2.5rem
    }

    .request-a-rep__header {

        .request-a-rep__actions {
            text-align: end;

            @media screen and (min-width: 768px) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;

                padding: 0 2.5rem;
            }
        }

        .request-a-rep__close-button {
            color: $color-dark-pink;
            font-size: 4.6875rem;
            font-weight: 300;
            display: inline;
            line-height: 100%;
            cursor: pointer;
        }

        .request-a-rep__title {
            color: $color-dark-green;
            font-weight: 900;
            text-align: center;
            font-size: 2.25rem;
            line-height: 35.82px;
        }

        .request-a-rep__subtitle {
            text-align: center;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 25px;
            color: $color-dark-gray;
            margin-bottom: 2.0787rem;
        }
    }

    .form__group-label {
        color: $color-dark-gray;
        font-size: .75rem;
        line-height: 14.4px;
        font-weight: 300;
        margin-bottom: .5rem;
    }

    .form__control .form__control-checkbox .form__control-label {
        color: $color-dark-gray;
        font-size: .875rem;
        line-height: 1.0938rem;
        font-weight: 300;
        margin-bottom: 0;

        @media screen and (min-width: 768px) {
            font-size: 1.125rem;
            line-height: 1.6875rem;
        }
    }

    .form__control-checkbox--last {
        align-items: flex-start !important;

        .form__control-label {
            font-size: 1.125rem !important;
            font-weight: 300 !important;
            line-height: 27px !important;
        }
    }

    .request-a-rep__terms-text {
        font-weight: 600;
        margin-bottom: 1.3125rem;

        @media screen and (min-width: 768px) {
            text-align: center;
        }

        a {
            text-decoration: none;
        }
    }

    .button {
        width: 100%;
        justify-content: center;
        margin-bottom: 2.6875rem;

        &::after {
            display: none;
        }

        @media screen and (min-width: 768px) {
            max-width: 20.3125rem;
            margin: 0 auto;
        }
    }

    .form__controls {
        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            column-gap: 1.875rem;

            .form__group-label,
            .form__control:last-of-type {
                grid-column: span 2 / span 2;
            }
        }
    }

    .nice-select {
        align-items: center;
        display: flex;
        font-size: 1.125rem;
        font-weight: 300;
        border: none;

        &::after {
            top: 0;
            bottom: 0;
            margin: auto;
        }

        &-dropdown {
            width: 100%;
        }

        .option {
            font-weight: 300;
            text-align: center;

            &.disabled {
                display: none;
            }

            &.focus,
            &:hover {
                background-color: $color-soft-gray;
                color: $color-dark-gray;
                font-weight: 500;
            }

            &.selected {
                background-color: $color-dark-green !important;
                color: $color-white;
                font-weight: 400;
            }
        }

        .list:hover {
            .option {
                &:not(:hover) {
                    background-color: transparent !important;
                }

                &.selected:not(:hover) {
                    background-color: $color-dark-green !important;
                }
            }
        }
    }

    #specialty + .nice-select {

        .list {
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: rgba($color-dark-pink, 1) $color-bright-gray;

            &:hover {
                scrollbar-color: rgba($color-dark-pink, 0.5) $color-bright-gray;
            }

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                background: $color-bright-gray;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba($color-dark-pink, 1);
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: rgba($color-dark-pink, 0.5);
            }
        }
    }
}

.request-a-rep__content .form {
    &.hidden {
        display: none;
    }
}

.thank__you {
    display: flex;
    justify-content: center;
    min-height: 300px;
    flex-direction: column;

    &.hidden {
        display: none;
    }

    .request-a-rep__title {
        margin-bottom: 2rem;
    }
}