.steps-box{
    max-width: 21.25rem;
    margin: auto;
    margin-bottom: 1.75rem;
    @include media('tablet') {
        margin: .3125rem;
    }
    @media screen and (min-width:1100px) {
        margin: 0;
    }

    &__title{
        font-style: normal;
        font-weight: 400;
        font-size: 3.125rem;
        line-height: 4.5rem;
        letter-spacing: -0.03em;
        color: $color-dark-green;
        @include media('tablet') {
            font-size: 2.5rem;
        }

        @media screen and (min-width:1024px) {
            font-size: 3.125rem;
        }
    }

    &__heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 2rem;
    }

    &__image{
        width: 3.1856rem;
    }

    &__content-line{
        height: .75rem;
        max-width: 21.25rem;
        background-color: $color-green;
        margin-top: .75rem;
        margin-bottom: 1.375rem;
    }

    &__text{
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
        max-width: 20.625rem;

        @media screen and (min-width:1024px) {
            font-size: 1.5rem;
        }
    }

    a{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2.1875rem;
        margin-bottom: 1rem;
        @include media('tablet') {
            max-width: 11.9375rem;
            margin-bottom: 0;
        }
    }
}