$headRowsWidth: 20%;

.table {
    width: 100%;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $color-white !important;

        padding: 10px 0px;

        @media screen and (max-width: 720px) {
            padding: 10px;
        }

        &--sections {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around
        }

        &--section {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            color: $color-white !important;

            :nth-child(n) {
                color: $color-white !important;
                text-align: center;
            }

            h3 {
                font-size: 1.2rem;
                font-weight: bold;
            }

            p {
                font-size: 1rem;
                font-weight: 300;
            }
        }
    }

    &__wrapper {
        @media screen and (max-width: 768px) {
            overflow-x: auto;
            padding-bottom: 1px;
        }

        .table__body.no-padding {
            tr {
                td {
                    padding: 10px;
                }
            }
        }
    }

    &__header {
        background-color: $color-dark-green;
        margin-left: $headRowsWidth;

        h2 {
            color: #fff;
            font-size: 1rem;
            padding: 0.5rem;
            text-align: center;
        }

        &--mh {
            //Main header
            color: $color-white;
            font-weight: bold;
            background-color: $color-dark-green;
            border-bottom: 6px solid $color-green;

            &--empty {
                //Empty main header
                background-color: $color-white;
                color: $color-dark-gray;
                font-weight: 300;
            }

            &--nb {
                //Without border
                border-left: 0 !important;
                border-right: 0 !important;
            }

            &--paragraph {
                display: flex;
                flex-direction: column;
                color: $color-white !important;
                font-size: .9375rem;
                font-weight: 700;

                @media screen and (max-width: 768px) {
                    font-size: 1.1rem;
                }

                span {
                    font-size: .625rem;
                    font-weight: 300;
                    line-height: 0.8rem;

                    @media screen and (max-width: 768px) {
                        font-size: 0.7rem;
                    }
                }
            }

            &--cell {
                border: 0 !important;
            }
        }

        &--sh {
            //Main header
            color: $color-dark-green;
            font-weight: bold;

            &--nb {
                //Without border
                border-left: 0 !important;
                border-right: 0 !important;
            }

        }

        &--ssh {
            //Sub Sub header
            color: $color-dark-gray;
            font-weight: bold;

            &--nb {
                //Without border
                border-left: 0 !important;
                border-right: 0 !important;
            }

            &--cg {
                //Color dark-green
                color: $color-dark-green !important;
                text-align: left !important;
            }
        }

        @include media('mobile') {
            margin-left: 0;
        }
    }

    &__content {
        display: table;
        width: 100%;
        table-layout: auto;
        border-spacing: 0;
        border-bottom: 6px solid $color-green;
        background-color: #fff;

        border-collapse: collapse;

        @media screen and (min-width: 1200px) {
            table-layout: fixed;
        }

        @media screen and (max-width: 768px) {
            min-width: 900px;
        }

        td {
            color: $color-dark-gray;
            font-weight: 300;
            vertical-align: middle;
            padding: 2rem 1rem;
        }

        th {
            padding: 0.5rem;
        }

        td,
        th {
            border: 1px solid $color-bright-gray;
            text-align: center;
            word-break: break-word;
        }

        tr:first-child th {
            border-top: 0;
        }

        tr:last-child td {
            border-bottom: 0;
        }

        tr td:first-child,
        tr th:first-child {
            border-left: 0;
            width: $headRowsWidth !important;

            @media screen and (max-width: 768px) {
                position: sticky;
                left: 0;
                background-color: #fff;
            }
        }

        tr td:last-child,
        tr th:last-child {
            border-right: 0;
        }

    }

    &__body {
        &__row {
            &--mh {
                :first-child {
                    //Main header
                    color: $color-dark-green !important;
                    font-weight: bold;
                    text-align: left !important;
                    padding: 0 15px 0 10px !important;
                }

            }

            &--mb {
                td {
                    font-weight: bold !important;
                }
            }
        }

        &__cell {
            &--head {
                text-align: left !important;
                padding: 0 10px 0 2rem !important;

                @media screen and (max-width: 768px) {
                    padding: 0 1rem 0 2rem !important
                }
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        color: $color-dark-gray;
        font-size: .75rem;
        font-weight: 300;
        padding: 10px 0px;

        sup {
            font-size: .60rem;
            top: -0.3em;
        }
    }
}