.testimonial {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    @include flex-gap(1rem);
    justify-content: center;
    overflow: hidden;
    padding: 30px 10px 50px;
    position: relative;

    @media (min-width: 1024px) {
        @include flex-gap(4rem);
        padding-top: 8.125rem;
        padding-bottom: 8.125rem;
    }

    &::before {

        @media(min-width: 1024px) {
            --width-shape: 2436px;
            --height-shape: 1365px;
            --rotation-shape: 32deg;
            background-color: $color-green;
            border-radius: 720.81px;
            content: '';
            height: var(--height-shape);
            position: absolute;
            width: var(--width-shape);
            z-index: -1;
            bottom: 50%;
            transform: rotate(var(--rotation-shape));
            margin-left: calc(-1 * (var(--width-shape) / 2) + (var(--height-shape) / 2) * tan(var(--rotation-shape)));
        }
    }

    &__shape {

        @media (min-width: 1024px) {
            display: none;
        }

        &-container {
            bottom: 25px;
            position: absolute;
            z-index: -1;
        }
    }

    &__content {
        width: 100%;

        @media (min-width: 1024px) {
            width: fit-content;
        }

    }

    &__image {
        width: 100%;

        &-container {
            width: 170px;

            @media (min-width: 700px) {
                width: 310px;
            }
        }
    }

    &__quote {
        margin: 0 auto;
        padding: 1.875rem 2.1875rem 1.25rem;
        position: relative;
        width: fit-content;

        &::before,
        &::after {
            color: $color-white;
            display: inline;
            font-size: 150px;
            font-weight: 900;
            height: 75px;
            line-height: 187.5008px;
            margin: 0;
            position: absolute;
            width: 60px;
            z-index: -1;

            @media(min-width: 1024px) {
                font-size: 200px;
                line-height: 250px;
            }
        }

        &::before {
            content: open-quote;
            left: -0.625rem;
            top: -1.25rem;

            @media (min-width: 1024px) {
                left: -40px;
                top: -10px;
            }
        }

        &::after {
            content: close-quote;
            top: .75rem;
            right: 0;

            @media (min-width: 1024px) {
                top: 25px;
                right: -10px;
            }
        }

        p {
            font-weight: 700;
            margin: 0 auto;
            max-width: 33ch;
            position: relative;

            @media (min-width: 700px) {
                font-size: 24px;
                line-height: 36px;
            }

            &::after {
                background-color: $color-dark-pink;
                bottom: -10px;
                content: '';
                display: block;
                left: 0;
                margin: auto;
                position: absolute;
                right: 0;
                width: 112px;
                height: 3px;
            }
        }
    }

    &__author {
        font-weight: 500;
    }

    &__description {
         font-weight: 400;
    }

    p {
        color: $color-dark-green;
        font-size: 14px;
        line-height: 17.5008px;
        margin-bottom: 6px;
        text-align: center;

        @media (min-width: 700px) {
            font-size: 20px;
            line-height: 25px;
        }
    }
}