<div class="clinical-data-modal" id="clinical-data-modal" style="display: none;">
    <div class="clinical-data-modal__head">
        <button class="clinical-data-modal--close-modal" data-fancybox-close>×</button>
        <picture class="clinical-data-modal__shape">
            <source srcset="/assets/images/clinical-data/modal/clinical-modal-shape-desktop.svg" media="(min-width: 1024px)">
            <img src="/assets/images/clinical-data/modal/clinical-modal-shape-mobile.svg" alt="">
        </picture>
        <div class="clinical-data-modal__header">
            <h2 class="clinical-data-modal__title">Study design</h2>
        </div>
    </div>
    <div class="clinical-data-modal__wrapper">
        
        <div class="clinical-data-modal__content">

            <slot />

        </div>
    </div>
</div>

<script>

    import { Fancybox } from "@fancyapps/ui";

    class ClinicalDataModal {
        modal: Fancybox;

        constructor() {
            this.modal = undefined;
        }

        open() {
            this.modal = new Fancybox([{ src: 'clinical-data-modal' }], {
                autoFocus: true,
                defaultType: "inline",
                placeFocusBack: true,
                trapFocus: true,
                closeButton: false,
                defaultDisplay: 'flex'
            });
        }

        close() {
            this.modal.close();
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        const clinicalDataModal = new ClinicalDataModal();

        const buttons = document.querySelectorAll(
            ".internal__nav_expand-icon--anchor"
        );
        buttons.forEach((button) => {
            button.addEventListener("click", (e) => {
                e.preventDefault()
                clinicalDataModal.open();
            });
        });
    });
</script>