// Import
@import './settings/_reset.scss';
@import './settings/_variables.scss';
@import './settings/_fonts.scss';
@import './settings/_mixins.scss';
@import './settings/_layouts.scss';
@import './settings/_global.scss';
@import './settings/_utils.scss';
@import './components/_button.scss';
@import './components/_header.scss';
@import './components/_navigation.scss';
@import './components/_cookie.scss';
@import './components/_isi.scss';
@import './components/_references.scss';
@import './components/_cta.scss';
@import './components/_footer.scss';
@import './components/work-box';
@import './components/_main-hero.scss';


//-------------------------------------------------------------lets work together section-------------------------------------------------------------    
.lets-work{
    padding-bottom: 2rem;
    &__title{
        color: $color-dark-green;
        margin-bottom: 1.6694rem;

        @include media('tablet') {
            margin-bottom: 2.6694rem;
        }
    }

    .work-box{
        margin-bottom: 1.25rem;
        @media screen and (min-width:768px) {
            margin-bottom: 4.25rem;
        }

        @media screen and (min-width:970px) {
            margin-bottom: 1.25rem;
        }
    }
    
    &__boxes{
        @media screen and (min-width:970px) {
            display: flex;
            max-width: 64.5rem;
            margin: auto;
        }
    }

    .modifier{
        max-width: 9.75rem;
        @media screen and (min-width:360px) {
            max-width: 11.625rem;
        }
        @media screen and (min-width:800px) {
            
                max-width: 13.375rem;
            
        }
    }
}
//-------------------------------------------------------------lets work together section-------------------------------------------------------------    