// Import
@import './settings/_reset.scss';
@import './settings/_variables.scss';
@import './settings/_fonts.scss';
@import './settings/_mixins.scss';
@import './settings/_layouts.scss';
@import './settings/_global.scss';
@import './settings/_utils.scss';
@import './components/_button.scss';
@import './components/_header.scss';
@import './components/_navigation.scss';
@import './components/_internal-navigation.scss';
@import './components/_cookie.scss';
@import './components/_isi.scss';
@import './components/_references.scss';
@import './components/_tabs.scss';
@import './components/_cta.scss';
@import './components/_footer.scss';
@import './components/work-box';
@import './components/steps-box';
@import './components/exit-modal';
@import './components/_main-hero.scss';
@import './components/_page-hero.scss';
@import './components/_testimonial.scss';
@import './components/_not-found-hero.scss';
@import './components/_custom-section.scss';
@import './components/_request-rep-modal.scss';
@import './components/_form.scss';
@import './components/_skeleton.scss';


//-------------------------------------------------------------lets work together section-------------------------------------------------------------
.lets-work {
    padding-top: 2rem;
    padding-bottom: 5rem;

    &__title {
        color: $color-dark-green;
        margin-bottom: 1.6694rem;

        @include media('tablet') {
            margin-bottom: 2.6694rem;
        }
    }

    .work-box {
        margin-bottom: 1.25rem;

        @media screen and (min-width:768px) {
            margin-bottom: 4.25rem;
            margin-right: .3125rem;
        }

        @media screen and (min-width:980px) {
            margin: auto !important;
            margin-right: 0;
        }

        @media screen and (min-width:970px) {
            margin-bottom: 1.25rem;
        }
    }

    &__boxes {
        @media screen and (min-width:768px) {
            display: flex;
            max-width: 64.5rem;
            margin: auto;
        }
    }

    .modifier {
        max-width: 8.75rem;

        @media screen and (min-width:370px) {
            max-width: 11.625rem;
        }

        @media screen and (min-width:800px) {

            max-width: 13.375rem;

        }
    }
}

//-------------------------------------------------------------lets work together section-------------------------------------------------------------


// How it works page
.how-it-works__page-hero {
    .page-hero__title br {
        @media screen and (min-width: 500px) {
            display: none;
        }
    }
}

// Clinical data page - Overview
.clinical-data-overview__page-hero {
    .page-hero__title {
        @media screen and (min-width: 500px) {
            br {
                display: none;
            }
        }

        @media screen and (min-width: 768px) {
            max-width: 28.75rem;
        }
    }
}

// Clinical data page - infants young children
.clinical-data-infants-young-children__page-hero {
    .page-hero__title {
        @media screen and (min-width: 500px) {
            br {
                display: none;
            }
        }

        @media screen and (min-width: 768px) {
            max-width: 28.75rem;
        }
    }
}

// Clinical data page - infants young children
.clinical-data-children__page-hero {
    .page-hero__title {
        @media screen and (min-width: 500px) {
            br {
                display: none;
            }
        }

        @media screen and (min-width: 768px) {
            max-width: 43.75rem;
        }

        @media screen and (min-width: 1024px) {
            max-width: 36.75rem;
            margin-bottom: 1rem;
        }
    }
}

// Clinical data page - adolescents
.clinical-data-adolescents__page-hero {
    .page-hero__title {
        br {
            display: none;
        }

        @media screen and (min-width: 1024px) {
            br {
                display: block;
            }
        }
    }
}

//Dosing page
.dosing__page-hero {
    .page-hero__title {
        br {
            display: none;
        }

        @media screen and (min-width: 1024px) {
            br {
                display: block;
            }
        }
    }
}


//-------------------------------------------------------------toolkit steps section -------------------------------------------------------------
.toolkit-steps {
    margin-top: 1.5625rem;
    margin-bottom: 2rem;

    @include media('tablet') {
        margin-top: 3rem;
    }

    &__desc {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 2.3438rem;
        margin-bottom: 2rem;
        color: $color-dark-green;

        @media screen and (min-width: 1200px) {
            font-size: 1.875rem;
            margin-bottom: 3rem;
        }
    }

    &__boxes {

        @include media('tablet') {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
    }

    .image-modifier {
        width: 4.1856rem;
    }

    .title-modifier {
        line-height: 4.5rem;

        @media screen and (min-width:1024px) {
            line-height: 4.375rem !important;
        }

        @media screen and (min-width:1366px) {
            line-height: 4.5rem;
        }
    }
}

//-------------------------------------------------------------toolkit steps section -------------------------------------------------------------    

//-------------------------------------------------------------how it works page -------------------------------------------------------------    
.hiw{
    .custom-section{

        padding-top: 1.875rem;

    }
    .hpp{
    
        padding-bottom: 1.875rem!important;
    
    
        &__title{
            font-style: normal;
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.5625rem;
            letter-spacing: -0.0313rem;
            color: $color-dark-green;
            max-width: 33.8125rem;

            @media screen and (min-width:1024px) {
            font-weight: 700;
            font-size: 30px;
            line-height: 2.375rem;
            }
        }
    
        &__sub-title{
            font-style: normal;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 1.375rem;
            color: $color-dark-gray;
            margin-top: 1.25rem;
            margin-bottom: .6875rem;
            max-width: 39.6875rem;
            
            @media screen and (min-width:1024px) {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 2.25rem;
            margin-bottom: 2rem;
            }
        }
    
        &__block{
            max-width: 39.6875rem;
            margin: auto;
            @media screen and (min-width:1024px) {
                margin: unset;
                width: 26.875rem;
            }
            @media screen and (min-width:1400px) {
                width: 39.6875rem;
            }
        }
    
        &__normal-text{
            font-style: normal;
            font-weight: 300;
            font-size: .875rem;
            line-height: 1.125rem;
            margin-bottom: .9375rem;
            max-width: 39.6875rem;
        }
    
        &__item{
            font-style: normal;
            font-weight: 300;
            font-size: .875rem;
            line-height: 125%;
            color: $color-dark-gray;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: .25rem;

            @media screen and (min-width:768px) {
            font-size: 1.125rem;
            }
        }
        &__item-nosub{
            font-style: normal;
            font-weight: 300;
            font-size: .875rem;
            line-height: 125%;
            color: $color-dark-gray;
            margin-top: 1.0625rem;
            margin-right: 1rem;
            margin-left: 1rem;
            margin-bottom: 2rem;
            @media screen and (min-width:768px) {
                font-size: 1.125rem;
                }

                &.modifier{
                    @media screen and (min-width:1024px) {
                        margin-bottom: .875rem;
                        }
                        @media screen and (min-width:1400px) {
                            margin-bottom: 2.125rem;
                        }
                }
        }
        
        &__sub-item{
            font-style: normal;
            font-weight: 300;
            font-size: .875rem;
            line-height: 1.125rem;
            color: $color-dark-gray;
            margin-left: 2.75rem;
            margin-bottom: 1.75rem;
            max-width: 17.8125rem;

            &.modifier{
                margin-top: .75rem;
                margin-bottom: 1.6875rem;
            }

            @media screen and (min-width:768px) {
                font-size: 1.125rem;
                max-width: unset;
            }
            @media screen and (min-width:1024px) {
                margin-top: .25rem;
                margin-bottom: .25rem;
            }
        }
    
        &__image{
            width: 100%;
        }
    
        &__image-disclaimer{
            font-style: normal;
            font-weight: 300;
            font-size: .625rem;
            line-height: .75rem;    
            text-align: center;
            color: $color-dark-gray;
            margin-bottom: 1.8125rem;

            @media screen and (min-width:1024px) {
            margin-bottom: 0;
            text-align: left;
            font-size: .75rem;
            }
        }

        &__container{
            margin: auto;
            @media screen and (min-width:1024px) {
                display: flex;
                justify-content: space-between;
                
                :first-child{
                    width: 27.0625rem;
                    margin-right: 5px;
                    margin-top: 3px;

                    @media screen and (min-width:1400px) {
                        width: 39.6875rem;
                    }
                }
            }
        }

    }

    .moa{
        background: rgba(226, 231, 234, 0.5);
        overflow: hidden;
        &.custom-section{
            margin-top: 1.875rem;
            padding-bottom: 1.875rem;
        }
        .hpp__image{
            &.modifier{
                @media screen and (min-width:1024px) {
                margin-top: 7rem;
                }

                @media screen and (min-width:1400px) {
                    margin-top: 6.125rem;
                }
            }
        }

        &__container{
            margin: auto;
            @media screen and (min-width:1024px) {
                display: flex;
                justify-content: space-between;
                
                :first-child{
                    width: 27.0625rem;
                    margin-right: 5px;
                    margin-top: 3px;
                }
            }
        }
    }
}

.without-strensiq{
    max-width: 20.5rem;
    padding-top: 8.125rem;
    position: relative;

    @media screen and (min-width:650px) {
        padding-left: 10%;
    }
    @media screen and (min-width:900px) {
        max-width: 21.25rem;
    }
    @media screen and (min-width:1345px) {
        padding-left: 3%;
    }
    @media screen and (min-width:1500px) {
        padding-left: 0;
    }
    
    &__title{
        position: relative;
        z-index:2;
        font-style: normal;
        font-weight: 900;
        font-size: 2.8125rem;
        line-height: 2.75rem;    
        letter-spacing: -0.03em;
        color: $color-dark-green;

        @media screen and (min-width:900px) {
            font-size: 70px;
            line-height: 3.9375rem;
        }
    }
    &__text{
        position: relative;
        z-index:2;
        font-style: normal;
        font-weight: 300;
        font-size: .875rem;
        line-height: 1.125rem;
        color: $color-dark-gray;
        
        @media screen and (min-width:900px) {
        font-size: 18px;
        line-height: 1.6875rem;
        }
    }

    &__sub-title{
        position: relative;
        z-index:2;
        font-style: normal;
        font-weight: 700;
        font-size: .875rem;
        line-height: 1.125rem;
        color: $color-dark-green;

        @media screen and (min-width:900px) {
            font-size: 18px;
            line-height: 1.6875rem;
        }
    }

    .steps-box__content-line{
        position: relative;
        z-index: 2;
        
    }

    &__shape{
        position: absolute;
        z-index: 1;
        width: 73.0269rem;
        height: 37.0644rem;
        left: -15.0581rem;
        top: 10.75rem;
        background: $color-white;
        border-radius: 36.3544rem;
        transform: rotate(26.66deg);

        @media screen and (min-width:600px) {
            transform: rotate(17.66deg);
        }
        @media screen and (min-width:650px) {
            left: -10.0581rem;
            top: 8.75rem;
        }

        @media screen and (min-width:900px) {
            width: 90.0269rem;
            left: -6.0581rem;
            top: 11.75rem;
        }
        @media screen and (min-width:1190px) {
            width: 200.0269rem;
            left: -10.0581rem;
            top: 27.75rem;
            
        }
        @media screen and (min-width:1500px) {
            left: -16.0581rem;
            width: 257.0269rem;
            top: 34.75rem;
        }
        @media screen and (min-width:1750px) {
            left: -20.0581rem;
            width: 303.0269rem;
            top: 43.75rem;
        }
        @media screen and (min-width:1820px) {
            left: -36.0581rem;
            width: 387.0269rem;
            top: 50.75rem;
            height: 80.0644rem;
        }
        @media screen and (min-width:2000px) {
            left: -67.0581rem;
            width: 612.0269rem;
            top: 102.75rem;
            height: 152.0644rem;
            transform: rotate(22.66deg);
            
        }
        @media screen and (min-width:2300px) {
            left: -195.0581rem;
            width: 769.0269rem;
            top: 204.75rem;
            height: 290.0644rem;
            transform: rotate(41.66deg);
        }

    }

}
//-------------------------------------------------------------how it works page -------------------------------------------------------------    


/* Hypophosphatasia Page */
.skeleton-container {
    background-color: rgba($color-bright-gray, 50%);
    // background-color: $color-bright-gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 1.5rem;
    position: relative;
    width: 100%;

    @include media('desktop') {
        justify-content: space-around;
        padding: 0;
    }

    h2 {
        color: $color-dark-green;
        font-weight: 700;
        margin-bottom: .625rem;

        @include media('desktop') {
            margin-bottom: .9375rem;
        }
    }

    &::after {
        @include media('desktop') {
            background-color: $color-dark-green;
            border-radius: 36.3544rem 0 0 0;
            content: '';
            height: 100%;
            position: absolute;
            right: 0;
            width: 68%;
            z-index: 0;
        }
    }

    &__content {
        z-index: 1;

        p {
            font-size: 14px;
            line-height: 1.0938rem;
            margin-bottom: 1.875rem;

            &.skeleton-container__footnote {
                font-size: 12px;
                line-height: .9rem;
            }
        }

        @include media('desktop') {
            max-width: 48ch;
            padding: 2rem 0 0 0;

            p {
                font-size: 18px;
                line-height: 1.6875rem;
            }
        }
    }

    &__symbol {
        font-size: 10px;
        top: -4px;
    }

    &__skeleton {
        border-radius: 1.875rem;
        background-color: $color-dark-green;
        z-index: 1;

        @media (min-width: 870px) {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        @include media('desktop') {
            background-color: transparent;
            padding-right: 2.5rem;
            width: fit-content;
        }
    }

    .skeleton--desktop {
        border-radius: 0;
        display: none;
        min-width: 43.75rem;
        padding: 3.125rem 0 0;

        @media (min-width: 870px) {
            background-color: transparent;
            display: flex
        }
    }

    .skeleton--mobile {

        @media (min-width: 870px) {
            display: none;
        }
    }
}
