---
import PageHero from "../components/PageHero.astro";
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import InternalNavigation from "../components/InternalNavigation.astro";
import References from "../components/References.astro";

const internalNavLinks = [
  { href: "dosing", label: "Dosing", active: true },
  { href: "injection-site", label: "Injection site reactions" },
  { href: "alp-levels", label: "ALP levels" },
];
---

<Layout title="Dosing">
  <PageHero pageId="dosing" classNames="dosing__page-hero">
    <h1 class="page-hero__title">
      STRENSIQ offers<br /> at-home dosing<sup>1</sup>
    </h1>
  </PageHero>

  {
    internalNavLinks && (
      <InternalNavigation items={internalNavLinks} icon={false} />
    )
  }

  <section id="dosing" class="section dosing wrapper">
    <div class="dosing__container">
      <div class="dosing__first">
        <h2 class="dosing__first__title">Two dosing options<sup>1</sup></h2>

        <div class="dosing__first__text">
          <p>
            STRENSIQ is a subcutaneous, weight-based injection that can be
            self-administered by patients or caregivers.
          </p>

          <p>
            If patients with perinatal/infantile-onset hypophosphatasia
            experience lack of efficacy (eg, no improvement in respiratory
            status, growth, or radiographic findings), dosage may be increased
            to 3 mg/kg, 3 times per week.
          </p>

          <p class="modifier">
            Patient’s weight should be checked regularly for optimal dosing.
          </p>
        </div>
      </div>

      <div class="dosing__second">
        <h2 class="dosing__second__title">
          The recommended dosage of STRENSIQ is <br>6 mg/kg of body weight per week,
          as either<sup>1</sup>
        </h2>

        <div class="dosing__second__shapes">
          <div class="dosing__second__shapes__container">
            <div>
              <p class="shape-heading">1 mg/kg</p>
              <p class="shape-body">6x <span>per week</span></p>
              <div class="steps-box__content-line"></div>
            </div>
            <div class="dosing__second__shape--one"></div>
          </div>

          <div class="dosing__second__shapes__container modifier">
            <div>
              <p class="shape-heading">2 mg/kg</p>
              <p class="shape-body">3x <span>per week</span></p>
              <div class="steps-box__content-line modifier"></div>
            </div>
            <div class="dosing__second__shape--two"></div>
          </div>
        </div>

        <p class="pdf-text">
          To assist your patients who have been prescribed STRENSIQ
        </p>

        <a
          class="button button--tertiary document-link"
          target="_blank"
          href="https://strensiq-hcp.com/-/media/Alexion_strensiq-hcp_Redesign_com/Documents/Strensiq_INSTRUCTIONS_FOR_USE.pdf"
          >Download the Instructions for Use</a
        >
      </div>
    </div>
  </section>

  <section id="injection-site" class="section injection-site">
    <div class="wrapper">
      <div class="injection-site__container">
        <div class="injection-site__first">
          <h2 class="injection-site__first__title">
            Help patients minimize injection site reactions (ISRs)<sup>1</sup>
          </h2>

          <ul class="injection-site__list">
            <li class="injection-site__item">
              Administering STRENSIQ at 2 mg/kg, 3 times per week, may help
              reduce the frequency of ISRs
            </li>
            <li class="injection-site__item">
              Rotating the injection site may also help reduce the frequency of
              ISRs
            </li>
            <li class="injection-site__item">
              Take STRENSIQ out of the refrigerator 15 to 30 minutes before
              injecting to allow the liquid to reach room temperature
            </li>
            <li class="injection-site__item">
              Do not warm STRENSIQ in any other way (eg, do not warm it in a
              microwave or in hot water)
            </li>
          </ul>
        </div>

        <div class="injection-site__second">
          <p class="injection-site__second__sub-heading">Pro tip!</p>

          <h2 class="injection-site__second__heading">
            OneSource™ <br />
            <span>case managers provide free,</span>
          </h2>

          <p class="injection-site__second__sub-text">
            personalized injection support
          </p>

          <p class="injection-site__second__text">for enrolled patients</p>

          <div class="steps-box__content-line"></div>

          <div class="injection-site__second__shape"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="alp-levels" class="section alp-levels">
    <div class="wrapper">
      <div class="alp-levels__container">
        <div class="alp-levels__first">
          <h2 class="alp-levels__first__heading">
            When things aren’t level: alkaline phosphatase (ALP) levels can be
            elevated in patients taking STRENSIQ<sup>1,2</sup>
          </h2>
          <p class="alp-levels__first__text">
            Circulating concentrations of asfotase alfa may result in elevated
            serum alkaline phosphatase levels.
          </p>
          <ul class="alp-levels__list">
            <li class="alp-levels__item">
              Alkaline phosphatase levels may increase into the thousands, with
              most notable changes occurring in the first 4 weeks of initiating
              therapy, and can remain dramatically elevated with continuous
              treatment
            </li>
            <li class="alp-levels__item">
              Elevated alkaline phosphatase levels do not appear to have harmful
              effects in patients with hypophosphatasia
            </li>
          </ul>
        </div>

        <div class="alp-levels__second">
          <div class="shapes">
            <div class="alp-levels__second__shape">
              <p class="alp-levels__second__text">
                Do not rely on serum alkaline phosphatase measurements for
                clinical decisions related to patients receiving STRENSIQ<sup
                  >1,2</sup
                >
              </p>
            </div>
            <div class="alp-levels__second__shape--secondary"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <CTA
    heading="Getting started is easier <br class='mobile'> when you have the <br /> right tools"
    linkText="Toolkit"
    linkUrl="/toolkit"
    classNames="dosing__cta"
  />
  <References>
    <p>
      <strong>References: 1.</strong> STRENSIQ. Package insert. Alexion Pharmaceuticals,
      Inc. <strong>2.</strong> Bowden SA, Foster BL. Profile of asfotase alfa in
      the treatment of hypophosphatasia: design, development, and place in therapy.
      <i>Drug Des Devel Ther.</i> 2018;12:3147-3161.
    </p>
  </References>
</Layout>
