---
import PageHero from "../components/PageHero.astro";
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
---

<Layout title="Dosing">
  <PageHero pageId="dosing" classNames="dosing__page-hero">
    <h1 class="page-hero__title">
      STRENSIQ offers<br /> at-home dosing
    </h1>
  </PageHero>
  <CTA
    heading="Getting started is easier  when you have the right tools"
    linkText="Toolkit"
    linkUrl="/toolkit"
  />
</Layout>
