---
import PageHero from "../components/PageHero.astro";
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import Section from "../components/Section.astro";
import InternalNavigation from "../components/InternalNavigation.astro";
import References from "../components/References.astro";

const internalNavLinks = [
  { href: "hpp-mod", label: "HPP MOD", active: true },
  { href: "strensiq-moa", label: "STRENSIQ MOA" },
];
---

<div class="hiw">
  <Layout title="How It Works">
    <PageHero pageId="how-it-works" classNames="how-it-works__page-hero">
      <h1 class="page-hero__title">
        Only STRENSIQ gets straight to the source of hypophosphatasia (HPP)<sup>1</sup>
      </h1>
    </PageHero>
    {
      internalNavLinks && (
        <InternalNavigation items={internalNavLinks} icon={false} />
      )
    }

    <Section id="hpp-mod" classnames="section">
      <p id="HPP-MOD" class="custom-section__title" slot="header">
        Hypophosphatasia mechanism of disease (MOD)
      </p>
      <div class="hpp hpp--first">
        <h1 class="hpp__title">
          How low alkaline phosphatase (ALP) can be damaging<sup>2</sup>
        </h1>

        <h2 class="hpp__sub-title">
          Under normal circumstances<sup>2-4</sup>:
        </h2>

        <div class="hpp__container">
          <div class="hpp__block hpp__block--left">
            <ul class="hpp__list">
              <li class="hpp__item">
                Alkaline phosphatase dephosphorylates inorganic pyrophosphate
                (PPi) to releaseinorganic phosphate (Pi)
              </li>
              <li class="hpp__sub-item">
                Pi then combines with calcium to form hydroxyapatite crystal,
                the foundation of bone formation
              </li>
            </ul>
            <div class="hpp__img-container">
              <img
                src="/assets/images/how-it-works/first-hpp.svg"
                alt=""
                class="hpp__image"
              />
            </div>
            <p class="hpp__image-disclaimer hpp__image-disclaimer--first">
              Images created for Alexion Pharmaceuticals, Inc. for illustrative
              purposes.
            </p>
          </div>
          <div class="hpp__block hpp__block--right">
            <ul class="hpp__list">
              <li class="hpp__item">
                Alkaline phosphatase also dephosphorylates pyridoxal
                5&#39;-phosphate (PLP, the active form of vitamin B<sub>6</sub>)
                into pyridoxal, allowing it to cross the blood brain barrier
                into the central nervous system (CNS) where it is re-generated
                into PLP
              </li>
              <li class="hpp__sub-item">
                PLP is required for the metabolism of neurotransmitters
              </li>
            </ul>
            <div class="hpp__img-container">
              <img
                src="/assets/images/how-it-works/hpp-second.svg"
                alt=""
                class="hpp__image"
              />
            </div>
            <p class="hpp__image-disclaimer hpp__image-disclaimer--second">
              Images created for Alexion Pharmaceuticals, Inc. for illustrative purposes.
            </p>
          </div>
        </div>
      </div>
      <div class="hpp hpp--second">
        <h2 class="hpp__sub-title">
          In patients with hypophosphatasia, loss-of-function mutation on the <i>ALPL</i> gene causes deficient alkaline phosphatase, resulting in low alkaline phosphatase activity.<sup>2-8</sup>
        </h2>
        <p class="hpp__normal-text">
          When alkaline phosphatase activity is low, PPi, PLP, and calcium accumulate, contributing to complications throughout the body.
        </p>
        <div class="hpp__container">
          <div class="hpp__block hpp__block--left">
            <ul class="hpp__list">
              <li class="hpp__item">
                Excess PPi prevents the formation of hydroxyapatite crystal needed for bone mineralization
              </li>
              <li class="hpp__item-nosub">
                Excess calcium may cause various renal complications like hypercalcemia, nephrocalcinosis, and pseudogout
              </li>
            </ul>
            <div class="hpp__img-container">
              <img
                src="/assets/images/how-it-works/hpp-third.svg"
                alt=""
                class="hpp__image"
              />
            </div>
            <p class="hpp__image-disclaimer hpp__image-disclaimer--third">
              Images created for Alexion Pharmaceuticals, Inc. for illustrative purposes.
            </p>
          </div>

          <div class="hpp__block hpp__block--right">
            <ul class="hpp__list">
              <li class="hpp__item">
                Excess PLP results in deficient vitamin B6 in the CNS, which can cause some neurologic symptoms like (eg, seizures in infants)
              </li>
              <li class="hpp__item-nosub modifier">
                Phosphoethanolamine (PEA) levels are also elevated in patients with hypophosphatasia. To date, the effects of PEA are not fully understood
              </li>
            </ul>
            <div class="hpp__img-container">
              <img
                src="/assets/images/how-it-works/hpp-fourth.svg"
                alt=""
                class="hpp__image"
              />
            </div>
            <p class="hpp__image-disclaimer hpp__image-disclaimer--fourth">
              Images created for Alexion Pharmaceuticals, Inc. for illustrative purposes.
            </p>
          </div>
        </div>
      </div>
    </Section>

    <Section classnames="moa section" id="strensiq-moa">
      <p class="custom-section__title" slot="header">
        STRENSIQ mechanism of action (MOA)
      </p>

      <div class="hpp hpp--third">
        <h1 class="hpp__title">
          Only STRENSIQ replaces the deficient alkaline phosphatase enzyme for patients with HPP<sup>1</sup>
        </h1>
        <h2 class="hpp__sub-title">
          Replacing alkaline phosphatase enables bone mineralization and reduces levels of substrates.<sup>1,9</sup>
        </h2>

        <div class="hpp__container">
          <div class="hpp__block hpp__block--left">
            <ul class="hpp__list">
              <li class="hpp__item-nosub">
                STRENSIQ cleaves Pi from PPi so Pi can combine with calcium to form hydroxyapatite crystal, the foundation of strong bone
              </li>
            </ul>
            <div class="hpp__img-container">
              <img
                src="/assets/images/how-it-works/hpp-fifth.svg"
                alt=""
                class="hpp__image modifier"
              />
            </div>
            <p class="hpp__image-disclaimer hpp__image-disclaimer--fifth">
              Images created for Alexion Pharmaceuticals, Inc. for illustrative purposes.
            </p>
          </div>

          <div class="hpp__block hpp__block--right">
            <ul class="hpp__list">
              <li class="hpp__item">
                STRENSIQ reduces elevated levels of systemic PPi and PLP (the active form of vitamin B<sub>6</sub>)
              </li>
              <li class="hpp__sub-item modifier">
                Reductions in plasma PPi and PLP did not correlate with clinical outcomes
              </li>
              <li class="hpp__sub-item modifier">
                The effect of STRENSIQ on PEA was not measured in clinical trials
              </li>
            </ul>
            <div class="hpp__img-container">
              <img
                src="/assets/images/how-it-works/hpp-sixth.svg"
                alt=""
                class="hpp__image"
              />
            </div>
            <p class="hpp__image-disclaimer hpp__image-disclaimer--sixth">
              Images created for Alexion Pharmaceuticals, Inc. for illustrative purposes.
            </p>
          </div>
        </div>

        <div class="without-strensiq">
          <h2 class="without-strensiq__title">Without STRENSIQ</h2>
          <p class="without-strensiq__text">
            deficient alkaline phosphatase activity and bone mineralization
          </p>
          <h6 class="without-strensiq__sub-title">will not improve<sup>2,10-13</sup></h6>
          <div class="steps-box__content-line"></div>
          <div class="without-strensiq__shape"></div>
        </div>
      </div>
    </Section>

    <CTA
      heading="Learn more about the treatment for HPP that answers the call"
      linkText="Clinical data"
      linkUrl="/clinical-data/overview"
    />
    <References slot="references">
      <p>
        <strong>References: 1.</strong> STRENSIQ. Package insert. Alexion Pharmaceuticals, Inc. <strong>2.</strong> Rockman-Greenberg C. Hypophosphatasia. <i>Pediatr Endocrinol Rev.</i> 2013;10(suppl 2):380-388. <strong>3.</strong> Taketani T. Neurological symptoms of hypophosphatasia. In: Fonta C, Negyessy L (eds). <i>Neuronal Tissue-Nonspecific Alkaline Phosphatase (TNAP).</i> Springer; 2015:309-322. <strong>4.</strong> Surtees E, Mills P, Clayton P. Inborn errors affecting vitamin B6 metabolism. <i>Future Neurol.</i> 2006;1(5):615-620. <strong>5.</strong> Bianchi ML, Bishop NJ, Gua&#241;abens N, et al; Rare Bone Disease Action Group of the European Calcified Tissue Society Hypophosphatasia in adolescents and adults: overview of diagnosis and treatment. <i>Osteoporos Int.</i> 2020;31(8):1445-1460. <strong>6.</strong> Conti F, Ciullini L, Pugliese G. Hypophosphatasia: clinical manifestation and burden of disease in adult patients. <i>Clin Cases Miner Bone Metab.</i> 2017;14(2):230-234. <strong>7.</strong> Salles JP. Hypophosphatasia: biological and clinical aspects, avenues for therapy. <i>Clin Biochem Rev.</i> 2020;41(1):13-27. <strong>8.</strong> Colazo JM, Hu JR, Dahir KM, et al. Neurological symptoms in hypophosphatasia. <i>Osteoporos Int.</i> 2019;30(2):469-480. <strong>9.</strong> Orimo H. The mechanism of mineralization and the role of alkaline phosphatase in health and disease. <i>J Nippon Med Sch.</i> 2010;77(1):4-12. <strong>10.</strong> Whyte MP, Leung E, Wilcox W, et al. Natural history of perinatal and infantile hypophosphatasia: a retrospective study. <i>J Pediatr.</i> 2019;209:116&#8722;124.e4. <strong>11.</strong> Szabo SM, Tomazos IC, Petryk A, et al. Frequency and age at occurrence of clinical manifestations of disease in patients with hypophosphatasia: a systematic literature review. <i>Orphanet J Rare Dis.</i> 2019;14(1):85. <strong>12.</strong> Weber TJ, Sawyer EK, Moseley S, Odrljin T, Kishnani PS. Burden of disease in adult patients with hypophosphatasia: results from two patient-reported surveys. <i>Metabolism.</i> 2016;65(10):1522-1530. <strong>13.</strong> Rush ET, Moseley S, Petryk A. Burden of disease in pediatric patients with hypophosphatasia: results from the HPP Impact Patient Survey and the HPP Outcomes Study Telephone interview. <i>Orphanet J Rare Dis.</i> 2019;14(1):201.
      </p>
    </References>
  </Layout>
</div>
