---
import PageHero from "../components/PageHero.astro";
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import References from "../components/References.astro";
---

<Layout title="How It Works">
  <PageHero pageId="how-it-works" classNames="how-it-works__page-hero">
    <h1 class="page-hero__title">
      Only STRENSIQ starts <br /> at the source of hypophosphatasia (HPP)
    </h1>
  </PageHero>
  <CTA
    heading="Learn more about the treatment that answers the call"
    linkText="Clinical data"
    linkUrl="/clinical-data/overview"
  />
  <References />
</Layout>
