---
import CTA from "../components/CTA.astro";
import PageHero from "../components/PageHero.astro";
import References from "../components/References.astro";
import Layout from "../layouts/Layout.astro";
import Testimonial from "../components/Testimonial.astro";
import SkeletonMobile from "../components/SkeletonMobile.astro";
import SkeletonDesktop from "../components/SkeletonDesktop.astro";
import InternalNavigation from "../components/InternalNavigation.astro";
import HighlightInformation from "../components/HighlightInformation.astro";
const internalNavLinks = [
  { href: "about", label: "About HPP", active: true },
  { href: "symptoms", label: "Symptoms" },
  { href: "disease", label: "Burden of disease" },
  { href: "misdiagnoses", label: "Common misdiagnoses" },
];
---

<Layout title="Hypophosphatasia">
  <PageHero pageId="hypophosphatasia">
    <h1 class="page-hero__title">Hypophosphatasia can be damaging<sup>1-4</sup></h1>
  </PageHero>

  {
    internalNavLinks && (
      <InternalNavigation items={internalNavLinks} icon={false} />
    )
  }
  <section
    id="about"
    class="section hypophosphatasia-container hypophosphatasia-container--children"
  >
    <div class="wrapper">
      <section class="hypophosphatasia-container__content">
        <h2 class="color--dark-green hypophosphatasia-container__title">
          Hypophosphatasia (HPP) results from deficient alkaline phosphatase
          (ALP)<sup>1,5</sup>
        </h2>
        <p class="hypophosphatasia-container__paragraph">Hypophosphatasia is an inherited, multisystemic, rare metabolic disorder characterized by deficient alkaline phosphatase activity that may progress over time.<sup>1,6</sup></p>
        <p class="hypophosphatasia-container__paragraph">Patients with hypophosphatasia have a loss-of-function mutation on the <span class="text--italic">ALPL</span> gene causing low levels of alkaline phosphatase enzyme activity.<sup>1</sup></p>
        <HighlightInformation
          title="WHAT IS LOW ALP?"
          footnote="is considered low for adults<sup>7-11*</sup>"
        >
          <span slot="content">&#60;40 U/L</span>
        </HighlightInformation>
        <p class="hypophosphatasia-container__paragraph mbottom--50"><sup>*</sup>Limitations: An alkaline phosphatase level of below 40 U/L is not conclusive for a diagnosis of hypophosphatasia. Patient should be evaluated for other symptoms of hypophosphatasia and differential diagnoses should be ruled out.</p>
        <HighlightInformation
          title="IN CHILDREN, low ranges"
          footnote="based on age and sex<sup>1,12,13</sup>"
        >
          <span slot="content">vary</span>
        </HighlightInformation>
        <ul class="hypophosphatasia-container__list">
          <li class="hypophosphatasia-container__list-item">
            <p>
              Clinicians should ensure that reported laboratory results for ALP reflect age- and sex-adjusted reference ranges for the specific patient
            </p>
          </li>
          <li class="hypophosphatasia-container__list-item">
            <p>
              Check with your lab for their appropriate age- and sex-adjusted reference range
            </p>
          </li>
        </ul>
      </section>
      <section class="hypophosphatasia-container__tabs-container">
        <ul role="tablist" class="hypophosphatasia-container__tabs">
          <li role="presentation">
            <a href="#female" role="tab" id="femaletab" aria-selected="true"
              >Female</a
            >
          </li>
          <li role="presentation">
            <a href="#male" role="tab" id="maletab" tabindex="-1">Male</a>
          </li>
        </ul>
        <section
          id="female"
          role="tabpanel"
          aria-labelledby="femaletab"
          aria-hidden="false"
          tabindex="-1"
          class="hypophosphatasia-container__panel"
        >
          <h5 class="hypophosphatasia-container__panel-title">
            Age- and sex-adjusted ALP reference ranges for children (U/L)<sup>7-11</sup>
          </h5>
          <section class="hypophosphatasia-container__panel-content">
            <picture class="hypophosphatasia-container__panel-chart">
              <source
                media="(min-width: 768px)"
                srcset="/assets/images/hypophosphatasia/chart-desktop-female.png"
              />
              <img
                src="/assets/images/hypophosphatasia/chart-mobile-female.png"
                alt=" "
              />
            </picture>
            <p class="hypophosphatasia-container__panel-footnote">
              Graph adapted from the Canadian Laboratory initiative on Pediatric Reference Intervals (CALIPER) project. CALIPER samples from 1072 male and 1116 female participants (newborn to 18 years) were used to calculate age- and sex-specific reference intervals. No variation in ALP based on ethnic differences was observed. Check with your lab for their appropriate age- and sex-adjusted reference range.<sup>12</sup>
            </p>
          </section>
        </section>
        <section
          id="male"
          role="tabpanel"
          aria-labelledby="maletab"
          aria-hidden="true"
          tabindex="-1"
          hidden
          class="hypophosphatasia-container__panel"
        >
          <h5 class="hypophosphatasia-container__panel-title">
            Age- and sex-adjusted ALP reference ranges for children (U/L)<sup>7-12</sup>
          </h5>
          <section class="hypophosphatasia-container__panel-content">
            <picture class="hypophosphatasia-container__panel-chart">
              <source
                media="(min-width: 768px)"
                srcset="/assets/images/hypophosphatasia/chart-desktop-male.png"
              />
              <img
                src="/assets/images/hypophosphatasia/chart-mobile-male.png"
                alt=" "
              />
            </picture>
            <p class="hypophosphatasia-container__panel-footnote">
              Graph adapted from the Canadian Laboratory initiative on Pediatric Reference Intervals (CALIPER) project. CALIPER samples from 1072 male and 1116 female participants (newborn to 18 years) were used to calculate age- and sex-specific reference intervals. No variation in ALP based on ethnic differences was observed. Check with your lab for their appropriate age- and sex-adjusted reference range.<sup>12</sup>
            </p>
          </section>
        </section>
      </section>
    </div>
  </section>
  <section
    class="hypophosphatasia-container hypophosphatasia-container--testimonial"
  >
    <div class="wrapper">
      <Testimonial
        authorInformation="Eric Rush, MD, Clinical Geneticist"
        authorDescription="Alexion-sponsored speaker"
        page="hypophosphatasia"
        shapeType="right"
      >
        <p>
          As we continue to learn about hypophosphatasia, we are truly understanding that it is a multisystemic disease and not just a skeletal disease.
        </p>
      </Testimonial>
    </div>
  </section>
  <section
    id="symptoms"
    class="section hypophosphatasia-container hypophosphatasia-container--skeleton"
  >
    <div class="wrapper skeleton-container">
      <section class="skeleton-container__content">
        <h2>Hypophosphatasia compromises more than good bones<sup>1-4</sup></h2>
        <p>
          Persistently low alkaline phosphatase activity can be defined as 2 or more age- and sex-adjusted ALP levels below normal range in intervals of more than 30 days and can lead to progressive and varying symptoms in several systems of the body beyond the skeletal system.<sup>1-6,14</sup>
        </p>
        <p>
          These signs/symptoms may emerge at any time and can progress to potentially become debilitating.<sup>1,15,16</sup>
        </p>
      </section>
      <section class="skeleton-container__skeleton">
        <SkeletonMobile />
        <SkeletonDesktop />
      </section>
    </div>
  </section>
  <section
    id="disease"
    class="section hypophosphatasia-container hypophosphatasia-container--ages"
  >
    <div class="wrapper">
      <section class="hypophosphatasia-container__content">
        <h2 class="color--dark-green hypophosphatasia-container__title">
          Hypophosphatasia can erode patients’ quality of life<sup>1,4,15,16</sup>
        </h2>
        <p class="hypophosphatasia-container__paragraph">
          Hypophosphatasia manifests across a wide spectrum of severity. Patients can face progressive, potentially debilitating symptoms that may impair their quality of life.<sup>1,16</sup>
        </p>
        <p class="hypophosphatasia-container__paragraph">
          Neonates and infants with hypophosphatasia have a high risk of mortality and failure to thrive, making early and accurate diagnosis critical.<sup>1,2,24,25</sup>
        </p>
      </section>
      <section class="information">
        <p
          class="hypophosphatasia-container__paragraph hypophosphatasia-container__paragraph--highlight"
        >
          In patients with hypophosphatasia, symptom presentation may not accurately represent the degree of disease progression<sup>2,4,26-28</sup>
        </p>
      </section>
      <section class="hypophosphatasia-container__tabs-container">
        <ul role="tablist" class="hypophosphatasia-container__tabs">
          <li role="presentation">
            <a href="#neonates" role="tab" id="neonatestab" aria-selected="true">Neonates/Infants</a>
          </li>
          <li role="presentation">
            <a href="#chidlren" role="tab" id="childrentab" tabindex="-1">Children</a>
          </li>
          <li role="presentation">
            <a href="#adults" role="tab" id="adultstab" tabindex="-1">Adults</a>
          </li>
        </ul>
        <section
          id="neonates"
          role="tabpanel"
          aria-labelledby="neonatestab"
          aria-hidden="false"
          tabindex="-1"
          class="hypophosphatasia-container__panel hypophosphatasia-container__panel--flex"
        >
          <section class="hypophosphatasia-container__panel-content">
            <h5 class="color--dark-green hypophosphatasia-container__title">
              In neonates and infants<sup>29*</sup>
            </h5>
            <ul class="hypophosphatasia-container__list">
              <li class="hypophosphatasia-container__list-item">
                <p>
                  <span class="animated--bg">73%</span> of cases of untreated neonatal and infantile hypophosphatasia were fatal before the age of 5
                </p>
                <ul class="hypophosphatasia-container__sub-list">
                  <li class="hypophosphatasia-container__sub-list-item">
                    <p>
                      <span class="animated--bg">58%</span> of cases were fatal by 1 year of age
                    </p>
                  </li>
                </ul>
              </li>
              <li class="hypophosphatasia-container__list-item">
                <p>
                  <span class="animated--bg">64%</span> required respiratory support, most commonly invasive ventilation<sup>†</sup>
                </p>
                <ul class="hypophosphatasia-container__sub-list">
                  <li class="hypophosphatasia-container__sub-list-item">
                    <p>
                      <span class="animated--bg">95%</span> of cases requiring invasive ventilation were fatal
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
            <p class="hypophosphatasia-container__paragraph">
              The manifestations and complications of hypophosphatasia can place significant functional burden on neonatal and infant patients such as<sup>1,17</sup>:
            </p>
            <ul class="hypophosphatasia-container__list">
              <li class="hypophosphatasia-container__list-item">
                <p>Respiratory failure or insufficiency requiring support</p>
              </li>
              <li class="hypophosphatasia-container__list-item">
                <p>Severe skeletal hypomineralization</p>
              </li>
            </ul>
            <section class="hypophosphatasia-container__panel-footnote-container position--bottom">
              <p class="hypophosphatasia-container__panel-footnote">
                <sup>*</sup>Data from a multinational, noninterventional, retrospective chart review study designed to understand the natural history of 48 patients ≤5 years of age with perinatal- and infantile-onset HPP.<sup>29</sup>
              </p>
              <p class="hypophosphatasia-container__panel-footnote">
                <sup>†</sup>Data on respiratory support was available for 45 of the 48 patients.<sup>29</sup>
              </p>
            </section>
          </section>
          <section class="hypophosphatasia-container__panel-chart">
            <h5 class="hypophosphatasia-container__panel-title">
              In neonates and infants, hypophosphatasia has a high risk of mortality<sup>29</sup>
            </h5>
            <section class="hypophosphatasia-container__panel-content">
              <picture class="hypophosphatasia-container__panel-chart">
                <source
                  media="(min-width: 768px)"
                  srcset="/assets/images/hypophosphatasia/chart-desktop-neonates.png"
                />
                <img
                  src="/assets/images/hypophosphatasia/chart-mobile-neonates.png"
                  alt=" "
                />
              </picture>
              <p class="hypophosphatasia-container__panel-footnote">
                Adapted from Whyte M, et al. Poster presented at: Pediatric Academic Societies and Asian Society for Pediatric Research Joint Meeting; May 3-6, 2014; Vancouver, BC, Canada.
              </p>
            </section>
          </section>
        </section>
        <section
          id="children"
          role="tabpanel"
          aria-labelledby="childrentab"
          aria-hidden="true"
          tabindex="-1"
          hidden
          class="hypophosphatasia-container__panel hypophosphatasia-container__panel--flex"
        >
          <section class="hypophosphatasia-container__panel-content">

            <HighlightInformation
              title="in children<sup>16†</sup>"
              footnote="had clinically meaningful impairment in overall quality of life"
              breakLineAfterFootnote={true}
              className="highlight-information--contains-subcontent"
            >
              <span slot="content">50<sub>%</sub></span>
              <span class="highlight-information__sub-content" slot="content">(15/30)</span>
              <span slot="footnote">as reported by parents</span>
            </HighlightInformation>
            <HighlightInformation
              title="the global HPP registry (N=148) SHOWED<sup>2,a</sup>"
              footnote="of children experienced"
              breakLineAfterFootnote={true}>
              <span slot="content">~27<sub>%</sub></span>
              <span slot="footnote">neurologic symptoms</span>
            </HighlightInformation>
            <section class="hypophosphatasia-container__panel-footnote-container position--bottom">
              <p class="hypophosphatasia-container__panel-footnote">
                <sup>†</sup>Cross-sectional study reported by parents of 30 eligible children with hypophosphatasia (aged 3 to 16.6 years).<sup>16</sup>
              </p>
            </section>
          </section>
          <section class="hypophosphatasia-container__panel-chart">
            <h5 class="hypophosphatasia-container__panel-title">
              Hypophosphatasia can cause a wide range of symptoms, with impact beyond the skeletal system<sup>2,a</sup>
            </h5>
            <section class="hypophosphatasia-container__panel-content">
              <picture class="hypophosphatasia-container__panel-chart">
                <source
                  media="(min-width: 768px)"
                  srcset="/assets/images/hypophosphatasia/chart-desktop-children.png"
                />
                <img
                  src="/assets/images/hypophosphatasia/chart-mobile-children.png"
                  alt=" "
                />
              </picture>
              <p class="hypophosphatasia-container__panel-footnote">
                <sup>a</sup>Multinational, observational, prospective Global HPP Registry study conducted in children (N=121; &#60;18 years) from January 2015 to September 2017.
              </p>
            </section>
          </section>
        </section>
        <section
          id="adults"
          role="tabpanel"
          aria-labelledby="adultstab"
          aria-hidden="true"
          tabindex="-1"
          hidden
          class="hypophosphatasia-container__panel hypophosphatasia-container__panel--flex"
        >
          <section class="hypophosphatasia-container__panel-content">
            <h5 class="color--dark-green hypophosphatasia-container__title">
              A survey of patients and caregivers (N=51) found<sup>4‡</sup>:
            </h5>
            <ul class="hypophosphatasia-container__list">
              <li class="hypophosphatasia-container__list-item">
                <p>
                  <span class="animated--bg">86%</span> of adult patients reported difficulty walking
                </p>
              </li>
            </ul>
            <HighlightInformation
              title="According to the global HPP registry (N=148)<sup>2§</sup>"
              subtitle="adults with reported HPP manifestations &lt;18 years experienced"
            >
              <span slot="content">24.5<sub> years</sub></span>
              <span slot="footnote">median diagnostic delay</span
              >
            </HighlightInformation>
          </section>
          <section class="hypophosphatasia-container__panel-chart">
            <h5 class="hypophosphatasia-container__panel-title">
              History of select HPP manifestations in adults with pediatric-onset HPP (N=84)<sup>4‡</sup>
            </h5>
            <section class="hypophosphatasia-container__panel-content">
              <picture class="hypophosphatasia-container__panel-chart">
                <source
                  media="(min-width: 768px)"
                  srcset="/assets/images/hypophosphatasia/chart-desktop-adults.png"
                />
                <img
                  src="/assets/images/hypophosphatasia/chart-mobile-adults.png"
                  alt=" "
                />
              </picture>
            </section>
          </section>
          <section
            class="hypophosphatasia-container__panel-content
            hypophosphatasia-container__panel-footnotes-main hypophosphatasia-container__panel-content--flex"
          >
            <div class="footnotes-container footnotes-container--left">
              <p class="hypophosphatasia-container__panel-footnote hypophosphatasia-container__panel-footnote--only-desktop no--margin-bottom">
                <sup>‡</sup>Data collected from patients and caregivers via 2 survey instruments (web-based and phone interviews) to evaluate patient-reported symptomatology and burden of disease of hypophosphatasia (N=125). The majority of patients in this study (67%) reported pediatric onset of hypophosphatasia symptoms. Of patients reporting adult-onset hypophosphatasia (27%), 50% (17/34) reported history or surgeries suggestive of pediatric onset of symptoms.<sup>4</sup>
              </p>
              <p class="hypophosphatasia-container__panel-footnote hypophosphatasia-container__panel-footnote--only-desktop no--margin-bottom">
                <sup>§</sup>Observational, multinational, prospective Global HPP Registry study conducted in adults (n=148; ≥18 years) from January 2015–September 2017.<sup>2</sup>
              </p>
            </div>
            <div class="footnotes-container footnotes-container--right">
              <p class="hypophosphatasia-container__panel-footnote hypophosphatasia-container__panel-footnote--only-mobile no--margin-bottom">
                <sup>‡</sup>Data collected from patients and caregivers via 2 survey instruments (web-based and phone interviews) to evaluate patient-reported symptomatology and burden of disease of hypophosphatasia (N=125). The majority of patients in this study (67%) reported pediatric onset of hypophosphatasia symptoms. Of patients reporting adult-onset hypophosphatasia (27%), 50% (17/34) reported history or surgeries suggestive of pediatric onset of symptoms.<sup>4</sup>
              </p>
              <p class="hypophosphatasia-container__panel-footnote hypophosphatasia-container__panel-footnote--only-mobile no--margin-bottom">
                <sup>§</sup>Observational, multinational, prospective Global HPP Registry study conducted in adults (n=148; ≥18 years) from January 2015–September 2017.<sup>2</sup>
              </p>
            </div>
          </section>
        </section>
      </section>
    </div>
  </section>
  <section
    id="misdiagnoses"
    class="section hypophosphatasia-container hypophosphatasia-container--diagnosis hypophosphatasia-container--gray-bg"
  >
    <div class="wrapper">
      <section class="hypophosphatasia-container__content">
        <h2 class="color--dark-green hypophosphatasia-container__title">
          Nailing down an accurate diagnosis is crucial<sup>1,2,24,25</sup>
        </h2>
        <p class="hypophosphatasia-container__paragraph">
          Because symptoms of hypophosphatasia can mimic more common diseases, it is often overlooked and can lead to ineffective treatment that can exacerbate hypophosphatasia.<sup>30-32</sup>
        </p>
      </section>
      <section
        class="hypophosphatasia-container__content hypophosphatasia-container__content--treatments"
      >
        <p class="hypophosphatasia-container__paragraph">
          Treatments used for other more common diseases can be harmful to patients with hypophosphatasia<sup>4,32,34</sup>:
        </p>
        <ul class="hypophosphatasia-container__list">
          <li class="hypophosphatasia-container__list-item">
            <span>Bisphosphonates</span>
          </li>
          <li class="hypophosphatasia-container__list-item">
            <span>Antiresorptive agents</span>
          </li>
          <li class="hypophosphatasia-container__list-item">
            <span>Vitamin D</span>
          </li>
          <li class="hypophosphatasia-container__list-item">
            <span>Calcium</span>
          </li>
        </ul>
      </section>
      <section class="information">
        <p
          class="hypophosphatasia-container__paragraph hypophosphatasia-container__paragraph--highlight"
        >
          Hypophosphatasia can progress and become more debilitating<sup>1-4,15,33</sup>
        </p>
      </section>
    </div>
  </section>
  <CTA
    heading="Get to know the nuts and bolts of STRENSIQ"
    linkText="How it works"
    linkUrl="/how-it-works"
    classNames="cta-hypophosphatasia"
  />
  <References slot="references">
    <p>
      <strong>References: 1.</strong> Rockman-Greenberg C. Hypophosphatasia. <i>Pediatr Endocrinol Rev.</i> 2013;10(suppl 2):380-388. <strong>2.</strong> Hӧgler W, Langman C, Gomes da Silva H, et al. Diagnostic delay is common among patients with hypophosphatasia: initial findings from a longitudinal, prospective, global registry. <i>BMC Musculoskelet Disord.</i> 2019;20(1):80. <strong>3.</strong> Seefried L, Dahir K, Petryk A, et al. Burden of illness in adults with hypophosphatasia: data from the Global Hypophosphatasia Patient Registry. <i>J Bone Miner Res.</i> 2020;35(11):2171-2178. <strong>4.</strong> Weber TJ, Sawyer EK, Moseley S, Odrljin T, Kishnani PS. Burden of disease in adult patients with hypophosphatasia: results from two patient-reported surveys. <i>Metabolism.</i> 2016;65(10):1522-1530. <strong>5.</strong> Bianchi ML, Bishop NJ, Guañabens N, et al; Rare Bone Disease Action Group of the European Calcified Tissue Society Hypophosphatasia in adolescents and adults: overview of diagnosis and treatment. <i>Osteoporos Int.</i> 2020;31(8):1445–1460. <strong>6.</strong> McKiernan FE, Berg RL, Fuehrer J. Clinical and radiographic findings in adults with persistent hypophosphatasemia. <i>J Bone Miner Res.</i> 2014;29(7):1651–1660. <strong>7.</strong> Adeli K, Higgins V, Nieuwesteeg M, et al. Biochemical marker reference values across pediatric, adult, and geriatric ages: establishment of robust pediatric and adult reference intervals on the basis of the Canadian Health Measures Survey. <i>Clin Chem.</i> 2015;61(8):1049-1062. <strong>8.</strong> Schumann G, Klauke R, Canalias F, et al. IFCC primary reference procedures for the measurement of catalytic activity concentrations of enzymes at 37°C. Part 9: reference procedure for the measurement of catalytic concentration of alkaline phosphatase. <i>Clin Chem Lab Med.</i> 2011;49(9):1439-1446. <strong>9.</strong> Quest Diagnostics. Alkaline phosphatase. Accessed April 3, 2023. <a href="https://testdirectory.questdiagnostics.com/test/test-detail/234/alkaline-phosphatase?p=r&q=Alkaline%20Phosphatase&cc=MASTER" target="_blank">https://testdirectory.questdiagnostics.com/test/test-detail/234/alkaline-phosphatase?p=r&q=Alkaline%20Phosphatase&cc=MASTER</a> <strong>10.</strong> LabCorp. Alkaline phosphatase. Accessed April 3, 2023. <a href="https://www.labcorp.com/tests/001107/alkaline-phosphatase" target="_blank">https://www.labcorp.com/tests/001107/alkaline-phosphatase</a> <strong>11.</strong> ARUP Laboratories. Alkaline phosphatase isoenzymes, serum or plasma. Accessed April 3, 2023. <a href="https://ltd.aruplab.com/Tests/Pub/0021020" target="_blank">https://ltd.aruplab.com/Tests/Pub/0021020</a> <strong>12.</strong> Colantonio DA, Kyriakopoulou L, Chan MK, et al. Closing the gaps in pediatric laboratory reference intervals: a CALIPER database of 40 biochemical markers in a healthy and multiethnic population of children. <i>Clin Chem.</i> 2012;58(5):854–868. <strong>13.</strong> Bishop N, Munns CF, Ozono K. Transformative therapy in hypophosphatasia. <i>Arch Dis Child.</i> 2016;101(6):514–515. <strong>14.</strong> Vieira LHR, Peixoto KC, Flósi CL, de Farias MLF, Madeira M. Active search of adult patients with persistently low serum alkaline phosphatase levels for the diagnosis of hypophosphatasia. <i>Arch Endocrinol Metab.</i> 2021;65(3):289-294. <strong>15.</strong> Rush ET, Moseley S, Petryk A. Burden of disease in pediatric patients with hypophosphatasia: results from the HPP Impact Patient Survey and the HPP Outcomes Study Telephone interview. <i>Orphanet J Rare Dis.</i> 2019;14(1):201. <strong>16.</strong> Pierpont EI, Simmons JH, Spurlock KJ, et al. Impact of pediatric hypophosphatasia on behavioral health and quality of life. <i>Orphanet J Rare Dis.</i> 2021;16(1):80. <strong>17.</strong> Kishnani PS, Rush ET, Arudne P, et al. Monitoring guidance for patients with hypophosphatasia treated with asfotase alfa. <i>Mol Genet Metab.</i> 2017;122(1-2):4-17. <strong>18.</strong> Colazo JM, Hu JR, Dahir KM, et al. Neurological symptoms in hypophosphatasia. <i>Osteoporos Int.</i> 2019;30(2):469-480. <strong>19.</strong> Fallon MD, Teitelbaum SL, Weinstein R, et al. Hypophosphatasia: clinicopathologic comparison of the infantile, childhood, and adult forms. <i>Medicine (Baltimore).</i> 1984;63(1):12–24. <strong>20.</strong> Whyte MP, Leung E, Wilcox W, et al. Natural history of perinatal and infantile hypophosphatasia: a retrospective study. <i>J Pediatr.</i> 2019;209:116–124.e4. <strong>21.</strong> NORD. Hypophosphatasia. Rare Disease. 2022. Accessed March 30, 2023. <a href="https://rarediseases.org/rare-diseases/hypophosphatasia/" target="_blank">https://rarediseases.org/rare-diseases/hypophosphatasia/</a> <strong>22.</strong> Mornet E, Nunes ME. Hypophosphatasia. In: Adam MP, Ardinger HH, Pagon RA, et al, eds. <i>GeneReviews®.</i> University of Washington; 2007. Accessed March 30, 2023. <a href="https://www.ncbi.nlm.nih.gov/books/NBK1150/" target="_blank">https://www.ncbi.nlm.nih.gov/books/NBK1150/</a> <strong>23.</strong> Whyte MP. Hypophosphatasia: nature’s window on alkaline phosphatase function in humans. In: Bilzikian JP, ed. <i>Principles of Bone Biology.</i> 3rd ed. Academic Press; 2008:1573–1598. <strong>24.</strong> Baumgartner-Sigl S, Haberlandt E, Mumm S, et al. Pyridoxine-responsive seizures as the first symptom of infantile hypophosphatasia caused by two novel missense mutations (c.677T&gt;C, p.M226T; c.1112C&gt;T, p.T371I) of the tissue-nonspecific alkaline phosphatase gene. Bone. 2007;40(6):1655–1661. <strong>25.</strong> Eade AW, Swannell AJ, Williamson N. Pyrophosphate arthropathy in hypophosphatasia. <i>Ann Rheum Dis.</i> 1981;40(2):164–170. <strong>26.</strong> Braunstein NA. Multiple fractures, pain, and severe disability in a patient with adult-onset hypophosphatasia. <i>Bone Rep.</i> 2015;4:1-4. <strong>27.</strong> Salles JP. Hypophosphatasia: biological and clinical aspects, avenues for therapy. <i>Clin Biochem Rev.</i> 2020;41(1):13–27. <strong>28.</strong> Conti F, Ciullini L, Pugliese G. Hypophosphatasia: clinical manifestation and burden of disease in adult patients. <i>Clin Cases Miner Bone Metab.</i> 2017;14(2):230–234. <strong>29.</strong> Whyte M, Leung E, Wilcox W, et al. Hypophosphatasia: a retrospective natural history study of the severe perinatal and infantile forms. Poster presented at: Pediatric Academic Societies and Asian Society for Pediatric Research Joint Meeting; May 3-6, 2014; Vancouver, BC, Canada. <strong>30.</strong> Mornet E, Nunes ME. Hypophosphatasia. In: Adam MP, Ardinger HH, Pagon RA, et al, eds. <i>GeneReviews®.</i> University of Washington; 2007. Accessed March 30, 2023. <a href="http://www.ncbi.nlm.nih.gov/books/NBK1150/" target="_blank">http://www.ncbi.nlm.nih.gov/books/NBK1150/</a> <strong>31.</strong> Mohn A, De Leonibus C, de Giorgis T, Mornet E, Chiarelli F. Hypophosphatasia in a child with widened anterior fontanelle: lessons learned from late diagnosis and incorrect treatment. <i>Acta Paediatr.</i> 2011 Jul;100(7):e43-e46. <strong>32.</strong> Sutton RA, Mumm S, Coburn SP, Ericson KL, Whyte MP. “Atypical femoral fractures” during bisphosphonate exposure in adult hypophosphatasia. <i>J Bone Miner Res.</i> 2012;27(5):987–994. <strong>33.</strong> Szabo SM, Tomazos IC, Petryk A, Powell LC, et al. Frequency and age at occurrence of clinical manifestations of disease in patients with hypophosphatasia: a systematic literature review. Orphanet <i>J Rare Dis.</i> 2019;14(1):85. <strong>34.</strong> Shapiro JR, Lewiecki EM. Hypophosphatasia in adults: clinical assessment and treatment considerations. <i>J Bone Miner Res.</i> 2017;32(10):1977–1980.
    </p>
  </References>
</Layout>
