---
import CTA from "../components/CTA.astro";
import PageHero from "../components/PageHero.astro";
import References from "../components/References.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hypophosphatasia">
  <PageHero pageId="hypophosphatasia">
    <h1 class="page-hero__title">Hypophosphatasia can be damaging</h1>
  </PageHero>
  <CTA
    heading="Get to know the nuts and bolts of STRENSIQ"
    linkText="How it works"
    linkUrl="/how-it-works"
  />
  <References />
</Layout>
