---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hypophosphatasia">
  <div class="wrapper">
    <h1>Hypophosphatasia</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id magni vel minima
    omnis numquam maiores corporis sint ea atque quas, exercitationem laudantium.
    Fugiat, harum quidem quam possimus natus qui quae?
  </div>
</Layout>
