---
import CTA from "../components/CTA.astro";
import PageHero from "../components/PageHero.astro";
import References from "../components/References.astro";
import Layout from "../layouts/Layout.astro";
import Testimonial from "../components/Testimonial.astro";
import SkeletonMobile from "../components/SkeletonMobile.astro";
import SkeletonDesktop from "../components/SkeletonDesktop.astro";
import InternalNavigation from "../components/InternalNavigation.astro";
import HighlightInformation from "../components/HighlightInformation.astro";
const internalNavLinks = [
  { href: "about", label: "About HPP", active: true },
  { href: "symptoms", label: "Symptoms" },
  { href: "disease", label: "Burden of Disease" },
  { href: "misdiagnoses", label: "Common Misdiagnoses" },
];
---

<Layout title="Hypophosphatasia" displayReferences={true}>
  <PageHero pageId="hypophosphatasia">
    <h1 class="page-hero__title">Hypophosphatasia can be damaging<sup>1-4</sup></h1>
  </PageHero>

  {
    internalNavLinks && (
      <InternalNavigation items={internalNavLinks} icon={false} />
    )
  }
  <section
    id="about"
    class="section hypophosphatasia-container hypophosphatasia-container--children"
  >
    <div class="wrapper">
      <section class="hypophosphatasia-container__content">
        <h2 class="color--dark-green hypophosphatasia-container__title">
          Hypophosphatasia (HPP) results from deficient alkaline phosphatase
          (ALP)<sup>1-5</sup>
        </h2>
        <p class="hypophosphatasia-container__paragraph">Hypophosphatasia is an uncommon, inherited, multisystemic, rare metabolic disorder characterized by deficient alkaline phosphatase activity that may progress over time.<sup>1-6</sup></p>
        <p class="hypophosphatasia-container__paragraph">Patients with hypophosphatasia have a loss-of-function mutation on the <span class="text--italic">ALPL</span> gene causing low levels of alkaline phosphatase enzyme activity.<sup>1</sup></p>
        <HighlightInformation
          title="WHAT IS LOW ALP?"
          footnote="is considered low for adults<sup>7-11*</sup>"
        >
          <span slot="content">&#60;40 U/L</span>
        </HighlightInformation>
        <p class="hypophosphatasia-container__paragraph"><sup>*</sup>Limitations: An alkaline phosphatase level of below 40 U/L is not conclusive for a diagnosis of hypophosphatasia. Patient should be evaluated for other symptoms of hypophosphatasia and differential diagnoses should be ruled out.</p>
        <HighlightInformation
          title="IN CHILDREN, low ranges"
          footnote="based on age and sex<sup>1,12,13</sup>"
        >
          <span slot="content">vary</span>
        </HighlightInformation>
        <ul class="hypophosphatasia-container__list">
          <li class="hypophosphatasia-container__list-item">
            <p>
              Clinicians should ensure that reported laboratory results for ALP reflect age- and sex-adjusted reference ranges for the specific patient
            </p>
          </li>
          <li class="hypophosphatasia-container__list-item">
            <p>
              Check with your lab for their appropriate age- and sex-adjusted reference range
            </p>
          </li>
        </ul>
        <p class="hypophosphatasia-container__footnote">
          <sup>*</sup>Limitations: An alkaline phosphatase level of below 40 U/L
          is not conclusive for a diagnosis of hypophosphatasia. Patient should
          be evaluated for other symptoms of hypophosphatasia and differential
          diagnoses should be ruled out.
        </p>
      </section>
      <section class="hypophosphatasia-container__tabs-container">
        <ul role="tablist" class="hypophosphatasia-container__tabs">
          <li role="presentation">
            <a href="#female" role="tab" id="femaletab" aria-selected="true"
              >Female</a
            >
          </li>
          <li role="presentation">
            <a href="#male" role="tab" id="maletab" tabindex="-1">Male</a>
          </li>
        </ul>
        <section
          id="female"
          role="tabpanel"
          aria-labelledby="femaletab"
          aria-hidden="false"
          tabindex="-1"
          class="hypophosphatasia-container__panel"
        >
          <h5 class="hypophosphatasia-container__panel-title">
            Age- and sex-adjusted ALP reference ranges for children (U/L)<sup>7-11</sup>
          </h5>
          <section class="hypophosphatasia-container__panel-content">
            <picture class="hypophosphatasia-container__panel-chart">
              <source
                media="(min-width: 1200px)"
                srcset="/assets/images/hypophosphatasia/chart-desktop-female.png"
              />
              <img
                src="/assets/images/hypophosphatasia/chart-mobile-female.png"
                alt=" "
              />
            </picture>
            <p class="hypophosphatasia-container__panel-footnote">
              Graph adapted from the Canadian Laboratory initiative on Pediatric Reference Intervals (CALIPER) project. CALIPER samples from 1072 male and 1116 female participants (newborn to 18 years) were used to calculate age- and sex-specific reference intervals. No variation in ALP based on ethnic differences was observed. Check with your lab for their appropriate age- and sex-adjusted reference range.<sup>12</sup>
            </p>
          </section>
        </section>
        <section
          id="male"
          role="tabpanel"
          aria-labelledby="maletab"
          aria-hidden="true"
          tabindex="-1"
          hidden
          class="hypophosphatasia-container__panel"
        >
          <h5 class="hypophosphatasia-container__panel-title">
            Age- and sex-adjusted ALP reference ranges for children (U/L)<sup>7-12</sup>
          </h5>
          <section class="hypophosphatasia-container__panel-content">
            <picture class="hypophosphatasia-container__panel-chart">
              <source
                media="(min-width: 1200px)"
                srcset="/assets/images/hypophosphatasia/chart-desktop-male.png"
              />
              <img
                src="/assets/images/hypophosphatasia/chart-mobile-male.png"
                alt=" "
              />
            </picture>
            <p class="hypophosphatasia-container__panel-footnote">
              Graph adapted from the Canadian Laboratory initiative on Pediatric Reference Intervals (CALIPER) project. CALIPER samples from 1072 male and 1116 female participants (newborn to 18 years) were used to calculate age- and sex-specific reference intervals. No variation in ALP based on ethnic differences was observed. Check with your lab for their appropriate age- and sex-adjusted reference range.<sup>12</sup>
            </p>
          </section>
        </section>
      </section>
    </div>
  </section>
  <section
    class="hypophosphatasia-container hypophosphatasia-container--testimonial"
  >
    <div class="wrapper">
      <Testimonial
        authorInformation="Eric Rush, MD, Clinical Geneticist"
        page="hypophosphatasia"
        shapeType="right"
      >
        <p>
          As we continue to learn about hypophosphatasia, we are truly understanding that it is a multisystemic disease and not just a skeletal disease.
        </p>
      </Testimonial>
    </div>
  </section>
  <section
    id="symptoms"
    class="section hypophosphatasia-container hypophosphatasia-container--skeleton"
  >
    <div class="wrapper skeleton-container">
      <section class="skeleton-container__content">
        <h2>Hypophosphatasia compromises more than good bones<sup>1-4</sup></h2>
        <p>
          Persistently low alkaline phosphatase activity can be defined as 2 or more age- and sex-adjusted ALP levels below normal range in intervals of more than 30 days, and can lead to progressive and varying symptoms in several systems of the body beyond the skeletal system.<sup>1-4,14</sup>
        </p>
        <p>
          These signs/symptoms may emerge at any time and can progress to potentially become debilitating.<sup>1,15,16</sup>
        </p>
      </section>
      <section class="skeleton-container__skeleton">
        <SkeletonMobile />
        <SkeletonDesktop />
      </section>
    </div>
  </section>
  <section
    id="disease"
    class="section hypophosphatasia-container hypophosphatasia-container--ages"
  >
    <div class="wrapper">
      <section class="hypophosphatasia-container__content">
        <h2 class="color--dark-green hypophosphatasia-container__title">
          Hypophosphatasia can erode patients’ quality of life<sup>1,16</sup>
        </h2>
        <p class="hypophosphatasia-container__paragraph">
          Hypophosphatasia manifests across a wide spectrum of severity. Patients can face progressive, potentially debilitating symptoms that may impair their quality of life.<sup>1,16</sup>
        </p>
        <p class="hypophosphatasia-container__paragraph">
          Neonates and infants with hypophosphatasia have a high risk of mortality and failure to thrive, making early and accurate diagnosis critical.<sup>1,2,24,25</sup>
        </p>
      </section>
      <section class="information">
        <p
          class="hypophosphatasia-container__paragraph hypophosphatasia-container__paragraph--highlight"
        >
          In patients with hypophosphatasia, symptom presentation may not accurately represent the degree of disease progression<sup>2,4,26-28</sup>
        </p>
      </section>
      <section class="hypophosphatasia-container__tabs-container">
        <ul role="tablist" class="hypophosphatasia-container__tabs">
          <li role="presentation">
            <a href="#neonates" role="tab" id="neonatestab" aria-selected="true">Neonates/Infants</a>
          </li>
          <li role="presentation">
            <a href="#chidlren" role="tab" id="childrentab" tabindex="-1">Children</a>
          </li>
          <li role="presentation">
            <a href="#adults" role="tab" id="adultstab" tabindex="-1">Adults</a>
          </li>
        </ul>
        <section
          id="neonates"
          role="tabpanel"
          aria-labelledby="neonatestab"
          aria-hidden="false"
          tabindex="-1"
          class="hypophosphatasia-container__panel hypophosphatasia-container__panel--flex"
        >
          <section class="hypophosphatasia-container__panel-content">
            <h5 class="color--dark-green hypophosphatasia-container__title">
              In neonates and infants<sup>29*</sup>
            </h5>
            <ul class="hypophosphatasia-container__list">
              <li class="hypophosphatasia-container__list-item">
                <p>
                  <span class="animated--bg">73%</span> of cases of untreated neonatal and infantile hypophosphatasia were fatal before the age of 5
                </p>
                <ul class="hypophosphatasia-container__sub-list">
                  <li class="hypophosphatasia-container__sub-list-item">
                    <p>
                      <span class="animated--bg">58%</span> of cases were fatal by 1 year of age
                    </p>
                  </li>
                </ul>
              </li>
              <li class="hypophosphatasia-container__list-item">
                <p>
                  <span class="animated--bg">64%</span> required respiratory support, most commonly invasive ventilation<sup>†</sup>
                </p>
                <ul class="hypophosphatasia-container__sub-list">
                  <li class="hypophosphatasia-container__sub-list-item">
                    <p>
                      <span class="animated--bg">95%</span> of cases requiring invasive ventilation were fatal
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
            <p class="hypophosphatasia-container__paragraph">
              The manifestations and complications of hypophosphatasia can place significant functional burden on neonatal and infant patients, such as<sup>1,3,5</sup>:
            </p>
            <ul class="hypophosphatasia-container__list">
              <li class="hypophosphatasia-container__list-item">
                <p>Missed milestones, developmental delays<sup>1,17</sup></p>
              </li>
              <li class="hypophosphatasia-container__list-item">
                <p>Limited functionality and mobility<sup>3</sup></p>
              </li>
              <li class="hypophosphatasia-container__list-item">
                <p>Significant disability and difficulty with activities of
                  daily living<sup>3</sup></p>
              </li>
            </ul>
            <section class="hypophosphatasia-container__panel-footnote-container position--bottom">
              <p class="hypophosphatasia-container__panel-footnote">
                <sup>*</sup>Data from a multinational, noninterventional, retrospective chart review study designed to understand the natural history of 48 patients ≤5 years of age with perinatal- and infantile-onset HPP.<sup>30</sup>
              </p>
              <p class="hypophosphatasia-container__panel-footnote">
                <sup>†</sup>Data on respiratory support was available for 45 of the 48 patients.<sup>29</sup>
              </p>
            </section>
          </section>
          <section class="hypophosphatasia-container__panel-chart">
            <h5 class="hypophosphatasia-container__panel-title">
              In neonates and infants, hypophosphatasia has a high risk of mortality<sup>29</sup>
            </h5>
            <section class="hypophosphatasia-container__panel-content">
              <picture class="hypophosphatasia-container__panel-chart">
                <source
                  media="(min-width: 1200px)"
                  srcset="/assets/images/hypophosphatasia/chart-desktop-neonates.png"
                />
                <img
                  src="/assets/images/hypophosphatasia/chart-mobile-neonates.png"
                  alt=" "
                />
              </picture>
              <p class="hypophosphatasia-container__panel-footnote">
                Adapted from Whyte M, et al. Poster presented at: Pediatric Academic Societies and Asian Society for Pediatric Research Joint Meeting; May 3-6, 2014; Vancouver, BC, Canada.
              </p>
            </section>
          </section>
        </section>
        <section
          id="children"
          role="tabpanel"
          aria-labelledby="childrentab"
          aria-hidden="true"
          tabindex="-1"
          hidden
          class="hypophosphatasia-container__panel hypophosphatasia-container__panel--flex"
        >
          <section class="hypophosphatasia-container__panel-content">
            <h5 class="color--dark-green hypophosphatasia-container__title">
              In children<sup>16†</sup>
            </h5>
            <ul class="hypophosphatasia-container__list">
              <li class="hypophosphatasia-container__list-item">
                <p>
                  <span class="animated--bg">50%</span> (15/30) had clinically meaningful impairment in overall quality of life as reported by parents
                </p>
              </li>
              <li class="hypophosphatasia-container__list-item">
                <p>
                  <span class="animated--bg">57%</span> (17/30) were classified as poor sleepers
                  poor sleepers
                </p>
              </li>
              <li class="hypophosphatasia-container__list-item">
                <p>
                  <span class="animated--bg">29%</span> (7/24) of school-aged children experienced higher than average level of pain that interfered with daily activity
                </p>
              </li>
            </ul>
            <HighlightInformation
              title="the global HPP registry (N=148) SHOWED<sup>2a</sup>"
              footnote="of children experienced">
              <span slot="content">~27<sub>%</sub></span>
              <span slot="footnote">neurologic symptoms</span>
            </HighlightInformation>
            <section class="hypophosphatasia-container__panel-footnote-container position--bottom">
              <p class="hypophosphatasia-container__panel-footnote">
                <sup>†</sup>Cross-sectional study reported by parents of 30 eligible children with hypophosphatasia (aged 3 to 16.6 years).<sup>16</sup>
              </p>
            </section>
          </section>
          <section class="hypophosphatasia-container__panel-chart">
            <h5 class="hypophosphatasia-container__panel-title">
              Hypophosphatasia can cause a wide range of symptoms, with impact beyond the skeletal system<sup>2a</sup>
            </h5>
            <section class="hypophosphatasia-container__panel-content">
              <picture class="hypophosphatasia-container__panel-chart">
                <source
                  media="(min-width: 1200px)"
                  srcset="/assets/images/hypophosphatasia/chart-desktop-children.png"
                />
                <img
                  src="/assets/images/hypophosphatasia/chart-mobile-children.png"
                  alt=" "
                />
              </picture>
              <p class="hypophosphatasia-container__panel-footnote">
                <sup>a</sup>Multinational, observational, prospective Global HPP Registry study conducted in children (N=121; ≥18 years) from January 2015 to September 2017.
              </p>
            </section>
          </section>
        </section>
        <section
          id="adults"
          role="tabpanel"
          aria-labelledby="adultstab"
          aria-hidden="true"
          tabindex="-1"
          hidden
          class="hypophosphatasia-container__panel hypophosphatasia-container__panel--flex"
        >
          <section class="hypophosphatasia-container__panel-content">
            <h5 class="color--dark-green hypophosphatasia-container__title">
              A survey of patients and caregivers (N=51) found<sup>4‡</sup>:
            </h5>
            <ul class="hypophosphatasia-container__list">
              <li class="hypophosphatasia-container__list-item">
                <p>
                  <span class="animated--bg">86%</span> of adult patients reported difficulty walking
                </p>
              </li>
            </ul>
            <HighlightInformation
              title="According to the global HPP registry (N=148),<sup>2§</sup>"
              footnote="adults with reported HPP manifestations <18 years experienced"
            >
              <span slot="content">24.5<sub> years</sub></span>
              <span slot="footnote">median diagnostic delay</span
              >
            </HighlightInformation>
            <p class="hypophosphatasia-container__panel-footnote hypophosphatasia-container__panel-footnote--only-desktop no--margin-bottom">
              <sup>‡</sup>Data collected from patients and caregivers via 2 survey instruments (web-based and phone interviews) to evaluate patient-reported symptomatology and burden of disease of hypophosphatasia (N=125). The majority of patients in this study (67%) reported pediatric onset of hypophosphatasia symptoms. Of patients reporting adult-onset hypophosphatasia (27%), 50% (17/34) reported history or surgeries suggestive of pediatric onset of symptoms.<sup>4</sup>
            </p>
            <p class="hypophosphatasia-container__panel-footnote hypophosphatasia-container__panel-footnote--only-desktop no--margin-top">
              <sup>§</sup>Observational, multinational, prospective Global HPP Registry study conducted in adults (n=148; ≥18 years) from January 2015–September 2017.<sup>2</sup>
            </p>
          </section>
          <section class="hypophosphatasia-container__panel-chart">
            <h5 class="hypophosphatasia-container__panel-title">
              History of HPP manifestations in adults with pediatric-onset HPP (n=84)<sup>4b‡</sup>
            </h5>
            <section class="hypophosphatasia-container__panel-content">
              <picture class="hypophosphatasia-container__panel-chart">
                <source
                  media="(min-width: 1200px)"
                  srcset="/assets/images/hypophosphatasia/chart-desktop-adults.png"
                />
                <img
                  src="/assets/images/hypophosphatasia/chart-mobile-adults.png"
                  alt=" "
                />
              </picture>
            </section>
          </section>
          <section
            class="hypophosphatasia-container__panel-content hypophosphatasia-container__panel-content--flex"
          >
            <div class="footnotes-container">
              <p class="hypophosphatasia-container__panel-footnote hypophosphatasia-container__panel-footnote--only-mobile">
                <sup>b</sup>Seven patients did not provide age at onset.
              </p>
              <p class="hypophosphatasia-container__panel-footnote hypophosphatasia-container__panel-footnote--only-mobile no--margin-bottom">
                <sup>‡</sup>Data collected from patients and caregivers via 2 survey instruments (web-based and phone interviews) to evaluate patient-reported symptomatology and burden of disease of hypophosphatasia (N=125). The majority of patients in this study (67%) reported pediatric onset of hypophosphatasia symptoms. Of patients reporting adult-onset hypophosphatasia (27%), 50% (17/34) reported history or surgeries suggestive of pediatric onset of symptoms.<sup>4</sup>
              </p>
              <p class="hypophosphatasia-container__panel-footnote hypophosphatasia-container__panel-footnote--only-mobile no--margin-top">
                <sup>§</sup>Observational, multinational, prospective Global HPP Registry study conducted in adults (n=148; ≥18 years) from January 2015–September 2017.<sup>2</sup>
              </p>
            </div>
          </section>
        </section>
      </section>
    </div>
  </section>
  <section
    id="misdiagnoses"
    class="section hypophosphatasia-container hypophosphatasia-container--diagnosis hypophosphatasia-container--gray-bg"
  >
    <div class="wrapper">
      <section class="hypophosphatasia-container__content">
        <h2 class="color--dark-green hypophosphatasia-container__title">
          Nailing down an accurate diagnosis is crucial<sup>1,2,24,25</sup>
        </h2>
        <p class="hypophosphatasia-container__paragraph">
          Because symptoms of hypophosphatasia can mimic more common diseases, it is often overlooked and can lead to ineffective treatment that can exacerbate hypophosphatasia.<sup>30-32</sup>
        </p>
      </section>
      <section
        class="hypophosphatasia-container__content hypophosphatasia-container__content--treatments"
      >
        <p class="hypophosphatasia-container__paragraph">
          Treatments used for other more common diseases can be harmful to
          patients with hypophosphatasia:
        </p>
        <ul class="hypophosphatasia-container__list">
          <li class="hypophosphatasia-container__list-item">
            <span>Bisphosphonates</span>
          </li>
          <li class="hypophosphatasia-container__list-item">
            <span>Antiresorptive agents</span>
          </li>
          <li class="hypophosphatasia-container__list-item">
            <span>Vitamin D</span>
          </li>
          <li class="hypophosphatasia-container__list-item">
            <span>Calcium</span>
          </li>
        </ul>
      </section>
      <section class="information">
        <p
          class="hypophosphatasia-container__paragraph hypophosphatasia-container__paragraph--highlight"
        >
          Hypophosphatasia can progress and become more debilitating<sup>1-4,15,33</sup>
        </p>
      </section>
    </div>
  </section>
  <CTA
    heading="Get to know the nuts and bolts of STRENSIQ"
    linkText="How it works"
    linkUrl="/how-it-works"
  />
</Layout>
