---
import CTA from "../components/CTA.astro";
import PageHero from "../components/PageHero.astro";
import References from "../components/References.astro";
import Layout from "../layouts/Layout.astro";
import Testimonial from "../components/Testimonial.astro";
import SkeletonMobile from "../components/SkeletonMobile.astro";
import SkeletonDesktop from "../components/SkeletonDesktop.astro";
import InternalNavigation from "../components/InternalNavigation.astro";
import HighlightInformation from "../components/HighlightInformation.astro";
const internalNavLinks = [
  { href: "about", label: "About HPP", active: true },
  { href: "symptoms", label: "Symptoms" },
  { href: "disease", label: "Burden of Disease" },
  { href: "misdiagnoses", label: "Common Misdiagnoses" },
];
---

<Layout title="Hypophosphatasia">
  <PageHero pageId="hypophosphatasia">
    <h1 class="page-hero__title">Hypophosphatasia can be damaging</h1>
  </PageHero>

  {
    internalNavLinks && (
      <InternalNavigation items={internalNavLinks} icon={false} />
    )
  }
  <div class="wrapper">
    <h1>Hypophosphatasia</h1>
    <div class="section" id="about">
      <h1>About HPP</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
        consequuntur vero molestiae at enim voluptatem blanditiis maiores harum
        excepturi ipsam accusamus id tenetur molestias corporis ad quidem,
        repellat pariatur? Suscipit laboriosam voluptatem blanditiis provident
        non itaque voluptatibus! Itaque, blanditiis inventore, nemo repellat at
        deleniti ipsum amet libero molestiae laborum est enim cumque beatae
        neque, vel necessitatibus saepe molestias ducimus asperiores! Optio,
        asperiores doloribus magni quidem deserunt omnis unde eum quaerat
        ratione provident eos harum corrupti, aperiam recusandae. Magni facere
        pariatur reprehenderit temporibus consequatur sapiente natus libero
        voluptatum nam, necessitatibus rerum delectus magnam. Ex temporibus
        dicta aperiam magni debitis dolorem modi voluptates perferendis cumque
        voluptatum voluptatem eum vel fuga corporis et, itaque fugiat quis unde
        harum dolore deserunt repellat sapiente maiores. Quibusdam culpa fuga,
        qui id, provident assumenda maiores illo libero hic veritatis molestiae.
        Nam minima assumenda enim voluptatibus. Rerum hic omnis alias eveniet
        fugit quisquam a perspiciatis cum provident totam aliquid quos ullam
        adipisci sunt eligendi id rem, consequatur modi assumenda voluptas
        distinctio quam saepe tenetur. Rem, beatae. Provident officia maiores
        unde dolore, enim neque dolorem. Repellendus nihil sint eligendi
        reiciendis nulla, praesentium a doloremque debitis ullam necessitatibus
        ea libero quibusdam commodi sit, id maxime accusantium fugiat harum aut
        rem maiores doloribus dolores dolorem? Laudantium eligendi, doloremque
        cum officiis accusantium hic sit illo ducimus provident dolorem
        consequatur ex iste facilis sunt quasi. Odio qui, quidem reprehenderit
        omnis a nemo sed numquam sunt nostrum doloremque dicta pariatur
        blanditiis voluptas incidunt voluptatibus explicabo accusantium!
        Asperiores cum culpa laudantium impedit nihil non saepe earum esse
        commodi magnam nostrum quis perferendis, nobis hic officia veritatis quo
        vel at suscipit nisi dignissimos, maiores vero quam? Harum tempore
        inventore provident odit esse eius quae, est laboriosam dolor minus
        eveniet accusantium quaerat sapiente voluptatibus deleniti totam!
        Blanditiis reiciendis expedita, optio unde ut rerum dolore. Debitis
        officia illum quia voluptas aut, vero obcaecati deserunt laboriosam
        dolorem temporibus harum veritatis, culpa a eius? Ab harum fuga mollitia
        officiis suscipit, consectetur dicta eaque, natus saepe, at libero vero!
        Quas delectus voluptatibus recusandae illum esse porro. Sunt a repellat
        tempore provident rerum consequuntur fugit numquam nesciunt, inventore,
        dolorem, culpa accusamus praesentium quas quae commodi? Blanditiis alias
        voluptates nemo recusandae? Voluptatem nemo exercitationem magni
        suscipit iusto voluptate assumenda quod nesciunt distinctio sed
        perspiciatis velit non esse, reprehenderit sapiente illum nulla pariatur
        delectus ratione aperiam officia dolore. Voluptates harum consequatur
        temporibus tempora, nam doloribus voluptatem quis fuga alias dicta
        recusandae hic culpa praesentium? Rerum fugiat quasi error nemo at
        voluptates, fugit nobis eaque enim molestias iure! Cupiditate laboriosam
        doloremque corrupti magnam similique eos a ipsa! Necessitatibus nihil,
        beatae corrupti, omnis, debitis totam ratione nemo illo odit nostrum
        odio in illum repellendus tempora alias voluptates possimus temporibus
        vitae explicabo nisi. Non amet vero quibusdam veritatis. Aperiam magnam
        at deserunt fugit aliquid rerum ipsa, impedit illum minus ut ducimus
        vero libero molestiae fugiat beatae earum voluptates? Dolorum tempora
        omnis quibusdam at, delectus ipsa dolore error accusamus cupiditate,
        odio alias praesentium ullam porro! Ad, maxime! In officiis id dolorem
        nihil deleniti provident dolores excepturi fugiat modi?
      </p>
    </div>
    <div class="section" id="symptoms">
      <h1>Symtoms</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        quaerat sint voluptates et dicta alias natus. Expedita, laborum
        nesciunt! Eligendi iste et enim laudantium laborum repellendus
        repudiandae fugit! Ab fuga, ex et natus nihil, repellendus reiciendis
        perspiciatis laborum quis minima placeat qui ducimus exercitationem sit
        maiores neque vero dolorum nisi facilis molestiae at eligendi officia
        minus tempore? Tenetur blanditiis cumque quo rem eum, accusamus iusto
        perferendis repellendus sunt voluptatibus vel repudiandae hic. Nesciunt
        vero quasi odit dolores officia cupiditate nemo fuga corporis doloribus
        dolore esse in magnam iste illo, quaerat asperiores ad, sunt fugiat non
        optio dolorem modi velit. Harum. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Laudantium quaerat sint voluptates et dicta alias
        natus. Expedita, laborum nesciunt! Eligendi iste et enim laudantium
        laborum repellendus repudiandae fugit! Ab fuga, ex et natus nihil,
        repellendus reiciendis perspiciatis laborum quis minima placeat qui
        ducimus exercitationem sit maiores neque vero dolorum nisi facilis
        molestiae at eligendi officia minus tempore? Tenetur blanditiis cumque
        quo rem eum, accusamus iusto perferendis repellendus sunt voluptatibus
        vel repudiandae hic. Nesciunt vero quasi odit dolores officia cupiditate
        nemo fuga corporis doloribus dolore esse in magnam iste illo, quaerat
        asperiores ad, sunt fugiat non optio dolorem modi velit. Harum.sasdasdq
        wewq dqwe2e 321231|3213
      </p>
    </div>
    <div class="section" id="disease">
      <h1>Burden of Disease</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        quaerat sint voluptates et dicta alias natus. Expedita, laborum
        nesciunt! Eligendi iste et enim laudantium laborum repellendus
        repudiandae fugit! Ab fuga, ex et natus nihil, repellendus reiciendis
        perspiciatis laborum quis minima placeat qui ducimus exercitationem sit
        maiores neque vero dolorum nisi facilis molestiae at eligendi officia
        minus tempore? Tenetur blanditiis cumque quo rem eum, accusamus iusto
        perferendis repellendus sunt voluptatibus vel repudiandae hic. Nesciunt
        vero quasi odit dolores officia cupiditate nemo fuga corporis doloribus
        dolore esse in magnam iste illo, quaerat asperiores ad, sunt fugiat non
        optio dolorem modi velit. Harum. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Laudantium quaerat sint voluptates et dicta alias
        natus. Expedita, laborum nesciunt! Eligendi iste et enim laudantium
        laborum repellendus repudiandae fugit! Ab fuga, ex et natus nihil,
        repellendus reiciendis perspiciatis laborum quis minima placeat qui
        ducimus exercitationem sit maiores neque vero dolorum nisi facilis
        molestiae at eligendi officia minus tempore? Tenetur blanditiis cumque
        quo rem eum, accusamus iusto perferendis repellendus sunt voluptatibus
        vel repudiandae hic. Nesciunt vero quasi odit dolores officia cupiditate
        nemo fuga corporis doloribus dolore esse in magnam iste illo, quaerat
        asperiores ad, sunt fugiat non optio dolorem modi velit. Harum. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Laudantium quaerat
        sint voluptates et dicta alias natus. Expedita, laborum nesciunt!
        Eligendi iste et enim laudantium laborum repellendus repudiandae fugit!
        Ab fuga, ex et natus nihil, repellendus reiciendis perspiciatis laborum
        quis minima placeat qui ducimus exercitationem sit maiores neque vero
        dolorum nisi facilis molestiae at eligendi officia minus tempore?
        Tenetur blanditiis cumque quo rem eum, accusamus iusto perferendis
        repellendus sunt voluptatibus vel repudiandae hic. Nesciunt vero quasi
        odit dolores officia cupiditate nemo fuga corporis doloribus dolore esse
        in magnam iste illo, quaerat asperiores ad, sunt fugiat non optio
        dolorem modi velit. Harum.
      </p>
    </div>
    <div class="section" id="misdiagnoses">
      <h1>Commun Misdiagnoses</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        quaerat sint voluptates et dicta alias natus. Expedita, laborum
        nesciunt! Eligendi iste et enim laudantium laborum repellendus
        repudiandae fugit! Ab fuga, ex et natus nihil, repellendus reiciendis
        perspiciatis laborum quis minima placeat qui ducimus exercitationem sit
        maiores neque vero dolorum nisi facilis molestiae at eligendi officia
        minus tempore? Tenetur blanditiis cumque quo rem eum, accusamus iusto
        perferendis repellendus sunt voluptatibus vel repudiandae hic. Nesciunt
        vero quasi odit dolores officia cupiditate nemo fuga corporis doloribus
        dolore esse in magnam iste illo, quaerat asperiores ad, sunt fugiat non
        optio dolorem modi velit. Harum. erspiciatis laborum quis minima placeat
        qui ducimus exercitationem sit maiores neque vero dolorum nisi facilis
        molestiae at eligendi officia minus tempore? Tenetur blanditiis cumque
        quo rem eum, accusamus iusto perferendis repellendus sunt voluptatibus
        vel repudiandae hic. Nesciunt vero quasi odit dolores officia cupiditate
        nemo fuga corporis doloribus dolore esse in magnam iste illo, quaerat
        asperiores ad, sunt fugiat non optio dolorem modi velit. Harum.
        erspiciatis laborum quis minima placeat qui ducimus exercitationem sit
        maiores neque vero dolorum nisi facilis molestiae at eligendi officia
        minus tempore? Tenetur blanditiis cumque quo rem eum, accusamus iusto
        perferendis repellendus sunt voluptatibus vel repudiandae hic. Nesciunt
        vero quasi odit dolores officia cupiditate nemo fuga corporis doloribus
        dolore esse in magnam iste illo, quaerat asperiores ad, sunt fugiat non
        optio dolorem modi velit. Harum.
      </p>
    </div>
  </div>
  <section class="hypophosphatasia-results">
      <section class="hypophosphatasia-results__content">
        <h2 class="color--dark-green hypophosphatasia-results__title">Hypophosphatasia (HPP) results from deficient alkaline phosphatase (ALP)</h2>
        <p class="hypophosphatasia-results__paragraph">Hypophosphatasia is an uncommon, inherited, multisystemic, metabolic disorder characterized by low alkaline phosphatase activity that may progress over time.</p>
        <p class="hypophosphatasia-results__paragraph">Patients with hypophosphatasia have a mutation on the <span class="text--italic">ALPL</span> gene causing deficient alkaline phosphatase enzyme.</p>
        <HighlightInformation
          title="WHAT IS LOW ALP?"
          content="<40 U/L"
          footnote="is considered low for adults*"
          />
          <HighlightInformation
          title="IN CHILDREN, low ranges"
          content="vary"
          footnote="based on age and sex"
          />
          <ul class="hypophosphatasia-results__list">
            <li class="hypophosphatasia-results__list-item"><p>Clinicians should ensure that reported laboratory results for ALP reflect age- and sex-adjusted reference ranges for the specific patient</p></li>
            <li class="hypophosphatasia-results__list-item"><p>Check with your lab for their appropriate age- and sex-adjusted reference range</p></li>
          </ul>
          <p class="hypophosphatasia-results__footnote"><sup>*</sup>Limitations: An alkaline phosphatase level of below 40 U/L is not conclusive for a diagnosis of hypophosphatasia. Patient should be evaluated for other symptoms of hypophosphatasia and differential diagnoses should be ruled out.</p>
      </section>
      <section class="hypophosphatasia-results__charts">
        <ul role="tablist" class="hypophosphatasia-results__tabs">
          <li role="presentation">
            <!--active one -->
            <a href="#panel1" role="tab" id="tab1" aria-selected="true"
              >Female</a
            >
          </li>
          <li role="presentation">
            <a href="#panel2" role="tab" id="tab2" tabindex="-1">Male</a>
          </li>
        </ul>
        <section
          id="panel1"
          role="tabpanel"
          aria-labelledby="tab1"
          aria-hidden="false"
          tabindex="-1"
          class="hypophosphatasia-results__panel"
        >
          <h5 class="hypophosphatasia-results__panel-title">Age- and sex-adjusted ALP reference ranges for children (U/L)</h5>
          <section class="hypophosphatasia-results__panel-content">
            <picture class="hypophosphatasia-results__panel-chart">
              <source media="(min-width: 1200px)" srcset="/assets/images/hypophosphatasia/chart-desktop-female-01.png">
              <img src="/assets/images/hypophosphatasia/chart-mobile-female-01.png" alt=" ">
            </picture>
            <picture class="hypophosphatasia-results__panel-chart hypophosphatasia-results__panel-chart--only-mobile">
              <img src="/assets/images/hypophosphatasia/chart-mobile-female-02.png" alt=" ">
            </picture>
            <p class="hypophosphatasia-results__panel-footnote">Graph adapted from the Canadian Laboratory initiative on Pediatric Reference Intervals (CALIPER) project. CALIPER samples from 1072 male and 1116 female participants (newborn to 18 years) were used to calculate age- and sex-specific reference intervals. No variation in ALP based on ethnic differences was observed. Check with your lab for their appropriate age- and sex-adjusted reference range.</p>
          </section>
        </section>
        <section
          id="panel2"
          role="tabpanel"
          aria-labelledby="tab2"
          aria-hidden="true"
          tabindex="-1"
          hidden
          class="hypophosphatasia-results__panel"
        >
          <h5 class="hypophosphatasia-results__panel-title">Age- and sex-adjusted ALP reference ranges for children (U/L)</h5>
          <section class="hypophosphatasia-results__panel-content">
            <picture class="hypophosphatasia-results__panel-chart">
              <source media="(min-width: 1200px)" srcset="/assets/images/hypophosphatasia/chart-desktop-male-01.png">
              <img src="/assets/images/hypophosphatasia/chart-mobile-male-01.png" alt=" ">
            </picture>
            <picture class="hypophosphatasia-results__panel-chart hypophosphatasia-results__panel-chart--only-mobile">
              <img src="/assets/images/hypophosphatasia/chart-mobile-male-02.png" alt=" ">
            </picture>
            <p class="hypophosphatasia-results__panel-footnote">Graph adapted from the Canadian Laboratory initiative on Pediatric Reference Intervals (CALIPER) project. CALIPER samples from 1072 male and 1116 female participants (newborn to 18 years) were used to calculate age- and sex-specific reference intervals. No variation in ALP based on ethnic differences was observed. Check with your lab for their appropriate age- and sex-adjusted reference range.</p>
          </section>
        </section>
      </section>
  </section>
  <Testimonial
    authorInformation="Eric Rush, MD, Clinical Geneticist"
    authorDescription="Alexion-sponsored speaker"
    page="hypophosphatasia"
    shapeType="right"
  >
    <p>
      As we continue to learn about hypophosphatasia, we are truly understanding
      that it is a multisystemic disease and not just a skeletal disease.
    </p>
  </Testimonial>
  <section class="skeleton-container">
    <section class="skeleton-container__content">
      <h2>Hypophosphatasia compromises more than good bones</h2>
      <p>Persistently low alkaline phosphatase activity, defined as 2 or more age- and sex-adjusted ALP levels below normal range in intervals of more than 30 days within a 6-month window,† can lead to progressive and varying symptoms in several systems of the body beyond the skeletal system.</p>
      <p>These symptoms may emerge at any time and can progress to potentially become debilitating.</p>
      <p class="skeleton-container__footnote"><sup class="skeleton-container__symbol">&#10013;</sup>Alkaline phosphatase ranges must be age- and sex-adjusted.</p>
    </section>
    <section class="skeleton-container__skeleton">
      <SkeletonMobile></SkeletonMobile>
      <SkeletonDesktop></SkeletonDesktop>
    </section>
  </section>
  <CTA
    heading="Get to know the nuts and bolts of STRENSIQ"
    linkText="How it works"
    linkUrl="/how-it-works"
  />
  <References />
</Layout>
