---
import Testimonial from "../components/Testimonial.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="STRENSIQ | HCP">
  <div class="wrapper">
    <h1>Homepage</h1>
  </div>
  <Testimonial
    imageURL="/assets/images/homepage/testimonial.png"
    quote="If we can increase awareness and reduce misdiagnosis of hypophosphatasia, we can make a big difference."
    authorInformation="Lynn Kohlmeier, MD, Adult Endocrinologist"
    authorDescription="Alexion-sponsored speaker"
  />
</Layout>
