---
import MainHero from "../components/MainHero.astro";
import Testimonial from "../components/Testimonial.astro";
import Layout from "../layouts/Layout.astro";
import WorkBox from "../components/WorkBox.astro";
import References from "../components/References.astro";
---

<Layout title="STRENSIQ | HCP" classNames="home" displayISI={false}>
  <MainHero />
  <Testimonial
    authorInformation="Lynn Kohlmeier, MD, Adult Endocrinologist"
    authorDescription="Alexion-sponsored speaker"
    page="home"
  >
    <p>
      If we can increase awareness and reduce misdiagnosis of hypophosphatasia,
      we can make a big difference.
    </p>
  </Testimonial>
  <section class="lets-work wrapper">
    <h1 class="lets-work__title">Let's get to work</h1>

    <div class="lets-work__boxes">
      <WorkBox imgSrc="/assets/images/glass.png" link="/hypophosphatasia">
        Learn more about hypophosphatasia
      </WorkBox>

      <WorkBox imgSrc="/assets/images/tool.png" link="/how-it-works">
        See how STRENSIQ works
      </WorkBox>

      <WorkBox
        imgSrc="/assets/images/stats.png"
        link="/clinical-data/overview"
        className="modifier"
      >
        Clinical data, including real-world outcomes in adults
      </WorkBox>
    </div>
  </section>
  <!-- <div slot="references"> -->
  <References slot="references">
    <p>
      <strong>References: 1.</strong> STRENSIQ. Package insert. Alexion Pharmaceuticals,
      Inc. <strong>2.</strong> NIH MedlinePlus. ALPL gene. Updated Feb 16, 2021.
      Accessed April 3, 2023. <a
        href="https://medlineplus.gov/genetics/gene/alpl/#conditions"
        target="_blank"
        >https://medlineplus.gov/genetics/gene/alpl/#conditions</a
      >
      <strong>3.</strong> Rockman-Greenberg C. Hypophosphatasia. <i
        >Pediatr Endocrinol Rev.</i
      > 2013;10(suppl 2):380-388. <strong>4.</strong> Weber TJ, Sawyer EK, Moseley
      S, Odrljin T, Kishnani PS. Burden of disease in adult patients with hypophosphatasia:
      results from two patient-reported surveys. <i>Metabolism.</i> 2016;65(10):1522-1530.
      <strong>5.</strong> Hӧgler W, Langman C, Gomes da Silva H, et al. Diagnostic
      delay is common among patients with hypophosphatasia: initial findings from
      a longitudinal, prospective, global registry. <i
        >BMC Musculoskelet Disord.</i
      > 2019;20(1):80. <strong>6.</strong> Bianchi ML, Bishop NJ, Guañabens N, et
      al; Rare Bone Disease Action Group of the European Calcified Tissue Society.
      Hypophosphatasia in adolescents and adults: overview of diagnosis and treatment.
      <i>Osteoporos Int.</i> 2020;31(8):1445-1460. <strong>7.</strong> McKiernan
      FE, Berg RL, Fuehrer J. Clinical and radiographic findings in adults with persistent
      hypophosphatasemia. <i>J Bone Miner Res.</i> 2014;29(7):1651-1660. <strong
        >8.</strong
      > Rush ET, Moseley S, Petryk A. Burden of disease in pediatric patients with
      hypophosphatasia: results from the HPP Impact Patient Survey and the HPP Outcomes
      Study Telephone interview. <i>Orphanet J Rare Dis.</i> 2019;16;14(1):201. <strong
        >9.</strong
      > Whyte MP, Simmons JH, Moseley S, et al. Asfotase alfa for infants and young
      children with hypophosphatasia: 7 year outcomes of a single-arm, open-label,
      phase 2 extension trial. <i>Lancet Diabetes Endocrinol.</i> 2019;7(2):93-105.
      <strong>10.</strong> Whyte MP, Rockman-Greenberg C, Moseley S, et al. Sustained
      radiographic and functional improvements with asfotase alfa treatment for up
      to 7 years in children with hypophosphatasia. Poster presented at: International
      Congress of Inborn Errors of Metabolism (ICIEM); Sept 5-8, 2017; Rio de Janeiro,
      Brazil. <strong>11.</strong> Bishop N, Munns CF, Ozono K. Transformative therapy
      in hypophosphatasia. <i>Arch Dis Child.</i> 2016;101(6):514-515.
    </p>
  </References>
  <!-- </div> -->
</Layout>
