---
import Layout from "../layouts/Layout.astro";
import WorkChart from "../components/WorkChart.astro";
---

<Layout title="STRENSIQ | HCP">
  <div class="wrapper">
    <h1>Homepage</h1>
  </div>


  <section class="lets-work wrapper">
    <h1 class="lets-work__title">Let's get to work</h1>

    <div class="lets-work__charts">
      <WorkChart img="/assets/images/glass.png" href="#"> 
        <p>Learn more about hypophosphatasia</p>
    </WorkChart>

    <WorkChart img="/assets/images/tool.png" href="#"> 
      <p>See how STRENSIQ works </p>
    </WorkChart>
    
    <WorkChart img="/assets/images/stats.png" href="#" chartModifier="modifier"> 
      <p>Clinical data, including real-world outcomes in adults</p>
    </WorkChart>
  </div>
  </section>
</Layout>
