---
import PageHero from "../components/PageHero.astro";
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
---

<Layout title="Toolkit">
  <PageHero pageId="toolkit" classNames="toolkit__page-hero">
    <h1 class="page-hero__title">
      Tools to start treating hypophosphatasia at its source
    </h1>
  </PageHero>
  <CTA
    heading="Need more tools? <br /> Head to Alexion Access Navigator for more access and reimbursement resources"
    linkText="Alexion Access Navigator"
    linkUrl="https://alexionaccessnavigator.com/"
    linkTarget="_blank"
  />
</Layout>
