---
import PageHero from "../components/PageHero.astro";
import Layout from "../layouts/Layout.astro";
import StepsBox from "../components/StepsBox.astro";
import TipBox from "../components/TipBox.astro";
import InternalNavigation from "../components/InternalNavigation.astro";
import CTA from "../components/CTA.astro";
import ToolkitModal from "../components/ToolkitModal.astro";

const internalNavLinks = [
  { href: "start", label: "Getting Started", active: true },
  { href: "strensiq", label: "Staying on STRENSIQ" },
  { href: "patient", label: "Patient Support" },
];
---
<Layout title="Toolkit">
  <PageHero pageId="toolkit" classNames="toolkit__page-hero">
    <h1 class="page-hero__title">
      Tools to start treating hypophosphatasia at its source
    </h1>
  </PageHero>

  {
    internalNavLinks && (
      <InternalNavigation items={internalNavLinks} icon={false} />
    )
  }
  <section id="start" class="section toolkit-steps">
    <div class="wrapper">
      <p class="toolkit-steps__desc">
        3 steps for starting patients on STRENSIQ
      </p>
      <div class="toolkit-steps__boxes">
        <StepsBox imgSrc="clipboard-icon" stepNumber="1" imgAlt="clipboard">
          Reach out to your local Alexion representative who will help guide you through the prescription fulfillment process and connect you with your support team
          <button class="button button--primary request-a-rep__button"
            >Request a Rep</button
          >
        </StepsBox>

        <StepsBox
          imgSrc="arrow-box-icon"
          stepNumber="2"
          imgAlt="arrow"
          className="image-modifier"
          classTitle="title-modifier"
        >
          Your Alexion team will help you identify and necessary forms to submit to PANTHERx, the preferred STRENSIQ specialty pharmacy
        </StepsBox>

        <StepsBox
          imgSrc="monitor-icon"
          stepNumber="3"
          imgAlt="monitor"
          className="image-modifier"
        >
          Work with your patient to enroll in OneSourceTM—the complimentary, personalized patient support program from Alexion
        </StepsBox>
      </div>
    </div>
    <TipBox classNames="toolkit__tip">
      <strong>PRO TIP!</strong> To streamline the STRENSIQ fulfillment process, consult your Alexion team for guidance on required documentation prior to submitting any <button class="toolkit-modal">forms</button> to the specialty pharmacy.
    </TipBox>
  </section>
  <section id="strensiq" class="section toolkit__strensiq">
    <div class="wrapper">
      <h2 class="toolkit__strensiq_title">
        OneSource<sup>&trade;</sup> and PANTHERx Rare provide ongoing, personalized support for patients
      </h2>
      <div class="toolkit__grid">
        <div class="toolkit__strensiq_os">
          <img
            class="toolkit__strensiq_os_image"
            src="/assets/images/one-source-logo.png"
            alt="OneSource Logo"
          />
          <h4 class="toolkit__strensiq_os_title">
            OneSource<sup>&trade;</sup>
          </h4>
          <p>Complimentary, personalized patient support offered by Alexion:</p>
          <ul>
            <li>Insurance coverage support (benefits verification, appeals, and more)</li>
            <li>Disease information</li>
            <li>Personalized, ongoing support</li>
            <li>Community connections</li>
          </ul>
          <p>
            <a href="https://alexiononesource.com/" target="_blank">www.AlexionOneSource.com</a>
          </p>
          <p class="phone">Phone: (888) 765-4747</p>
        </div>
        <div class="toolkit__strensiq_os strensiq__panther">
          <img
            class="toolkit__strensiq_os_image"
            src="/assets/images/panther-rare-logo.png"
            alt="PANTHERx Rare Logo"
          />
          <h4 class="toolkit__strensiq_os_title">PANTHERx Rare</h4>
          <p>
            The preferred STRENSIQ specialty pharmacy dispenses STRENSIQ and provides:
          </p>
          <ul>
            <li>Clinical support services</li>
            <li>Coordination with your patient’s insurance company to help with coverage</li>
            <li>Patient education and counseling, including instructions for self-administration</li>
            <li>Shipments and ongoing refills</li>
            <li>24/7 availability and support</li>
          </ul>
        </div>
        <div class="toolkit__strensiq_os contact__info">
          <p>
            <a href="www.pantherxrare.com" target="_blank" class="link">www.pantherxrare.com</a>
          </p>
          <p>Phone: (844) 787-6747</p>
          <p>Fax: (844) 787-2527</p>
          <p>
            Email: <a href="mailto:strensiq@pantherxrare.com" class="link">strensiq@pantherxrare.com</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="patient" class="section toolkit__strensiq toolkit__patient">
    <div class="grid">
      <div class="grid__column grid__left">
        <div class="wrapper">
          <h2 class="toolkit__patient_title">
            What support to expect beyond the first year with STRENSIQ
          </h2>
          <p>
            Alexion is committed to providing you with comprehensive support for managing ongoing treatment with STRENSIQ.
          </p>
          <p>
            Reauthorizations will depend on your patient’s healthcare plan. Preparing for those requirements, including the ones below, may be helpful in preventing disruption in treatment.
          </p>
          <p>
            For patients enrolled in OneSource, your Alexion team can help research and provide specific details on what information may be required, such as:
          </p>
          <ul>
            <li>Baseline measurements</li>
            <li>Ongoing measurements and assessments</li>
            <li>Milestones</li>
            <li>Treatment response</li>
            <li>Support for ongoing treatment</li>
          </ul>
        </div>
      </div>
      <div class="grid__column grid__right">
        <div class="pro__tip">
          <div class="wrapper">
            <p class="pro__tip_text">PRO TIP!</p>
            <h3 class="pro__tip_title">
              Minimize disruption <span>in treatment by</span>
            </h3>
            <ul>
              <li>
                Planning ahead for lab tests well before the reauthorization deadline
              </li>
              <li>
                Anticipating progress assessments that are necessary for continued coverage
                <ul>
                  <li>
                    If these tests (eg, 6-minute walk test) are not offered in your clinical setting, consider referring patient to a local clinician to complete baseline and progression measurements
                  </li>
                </ul>
              </li>
              <li>
                Setting up a reauthorization target date to prepare necessary documents
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <CTA
    classNames="toolkit__cta"
    heading="Need more tools?"
    text="Head to Alexion Access Navigator for more access and reimbursement resources"
    linkText="Alexion Access Navigator"
    linkUrl="https://alexionaccessnavigator.com/"
    linkTarget="_blank"
  />
</Layout>
<ToolkitModal />
