---
type Props = {
  heading: string;
  linkText: string;
  linkUrl: string;
  linkTarget?: string;
};

const { heading, linkText, linkUrl, linkTarget } = Astro.props;
---

<div class="cta">
  <h3 class="cta__heading" set:html={heading} />
  <a
    class="button button--white cta__link"
    href={linkUrl}
    target={linkTarget ? linkTarget : "_self  "}>{linkText}</a
  >
</div>
