---
import FooterAlexionLinks from "./FooterAlexionLinks.astro";
type Props = {};
const {} = Astro.props;
const currentYear = new Date().getFullYear();
---

<div class="footer__alexion">
  <div class="footer__alexion_logo">
    <a
      class="footer__alexion_logo_link"
      target="_blank"
      href="https://alexion.com/"
    >
      <img
        src="/assets/images/Alexion-Logo.png"
        alt="Alexion"
        class="footer__alextion_logo_image"
      />
    </a>
  </div>
  <p class="footer__alexion_text">
    This website is intended for US healthcare professionals only.
  </p>
  <p class="footer__alexion_text">
    STRENSIQ, ALEXION, the Alexion logo, and the OneSource logo are registered
    trademarks and OneSource is a trademark of Alexion Pharmaceuticals, Inc.
  </p>
  <p class="footer__alexion_text">
    &copy; {currentYear}, Alexion Pharmaceuticals, Inc. All rights reserved.
    US/STQ-H/0422 V1 05/{currentYear}
  </p>
  <FooterAlexionLinks />
</div>
