<nav class="footer__nav">
  <ul class="footer__nav_menu">
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="/hypophosphatasia"
        >Hypophosphatasia</a
      >
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="/how-it-works">How It Works</a
      >
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="/clinical-data/overview"
        >Clinical Data</a
      >
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="/dosing">Dosing</a>
    </li>
    <li class="footer__nav_menu_item">
      <a class="footer__nav_menu_item_link" href="/toolkit">Toolkit</a>
    </li>
  </ul>
</nav>
