---
import FooterNavigation from "./FooterNavigation.astro";
import FooterAlexion from "./FooterAlexion.astro";
type Props = {};
const {} = Astro.props;
---

<footer class="footer">
  <div class="wrapper">
    <!-- Footer Logo -->
    <div class="footer__branding">
      <div class="footer__branding_strensiq">
        <a class="footer__branding_strensiq_link" href="/">
          <img
            src="/assets/images/Strensiq-Logo.png"
            alt="Strensiq"
            class="footer__branding_image"
          />
        </a>
        <span class="footer__branding_strensiq_text">
          STRAIGHT TO <br /> THE SOURCE
        </span>
      </div>
    </div>

    <!-- Footer Navigation -->
    <div class="footer__links">
      <FooterNavigation />
    </div>
    <!-- Alextion -->
    <FooterAlexion />
    <!-- Footer Text -->
    <div class="footer__text">
      <p>Want to dig deeper into STRENSIQ? Alexion is at your service.</p>
      <button class="button request-a-rep__button">Request a Rep</button>
    </div>
  </div>
</footer>
