---
import Navigation from "./Navigation.astro";
---

<div class="mobile">
  <div class="top_bar">
    <div class="wrapper">
      <ul class="header__links">
        <li>
          <a href="#isi">ISI</a>
        </li>
        <li>
          <a
            target="_blank"
            class="document-link"
            href="https://alexion.com/documents/strensiq_uspi.pdf">PI</a
          >
        </li>
        <li>
          <a
            target="_blank"
            class="document-link"
            href="https://strensiq-hcp.com/Strensiq_Hcp_com/Documents/Strensiq_INSTRUCTIONS_FOR_USE.pdf"
            >Instructions for use</a
          >
        </li>
        <li>
          <a target="_blank" href="https://strensiq.com/">Patient Site</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main_bar">
    <div class="wrapper">
      <div class="logo">
        <a href="/">
          <img src="/assets/images/Strensiq-Logo-Header.png" alt="Strensiq" />
        </a>
      </div>
      <div class="buttons">
        <button class="button button--primary request-a-rep__button"
          >Request a Rep</button
        >
        <!-- Menu Toggle -->
        <button id="toggle-menu-button" class="menu__toggle">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>
      </div>
    </div>
    <div class="mobile_navigation">
      <Navigation />
    </div>
  </div>
</div>
