---
import Navigation from "./Navigation.astro";
---

<div class="desktop">
  <div class="top_bar">
    <div class="wrapper">
      <ul class="header__links">
        <li>
          <a href="#isi">Important Safety Information</a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://alexion.com/documents/strensiq_uspi.pdf"
            >Prescribing Information</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://strensiq-hcp.com/Strensiq_Hcp_com/Documents/Strensiq_INSTRUCTIONS_FOR_USE.pdf"
            >Instructions for Use</a
          >
        </li>
        <li>
          <a target="_blank" href="https://strensiq.com/">Patient Site</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main_bar">
    <div class="wrapper">
      <div class="logo">
        <a href="/">
          <img src="/assets/images/Strensiq-Logo-Header.png" alt="Strensiq" />
        </a>
      </div>
      <div class="navigation">
        <Navigation />
      </div>
      <div class="buttons">
        <a href="#" class="button button--primary">Request a Rep</a>
      </div>
    </div>
  </div>
</div>
