---
import Navigation from "./Navigation.astro";
---

<div class="desktop">
  <div class="top_bar">
    <div class="wrapper">
      <ul class="header__links">
        <li>
          <a href="#">Important Safety Information</a>
        </li>
        <li>
          <a href="#">Prescribing Information</a>
        </li>
        <li>
          <a href="#">Instructions for Use</a>
        </li>
        <li>
          <a href="#">Patient Site</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main_bar">
    <div class="wrapper">
      <div class="logo">
        <a href="/">
          <img src="/assets/images/Strensiq-Logo-Header.png" alt="Strensiq" />
        </a>
      </div>
      <div class="navigation">
        <Navigation />
      </div>
      <div class="buttons">
        <a href="#" class="button button--primary">Request a Rep</a>
      </div>
    </div>
  </div>
</div>
