---
export interface Props {
  title?: string;
  footnote?: string;
}

const { title = "", footnote } = Astro.props;
---

<article class="highlight-information">
  {title && <h4 class="highlight-information__title">{title}</h4>}
  <section class="highlight-information__content">
    <slot name="content" />
  </section>
  <h5 class="highlight-information__footnote">
    <strong>{footnote}</strong>
    <slot name="footnote" />
  </h5>
</article>
