---
export interface Props {
  title?: string;
  footnote?: string;
  className?: string;
}

    const { title = '', footnote, className = '' } = Astro.props;
---

<article class={`highlight-information ${className}`}>
    {title && <h4 class="highlight-information__title" set:html={title}></h4>}
    <section class="highlight-information__content">
        <slot name='content'></slot>
    </section>
    <h5 class="highlight-information__footnote">
        <strong set:html={footnote}></strong>
        <slot name='footnote'></slot>
    </h5>
</article>
