---
type Props = {};

const {} = Astro.props;
---

<section id="isi" class="isi">
  <!-- <div class="wrapper"> -->
  <div class="isi__section_header">
    <div class="isi__section_header_inner">
      <div class="wrapper">
        <h3 class="isi__section_heading">
          Indication and Important Safety Information
        </h3>
        <button class="isi__section_toggle"></button>
      </div>
    </div>
    <div class="wrapper wrapper__inner">
      <div class="isi__section grid">
        <div class="grid__item left">
          <h4 class="isi__section_subheading">WARNINGS AND PRECAUTIONS</h4>
          <ul class="isi__section_list">
            <li>
              <strong>Hypersensitivity Reactions</strong>, including
              anaphylaxis, have been reported in STRENSIQ-treated patients.
              Signs and symptoms consistent with anaphylaxis included difficulty
              breathing, choking sensation, nausea, periorbital edema, and
              dizziness. These reactions have occurred within minutes after
              subcutaneous administration of STRENSIQ and have been observed
              more than 1 year after treatment initiation. Other
              hypersensitivity reactions have also been reported in
              STRENSIQ-treated patients, including vomiting, fever, headache,
              flushing, irritability, chills, skin erythema, rash, pruritus and
              oral hypoesthesia.<br />
              Inform patients and/or caregivers of the signs and symptoms of hypersensitivity
              reactions and have them seek immediate medical care should signs and
              symptoms occur. If a severe hypersensitivity reaction occurs, discontinue
              STRENSIQ treatment and initiate appropriate medical treatment. Consider
              the risks and benefits of re-administering STRENSIQ to individual patients
              following a severe reaction. If the decision is made to re-administer
              the product, monitor patients for a reoccurrence of signs and symptoms
              of a severe hypersensitivity reaction.
            </li>
            <li>
              <strong>Lipodystrophy:</strong> Localized lipodystrophy, including
              lipoatrophy (depression in the skin) and lipohypertrophy (enlargement
              or thickening of tissue), has been reported at injection sites after
              several months in patients treated with STRENSIQ in clinical trials.
              Advise patients to follow proper injection technique and to rotate
              injection sites.
            </li>
            <li>
              <strong>Ectopic Calcifications:</strong> Patients with HPP are at increased
              risk for developing ectopic calcifications. Events of ectopic calcification,
              including ophthalmic (conjunctival and corneal) and renal (nephrocalcinosis,
              nephrolithiasis), have been reported in the clinical trial experience
              with STRENSIQ. There was insufficient information to determine whether
              or not the reported events were consistent with the disease or due
              to STRENSIQ. No visual changes or changes in renal function were reported
              resulting from the occurrence of ectopic calcifications.
              <br />
              Ophthalmology examinations and renal ultrasounds are recommended at
              baseline and periodically during treatment with STRENSIQ to monitor
              for signs and symptoms of ophthalmic and renal ectopic calcifications
              and for changes in vision or renal function.
            </li>
            <li>
              <strong>Possible Immune-Mediated Clinical Effects:</strong> In clinical
              trials, most STRENSIQ-treated patients developed anti-asfotase alfa
              antibodies and neutralizing antibodies which resulted in reduced systemic
              exposure of asfotase alfa. In postmarketing reports, some STRENSIQ-treated
              patients with initial therapeutic response subsequently developed recurrence
              and worsening in disease-associated laboratory and radiographic biomarkers
              (some in association with neutralizing antibodies) suggesting possible
              immune-mediated effects on STRENSIQ’s pharmacologic action resulting
              in disease progression. The effect of anti-asfotase alfa antibody formation
              on the long-term efficacy of STRENSIQ is unknown. There are no marketed
              anti-asfotase alfa antibody tests. If patients experience progression
              of HPP symptoms or worsening of disease-associated laboratory and imaging
              biomarkers after a period of initial therapeutic response to STRENSIQ,
              consider obtaining anti-asfotase alfa antibody testing by contacting
              STRENSIQ Medical Information at Alexion at 1-888-765-4747 or by email
              at <a
                class="isi__link"
                href="mailto:medinfo@alexion.com"
                target="_blank">medinfo@alexion.com</a
              >. Close clinical follow up is recommended.
            </li>
          </ul>
          <h4
            class="isi__section_subheading isi__section_subheading--no-margin-bottom"
          >
            ADVERSE REACTIONS
          </h4>
          <p>
            Overall, the most common adverse reactions (≥ 10%) reported were
            injection site reactions (63%). Other common adverse reactions
            included lipodystrophy (28%), ectopic calcifications (14%), and
            hypersensitivity reactions (12%). Possible immune-mediated clinical
            effects have been identified during post-approval use of STRENSIQ.
          </p>
          <h4
            class="isi__section_subheading isi__section_subheading--no-margin-bottom"
          >
            DRUG INTERACTIONS
          </h4>
          <strong>Drug Interference with Laboratory Tests:</strong>
          <ul class="isi__section_list">
            <li>
              Laboratory tests utilizing alkaline phosphatase (ALP) as a
              detection reagent could result in erroneous test results for
              patients receiving treatment due to the presence of asfotase alfa
              in clinical laboratory samples. Inform laboratory personnel that
              the patient is being treated with STRENSIQ and discuss use of an
              alternative testing platform which does not utilize an
              ALP-conjugated test system.
            </li>
            <li>
              Elevated serum ALP measurements detected through clinical
              laboratory testing are expected in patients receiving STRENSIQ due
              to circulating concentrations of asfotase alfa and may be
              unreliable for clinical decision making.
            </li>
          </ul>
          <h4
            class="isi__section_subheading isi__section_subheading--no-margin-bottom"
          >
            SPECIAL POPULATIONS
          </h4>
          <ul class="isi__section_list">
            <li>
              Pregnancy & Lactation: There are no available data on STRENSIQ use
              in pregnant women, the presence of STRENSIQ in human milk, or the
              effects on the breastfed infant or on milk production, to inform a
              drug associated risk.
            </li>
          </ul>
          <p class="isi__footnote isi__footnote--left">
            Please see STRENSIQ (asfotase alfa) full <a
              href="https://alexion.com/documents/strensiq_uspi"
              target="_blank">Prescribing Information</a
            >.
          </p>
        </div>
        <div class="grid__item right">
          <h4 class="isi__section_subheading">INDICATION</h4>
          <p>
            STRENSIQ<sup>&reg;</sup> (asfotase alfa) is indicated for the treatment
            of patients with perinatal/infantile- and juvenile-onset hypophosphatasia
            (HPP).
          </p>
          <p class="isi__footnote isi__footnote--right">
            Please see STRENSIQ (asfotase alfa) full <a
              href="https://alexion.com/documents/strensiq_uspi"
              target="_blank">Prescribing Information</a
            >.
          </p>
        </div>
      </div>
      <div class="isi__section_content">
        <div class="isi__section grid">
          <div class="grid__item left">
            <h4 class="isi__section_subheading">WARNINGS AND PRECAUTIONS</h4>
            <ul class="isi__section_list">
              <li>
                <strong>Hypersensitivity Reactions</strong>, including
                anaphylaxis, have been reported in STRENSIQ-treated patients.
                Signs and symptoms consistent with anaphylaxis included
                difficulty breathing, choking sensation, nausea, periorbital
                edema, and dizziness. These reactions have occurred within
                minutes after subcutaneous administration of STRENSIQ and have
                been observed more than 1 year after treatment initiation. Other
                hypersensitivity reactions have also been reported in
                STRENSIQ-treated patients, including vomiting, fever, headache,
                flushing, irritability, chills, skin erythema, rash, pruritus
                and oral hypoesthesia.
                <br />
                Inform patients and/or caregivers of the signs and symptoms of hypersensitivity
                reactions and have them seek immediate medical care should signs
                and symptoms occur. If a severe hypersensitivity reaction occurs,
                discontinue STRENSIQ treatment and initiate appropriate medical treatment.
                Consider the risks and benefits of re-administering STRENSIQ to individual
                patients following a severe reaction. If the decision is made to
                re-administer the product, monitor patients for a reoccurrence of
                signs and symptoms of a severe hypersensitivity reaction.
              </li>
              <li>
                <strong>Lipodystrophy:</strong> Localized lipodystrophy, including
                lipoatrophy (depression in the skin) and lipohypertrophy (enlargement
                or thickening of tissue), has been reported at injection sites after
                several months in patients treated with STRENSIQ in clinical trials.
                Advise patients to follow proper injection technique and to rotate
                injection sites.
              </li>
              <li>
                <strong>Ectopic Calcifications:</strong> Patients with HPP are at
                increased risk for developing ectopic calcifications. Events of ectopic
                calcification, including ophthalmic (conjunctival and corneal) and
                renal (nephrocalcinosis, nephrolithiasis), have been reported in
                the clinical trial experience with STRENSIQ. There was insufficient
                information to determine whether or not the reported events were
                consistent with the disease or due to STRENSIQ. No visual changes
                or changes in renal function were reported resulting from the occurrence
                of ectopic calcifications.
                <br />
                Ophthalmology examinations and renal ultrasounds are recommended
                at baseline and periodically during treatment with STRENSIQ to monitor
                for signs and symptoms of ophthalmic and renal ectopic calcifications
                and for changes in vision or renal function.
              </li>
              <li>
                <strong>Possible Immune-Mediated Clinical Effects:</strong> In clinical
                trials, most STRENSIQ-treated patients developed anti-asfotase alfa
                antibodies and neutralizing antibodies which resulted in reduced
                systemic exposure of asfotase alfa. In postmarketing reports, some
                STRENSIQ-treated patients with initial therapeutic response subsequently
                developed recurrence and worsening in disease-associated laboratory
                and radiographic biomarkers (some in association with neutralizing
                antibodies) suggesting possible immune-mediated effects on STRENSIQ’s
                pharmacologic action resulting in disease progression. The effect
                of anti-asfotase alfa antibody formation on the long-term efficacy
                of STRENSIQ is unknown. There are no marketed anti-asfotase alfa
                antibody tests. If patients experience progression of HPP symptoms
                or worsening of disease-associated laboratory and imaging biomarkers
                after a period of initial therapeutic response to STRENSIQ, consider
                obtaining anti-asfotase alfa antibody testing by contacting STRENSIQ
                Medical Information at Alexion at 1-888-765-4747 or by email at <a
                  class="isi__link"
                  href="mailto:medinfo@alexion.com"
                  target="_blank">medinfo@alexion.com</a
                >. Close clinical follow up is recommended.
              </li>
            </ul>
            <h4
              class="isi__section_subheading isi__section_subheading--no-margin-bottom"
            >
              ADVERSE REACTIONS
            </h4>
            <p>
              Overall, the most common adverse reactions (≥ 10%) reported were
              injection site reactions (63%). Other common adverse reactions
              included lipodystrophy (28%), ectopic calcifications (14%), and
              hypersensitivity reactions (12%). Possible immune-mediated
              clinical effects have been identified during post-approval use of
              STRENSIQ.
            </p>
            <h4
              class="isi__section_subheading isi__section_subheading--no-margin-bottom"
            >
              DRUG INTERACTIONS
            </h4>
            <strong>Drug Interference with Laboratory Tests:</strong>
            <ul class="isi__section_list">
              <li>
                Laboratory tests utilizing alkaline phosphatase (ALP) as a
                detection reagent could result in erroneous test results for
                patients receiving treatment due to the presence of asfotase
                alfa in clinical laboratory samples. Inform laboratory personnel
                that the patient is being treated with STRENSIQ and discuss use
                of an alternative testing platform which does not utilize an
                ALP-conjugated test system.
              </li>
              <li>
                Elevated serum ALP measurements detected through clinical
                laboratory testing are expected in patients receiving STRENSIQ
                due to circulating concentrations of asfotase alfa and may be
                unreliable for clinical decision making.
              </li>
            </ul>
            <h4
              class="isi__section_subheading isi__section_subheading--no-margin-bottom"
            >
              SPECIAL POPULATIONS
            </h4>
            <ul class="isi__section_list">
              <li>
                Pregnancy & Lactation: There are no available data on STRENSIQ
                use in pregnant women, the presence of STRENSIQ in human milk,
                or the effects on the breastfed infant or on milk production, to
                inform a drug associated risk.
              </li>
            </ul>
            <p class="isi__footnote isi__footnote--left">
              Please see STRENSIQ (asfotase alfa) full <a
                href="https://alexion.com/documents/strensiq_uspi"
                target="_blank">Prescribing Information.</a
              >
            </p>
          </div>
          <div class="grid__item right">
            <h4 class="isi__section_subheading">INDICATION</h4>
            <p>
              STRENSIQ<sup>&reg;</sup> (asfotase alfa) is indicated for the treatment
              of patients with perinatal/infantile- and juvenile-onset hypophosphatasia
              (HPP).
            </p>
            <p class="isi__footnote isi__footnote--right">
              Please see STRENSIQ (asfotase alfa) full <a
                href="https://alexion.com/documents/strensiq_uspi"
                target="_blank">Prescribing Information.</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="isi__section_content">
    <div class="wrapper">
      <div class="isi__section grid">
        <div class="grid__item left">
          <h4 class="isi__section_subheading">WARNINGS AND PRECAUTIONS</h4>
          <ul class="isi__section_list">
            <li>
              <strong>Hypersensitivity Reactions</strong>, including
              anaphylaxis, have been reported in STRENSIQ-treated patients.
              Signs and symptoms consistent with anaphylaxis included difficulty
              breathing, choking sensation, nausea, periorbital edema, and
              dizziness. These reactions have occurred within minutes after
              subcutaneous administration of STRENSIQ and have been observed
              more than 1 year after treatment initiation. Other
              hypersensitivity reactions have also been reported in
              STRENSIQ-treated patients, including vomiting, fever, headache,
              flushing, irritability, chills, skin erythema, rash, pruritus and
              oral hypoesthesia.<br />
              Inform patients and/or caregivers of the signs and symptoms of hypersensitivity
              reactions and have them seek immediate medical care should signs and
              symptoms occur. If a severe hypersensitivity reaction occurs, discontinue
              STRENSIQ treatment and initiate appropriate medical treatment. Consider
              the risks and benefits of re-administering STRENSIQ to individual patients
              following a severe reaction. If the decision is made to re-administer
              the product, monitor patients for a reoccurrence of signs and symptoms
              of a severe hypersensitivity reaction.
            </li>
            <li>
              <strong>Lipodystrophy:</strong> Localized lipodystrophy, including
              lipoatrophy (depression in the skin) and lipohypertrophy (enlargement
              or thickening of tissue), has been reported at injection sites after
              several months in patients treated with STRENSIQ in clinical trials.
              Advise patients to follow proper injection technique and to rotate
              injection sites.
            </li>
            <li>
              <strong>Ectopic Calcifications:</strong> Patients with HPP are at increased
              risk for developing ectopic calcifications. Events of ectopic calcification,
              including ophthalmic (conjunctival and corneal) and renal (nephrocalcinosis,
              nephrolithiasis), have been reported in the clinical trial experience
              with STRENSIQ. There was insufficient information to determine whether
              or not the reported events were consistent with the disease or due
              to STRENSIQ. No visual changes or changes in renal function were reported
              resulting from the occurrence of ectopic calcifications.
              <br />
              Ophthalmology examinations and renal ultrasounds are recommended at
              baseline and periodically during treatment with STRENSIQ to monitor
              for signs and symptoms of ophthalmic and renal ectopic calcifications
              and for changes in vision or renal function.
            </li>
            <li>
              <strong>Possible Immune-Mediated Clinical Effects:</strong> In clinical
              trials, most STRENSIQ-treated patients developed anti-asfotase alfa
              antibodies and neutralizing antibodies which resulted in reduced systemic
              exposure of asfotase alfa. In postmarketing reports, some STRENSIQ-treated
              patients with initial therapeutic response subsequently developed recurrence
              and worsening in disease-associated laboratory and radiographic biomarkers
              (some in association with neutralizing antibodies) suggesting possible
              immune-mediated effects on STRENSIQ’s pharmacologic action resulting
              in disease progression. The effect of anti-asfotase alfa antibody formation
              on the long-term efficacy of STRENSIQ is unknown. There are no marketed
              anti-asfotase alfa antibody tests. If patients experience progression
              of HPP symptoms or worsening of disease-associated laboratory and imaging
              biomarkers after a period of initial therapeutic response to STRENSIQ,
              consider obtaining anti-asfotase alfa antibody testing by contacting
              STRENSIQ Medical Information at Alexion at 1-888-765-4747 or by email
              at <a
                class="isi__link"
                href="mailto:medinfo@alexion.com"
                target="_blank">medinfo@alexion.com</a
              >. Close clinical follow up is recommended.
            </li>
          </ul>
          <h4
            class="isi__section_subheading isi__section_subheading--no-margin-bottom"
          >
            ADVERSE REACTIONS
          </h4>
          <p>
            Overall, the most common adverse reactions (≥ 10%) reported were
            injection site reactions (63%). Other common adverse reactions
            included lipodystrophy (28%), ectopic calcifications (14%), and
            hypersensitivity reactions (12%). Possible immune-mediated clinical
            effects have been identified during post-approval use of STRENSIQ.
          </p>
          <h4
            class="isi__section_subheading isi__section_subheading--no-margin-bottom"
          >
            DRUG INTERACTIONS
          </h4>
          <strong>Drug Interference with Laboratory Tests:</strong>
          <ul class="isi__section_list">
            <li>
              Laboratory tests utilizing alkaline phosphatase (ALP) as a
              detection reagent could result in erroneous test results for
              patients receiving treatment due to the presence of asfotase alfa
              in clinical laboratory samples. Inform laboratory personnel that
              the patient is being treated with STRENSIQ and discuss use of an
              alternative testing platform which does not utilize an
              ALP-conjugated test system.
            </li>
            <li>
              Elevated serum ALP measurements detected through clinical
              laboratory testing are expected in patients receiving STRENSIQ due
              to circulating concentrations of asfotase alfa and may be
              unreliable for clinical decision making.
            </li>
          </ul>
          <h4
            class="isi__section_subheading isi__section_subheading--no-margin-bottom"
          >
            SPECIAL POPULATIONS
          </h4>
          <ul class="isi__section_list">
            <li>
              Pregnancy & Lactation: There are no available data on STRENSIQ use
              in pregnant women, the presence of STRENSIQ in human milk, or the
              effects on the breastfed infant or on milk production, to inform a
              drug associated risk.
            </li>
          </ul>
          <p class="isi__footnote isi__footnote--left">
            Please see STRENSIQ (asfotase alfa) full <a
              href="https://alexion.com/documents/strensiq_uspi"
              target="_blank">Prescribing Information</a
            >.
          </p>
        </div>
        <div class="grid__item right">
          <h4 class="isi__section_subheading">INDICATION</h4>
          <p>
            STRENSIQ<sup>&reg;</sup> (asfotase alfa) is indicated for the treatment
            of patients with perinatal/infantile- and juvenile-onset hypophosphatasia
            (HPP).
          </p>
          <p class="isi__footnote isi__footnote--right">
            Please see STRENSIQ (asfotase alfa) full <a
              href="https://alexion.com/documents/strensiq_uspi"
              target="_blank">Prescribing Information</a
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>
