---
type Props = {};

const {} = Astro.props;
---

<section class="isi">
  <div class="wrapper">
    <div class="isi__section_header">
      <div class="wrapper wrapper__inner">
        <h3 class="isi__section_heading">IMPORTANT SAFETY INFORMATION</h3>
        <p>
          <strong
            >Before taking Koselugo, tell your healthcare provider about all of
            your medical conditions, including if you:</strong
          >
        </p>
        <ul class="isi__section_list">
          <li class="isi_section_list_item">have heart problems</li>
          <li class="isi_section_list_item">have eye problems</li>
        </ul>
        <button class="isi__section_toggle"></button>
        <div class="isi__section_content">
          <ul class="isi__section_list">
            <li class="isi_section_list_item">
              are pregnant or plan to become pregnant. Koselugo can harm your
              unborn baby
              <ul class="isi__section_list sub__list">
                <li class="isi_section_list_item">
                  Females who could become pregnant and males with female
                  partners who could become pregnant should use effective birth
                  control (contraception) during treatment with Koselugo and for
                  1 week after your last dose
                </li>
                <li class="isi_section_list_item">
                  Tell your healthcare provider right away if you become
                  pregnant or think you may be pregnant during treatment with
                  Koselugo
                </li>
              </ul>
            </li>
            <li class="isi_section_list_item">
              Tell your healthcare provider right away if you become pregnant or
              think you may be pregnant during treatment with Koselugo
              <ul class="isi__section_list sub__list">
                <li class="isi_section_list_item">
                  Do not breastfeed during treatment with Koselugo and for 1
                  week after your last dose
                </li>
                <li class="isi_section_list_item">
                  Talk to your healthcare provider about the best way to feed
                  your baby during this time
                </li>
              </ul>
            </li>
          </ul>
          <p>
            <strong
              >Tell your healthcare provider about all the medicines you take,</strong
            >
            including prescription and over-the-counter medicines, vitamins, or herbal
            supplements. Especially tell your healthcare provider if you are taking
            aspirin, blood thinners, or other medicines to treat blood clots. Koselugo
            contains vitamin E, which may increase your risk of bleeding.
          </p>
          <p>
            <strong>
              Koselugo may cause serious side effects, including: <br /> Heart problems.</strong
            > Koselugo can lower the amount of blood pumped by your heart, which
            is common and can also be severe. Your healthcare provider will do tests
            before and during treatment with Koselugo to check how well your heart
            is working. Tell your healthcare provider right away if you get any of
            the following signs or symptoms:
          </p>
          <ul class="isi__section_list">
            <li class="isi_section_list_item">
              persistent coughing or wheezing
            </li>
            <li class="isi_section_list_item">shortness of breath</li>
            <li class="isi_section_list_item">
              swelling of your ankles and feet
            </li>
            <li class="isi_section_list_item">tiredness</li>
            <li class="isi_section_list_item">increased heart rate</li>
          </ul>
          <p>
            <strong> Eye problems.</strong> Koselugo can cause eye problems that
            can lead to blindness. Your healthcare provider will check your vision
            before and during treatment with Koselugo. Tell your healthcare provider
            right away if you get any of the following signs or symptoms:
          </p>
          <ul class="isi__section_list">
            <li class="isi_section_list_item">blurred vision</li>
            <li class="isi_section_list_item">loss of vision</li>
            <li class="isi_section_list_item">
              dark spots in your vision (floaters)
            </li>
            <li class="isi_section_list_item">other changes to your vision</li>
          </ul>
          <p>
            <strong>Severe diarrhea.</strong> Diarrhea is common with Koselugo and
            can also be severe. Tell your healthcare provider right away the first
            time that you get diarrhea during treatment with Koselugo. Your healthcare
            provider may give you medicine to help control your diarrhea and may
            tell you to drink more fluids.
          </p>
          <p>
            <strong>Skin rash.</strong> Skin rashes are common with Koselugo and
            can also be severe. Tell your healthcare provider if you get any of the
            following signs or symptoms:
          </p>
          <ul class="isi__section_list">
            <li class="isi_section_list_item">
              rash that covers a large area of your body
            </li>
            <li class="isi_section_list_item">peeling skin</li>
            <li class="isi_section_list_item">blisters</li>
          </ul>
          <p>
            <strong>Muscle problems (rhabdomyolysis).</strong> Muscle problems are
            common with Koselugo and can also be severe. Treatment with Koselugo
            may increase the level of a muscle enzyme in your blood, which may be
            a sign of muscle damage. Your healthcare provider should do a blood test
            to check your muscle enzyme levels before you start taking Koselugo and
            during treatment. Tell your healthcare provider right away if you get
            any of the following signs or symptoms:
          </p>
          <ul class="isi__section_list">
            <li class="isi_section_list_item">muscle aches or pain</li>
            <li class="isi_section_list_item">muscle spasms and weakness</li>
            <li class="isi_section_list_item">dark, reddish urine</li>
          </ul>
          <p>
            Your healthcare provider may change your dose, temporarily stop, or
            permanently ask you to stop taking Koselugo if you have any of these
            side effects.
          </p>
          <p><strong>The most common side effects of Koselugo are:</strong></p>
          <ul class="isi__section_list">
            <li class="isi_section_list_item">vomiting</li>
            <li class="isi_section_list_item">stomach pain</li>
            <li class="isi_section_list_item">nausea</li>
            <li class="isi_section_list_item">dry skin</li>
            <li class="isi_section_list_item">
              feeling of tiredness, weakness, or lacking energy
            </li>
            <li class="isi_section_list_item">muscle and bone pain</li>
            <li class="isi_section_list_item">fever</li>
            <li class="isi_section_list_item">inflammation of the mouth</li>
            <li class="isi_section_list_item">headache</li>
            <li class="isi_section_list_item">
              redness around the fingernails
            </li>
            <li class="isi_section_list_item">itching</li>
          </ul>
          <p>These are not all the possible side effects of Koselugo.</p>
        </div>
        <div class="isi__section_footer">
          <h3 class="isi__section_heading">INDICATION</h3>
          <p>
            <strong>What is Koselugo?</strong>
          </p>
          <p>
            Koselugo is a prescription medicine that is used to treat children 2
            years of age and older with neurofibromatosis type 1 (NF1) who have
            plexiform neurofibromas that cannot be completely removed by
            surgery.
          </p>
          <p>
            It is not known if Koselugo is safe and effective in children under
            2 years of age.
          </p>
          <p>
            <small
              ><em
                >You may report side effects related to AstraZeneca products by
                clicking here.</em
              ></small
            >
          </p>
        </div>
      </div>
    </div>
    <div class="isi__section_content">
      <ul class="isi__section_list">
        <li class="isi_section_list_item">
          are pregnant or plan to become pregnant. Koselugo can harm your unborn
          baby
          <ul class="isi__section_list sub__list">
            <li class="isi_section_list_item">
              Females who could become pregnant and males with female partners
              who could become pregnant should use effective birth control
              (contraception) during treatment with Koselugo and for 1 week
              after your last dose
            </li>
            <li class="isi_section_list_item">
              Tell your healthcare provider right away if you become pregnant or
              think you may be pregnant during treatment with Koselugo
            </li>
          </ul>
        </li>
        <li class="isi_section_list_item">
          Tell your healthcare provider right away if you become pregnant or
          think you may be pregnant during treatment with Koselugo
          <ul class="isi__section_list sub__list">
            <li class="isi_section_list_item">
              Do not breastfeed during treatment with Koselugo and for 1 week
              after your last dose
            </li>
            <li class="isi_section_list_item">
              Talk to your healthcare provider about the best way to feed your
              baby during this time
            </li>
          </ul>
        </li>
      </ul>
      <p>
        <strong
          >Tell your healthcare provider about all the medicines you take,</strong
        >
        including prescription and over-the-counter medicines, vitamins, or herbal
        supplements. Especially tell your healthcare provider if you are taking aspirin,
        blood thinners, or other medicines to treat blood clots. Koselugo contains
        vitamin E, which may increase your risk of bleeding.
      </p>
      <p>
        <strong>
          Koselugo may cause serious side effects, including: <br /> Heart problems.</strong
        > Koselugo can lower the amount of blood pumped by your heart, which is common
        and can also be severe. Your healthcare provider will do tests before and
        during treatment with Koselugo to check how well your heart is working. Tell
        your healthcare provider right away if you get any of the following signs
        or symptoms:
      </p>
      <ul class="isi__section_list">
        <li class="isi_section_list_item">persistent coughing or wheezing</li>
        <li class="isi_section_list_item">shortness of breath</li>
        <li class="isi_section_list_item">swelling of your ankles and feet</li>
        <li class="isi_section_list_item">tiredness</li>
        <li class="isi_section_list_item">increased heart rate</li>
      </ul>
      <p>
        <strong> Eye problems.</strong> Koselugo can cause eye problems that can
        lead to blindness. Your healthcare provider will check your vision before
        and during treatment with Koselugo. Tell your healthcare provider right away
        if you get any of the following signs or symptoms:
      </p>
      <ul class="isi__section_list">
        <li class="isi_section_list_item">blurred vision</li>
        <li class="isi_section_list_item">loss of vision</li>
        <li class="isi_section_list_item">
          dark spots in your vision (floaters)
        </li>
        <li class="isi_section_list_item">other changes to your vision</li>
      </ul>
      <p>
        <strong>Severe diarrhea.</strong> Diarrhea is common with Koselugo and can
        also be severe. Tell your healthcare provider right away the first time that
        you get diarrhea during treatment with Koselugo. Your healthcare provider
        may give you medicine to help control your diarrhea and may tell you to drink
        more fluids.
      </p>
      <p>
        <strong>Skin rash.</strong> Skin rashes are common with Koselugo and can
        also be severe. Tell your healthcare provider if you get any of the following
        signs or symptoms:
      </p>
      <ul class="isi__section_list">
        <li class="isi_section_list_item">
          rash that covers a large area of your body
        </li>
        <li class="isi_section_list_item">peeling skin</li>
        <li class="isi_section_list_item">blisters</li>
      </ul>
      <p>
        <strong>Muscle problems (rhabdomyolysis).</strong> Muscle problems are common
        with Koselugo and can also be severe. Treatment with Koselugo may increase
        the level of a muscle enzyme in your blood, which may be a sign of muscle
        damage. Your healthcare provider should do a blood test to check your muscle
        enzyme levels before you start taking Koselugo and during treatment. Tell
        your healthcare provider right away if you get any of the following signs
        or symptoms:
      </p>
      <ul class="isi__section_list">
        <li class="isi_section_list_item">muscle aches or pain</li>
        <li class="isi_section_list_item">muscle spasms and weakness</li>
        <li class="isi_section_list_item">dark, reddish urine</li>
      </ul>
      <p>
        Your healthcare provider may change your dose, temporarily stop, or
        permanently ask you to stop taking Koselugo if you have any of these
        side effects.
      </p>
      <p><strong>The most common side effects of Koselugo are:</strong></p>
      <ul class="isi__section_list">
        <li class="isi_section_list_item">vomiting</li>
        <li class="isi_section_list_item">stomach pain</li>
        <li class="isi_section_list_item">nausea</li>
        <li class="isi_section_list_item">dry skin</li>
        <li class="isi_section_list_item">
          feeling of tiredness, weakness, or lacking energy
        </li>
        <li class="isi_section_list_item">muscle and bone pain</li>
        <li class="isi_section_list_item">fever</li>
        <li class="isi_section_list_item">inflammation of the mouth</li>
        <li class="isi_section_list_item">headache</li>
        <li class="isi_section_list_item">redness around the fingernails</li>
        <li class="isi_section_list_item">itching</li>
      </ul>
      <p>These are not all the possible side effects of Koselugo.</p>
    </div>
    <div class="isi__section_footer">
      <h3 class="isi__section_heading">INDICATION</h3>
      <p>
        <strong>What is Koselugo?</strong>
      </p>
      <p>
        Koselugo is a prescription medicine that is used to treat children 2
        years of age and older with neurofibromatosis type 1 (NF1) who have
        plexiform neurofibromas that cannot be completely removed by surgery.
      </p>
      <p>
        It is not known if Koselugo is safe and effective in children under 2
        years of age.
      </p>
      <p>
        <small
          ><em
            >You may report side effects related to AstraZeneca products by
            clicking here.</em
          ></small
        >
      </p>
    </div>
  </div>
</section>
