<section class="main-hero">
    <div class="main-hero__wrapper">
        <div class="main-hero__image-wrapper">
            <picture class="main-hero__image">
                <source srcset="/assets/images/home/main-hero/room-woman-cat-desktop.png" media="(min-width: 1000px)">
                <source srcset="/assets/images/home/main-hero/room-woman-cat-tablet.png" media="(min-width: 500px)">
                <img src="/assets/images/home/main-hero/room-woman-cat-mobile.png" alt="">
            </picture>
        </div>
        <div class="main-hero__content-wrapper">
            <div class="main-hero__content">
                <h1 class="main-hero__title">
                        Works for now<span class="color--green">”</span> is not how you work
                </h1>
                <p class="main-hero__info">
                    Overlooking smaller problems can lead to bigger issues. For patients with hypophosphatasia (HPP),  persistently low alkaline phosphatase (ALP) may cause multisystemic symptoms that can progress with time and impact their quality of life. Only STRENSIQ addresses the underlying cause of HPP by replacing the deficient ALP enzyme.
                </p>
                <br>
                <p class="main-hero__info">
                    STRENSIQ is the only FDA-approved enzyme replacement therapy indicated for pediatric-onset hypophosphatasia, supported by <br> 7 years of 
                    clinical data.
                </p>
                <div class="main-hero__callout-wrapper">
                    <p class="main-hero__callout-text">
                        Get straight to the source with STRENSIQ
                    </p>
                </div>
                <a href="#" class="button button--primary">
                    See what STRENSIQ has built
                </a>
            </div>
        </div>
    </div>
</section>