<section class="main-hero">
    <div class="main-hero__wrapper">
        <div class="main-hero__image-wrapper">
            <picture class="main-hero__image image-1">
                <source srcset="/assets/images/home/main-hero/main-hero-image1-big-desktop.png" media="(min-width: 1200px)">
                <source srcset="/assets/images/home/main-hero/main-hero-image1-desktop.png" media="(min-width: 768px)">
                <source srcset="/assets/images/home/main-hero/main-hero-image1-tablet.png" media="(min-width: 500px)">
                <img src="/assets/images/home/main-hero/main-hero-image1-mobile.png" alt="">
                <figcaption>All patients are actor portrayals.</figcaption>
            </picture>

            <picture class="main-hero__image image-2">
                <source srcset="/assets/images/home/main-hero/main-hero-image2-big-desktop.png" media="(min-width: 1200px)">
                <source srcset="/assets/images/home/main-hero/main-hero-image2-desktop.png" media="(min-width: 768px)">
                <source srcset="/assets/images/home/main-hero/main-hero-image2-tablet.png" media="(min-width: 500px)">
                <img src="/assets/images/home/main-hero/main-hero-image2-mobile.png" alt="">
                <figcaption>All patients are actor portrayals.</figcaption>
            </picture>

            <picture class="main-hero__image image-3">
                <source srcset="/assets/images/home/main-hero/main-hero-image3-big-desktop.png" media="(min-width: 1200px)">
                <source srcset="/assets/images/home/main-hero/main-hero-image3-desktop.png" media="(min-width: 768px)">
                <source srcset="/assets/images/home/main-hero/main-hero-image3-tablet.png" media="(min-width: 500px)">
                <img src="/assets/images/home/main-hero/main-hero-image3-mobile.png" alt="">
                <figcaption>All patients are actor portrayals.</figcaption>
            </picture>
        </div>
        <div class="main-hero__content-wrapper">
            <div class="main-hero__content">
                <h1 class="main-hero__title">
                    Because <span class="color--green">“</span>good enough<span class="color--green">”</span> isn't enough for you
                </h1>
                <h2 class="main-hero__subtitle color--green">Get straight to the source with STRENSIQ<sup>1</sup></h2>
                <p class="main-hero__info">
                    For patients with hypophosphatasia (HPP), persistently low alkaline phosphatase (ALP)<sup class="symbol-sup">*</sup> may cause multisystemic symptoms that can progress with time.<sup>2-8</sup>
                </p>
                <p class="main-hero__info">
                    STRENSIQ is the only FDA-approved enzyme replacement therapy indicated for the treatment 
                    of patients with perinatal/infantile- and juvenile-onset hypophosphatasia, supported by 7 years of clinical data. Only STRENSIQ addresses the underlying cause of HPP by replacing the deficient ALP enzyme.<sup>1,9,10</sup>
                </p>
                <p class="main-hero__footnote">
                    <sup class="symbol-sup">*</sup>ALP reference ranges must be age- and sex-adjusted.11
                </p>
                <a href="#" class="button button--primary">
                    See what STRENSIQ has built
                </a>
            </div>
        </div>
    </div>
</section>