<nav class="site__navigation">
  <ul class="main__navigation nav__menu">
    <li class="nav__menu_item">
      <a href="/hypophosphatasia" class="nav__menu_item_link"
        >Hypophosphatasia</a
      >
    </li>
    <li class="nav__menu_item">
      <a href="/how-it-works" class="nav__menu_item_link">How It Works</a>
    </li>
    <li class="nav__menu_item has__sub_menu">
      <a href="#" class="nav__menu_item_link clinical-item">Clinical Data</a>
      <ul class="nav__sub_menu">
        <li class="nav__sub_menu_item">
          <a href="/clinical-data/overview" class="nav__sub_menu_item_link"
            >Overview</a
          >
        </li>
        <li class="nav__sub_menu_item">
          <a
            href="/clinical-data/infants-young-children"
            class="nav__sub_menu_item_link">Infants/Young Children</a
          >
        </li>
        <li class="nav__sub_menu_item">
          <a href="/clinical-data/children" class="nav__sub_menu_item_link"
            >Children</a
          >
        </li>
        <li class="nav__sub_menu_item">
          <a href="/clinical-data/adolescents" class="nav__sub_menu_item_link"
            >Adolescents</a
          >
        </li>
        <li class="nav__sub_menu_item">
          <a href="/clinical-data/adults" class="nav__sub_menu_item_link"
            >Adults</a
          >
        </li>
      </ul>
    </li>
    <li class="nav__menu_item">
      <a href="/dosing" class="nav__menu_item_link">Dosing</a>
    </li>
    <li class="nav__menu_item">
      <a href="/toolkit" class="nav__menu_item_link">Toolkit</a>
    </li>
  </ul>
</nav>
