<section class="not-found-hero">
  <div class="not-found-hero__content">
    <div class="wrapper">
      <h1 class="not-found-hero__title">
        Oops<span class="color--dark-pink">!</span><br /> Wrong turn on the way to
        the job site<span class="color--dark-pink">.</span>
      </h1>
      <a class="button button--white" href="/">Let's fix it</a>
    </div>
  </div>

  <div class="not-found-hero__shape"></div>
  <!-- <picture class="not-found-hero__image">
    <source
      srcset="/assets/images/404-page/not-found-desktop.png"
      media="(min-width: 768px)"
    />
    <source
      srcset="/assets/images/404-page/not-found-tablet.png"
      media="(min-width: 450px)"
    />
    <img src="/assets/images/404-page/not-found-mobile.png" alt="" />
  </picture> -->
</section>
