---
type Props = {
    pageId: string;
}

const { pageId } = Astro.props
---

<section id={`${pageId}-page-hero`} class="page-hero">
    <div class="wrapper">
        <div>
            <slot/>
        </div>
    </div>

    <div class="shape shape--primary"></div>
    <div class="shape shape--secondary"></div>
    <div class="shape shape--tertiary"></div>
</section>