<div class="radiographic-comparator">
    <div class="radiographic-comparator__left">
        <slot name="left"/>
    </div>
    <div class="radiographic-comparator__right">
        <slot name="right"/>
    </div>
</div>