---
type Props = {};

const {} = Astro.props;
---

<div class="references">
  <div class="wrapper">
    <div class="references__content">
      <p>
        <strong>References: 1.</strong> Duis malesuada dui interdum faucibus tempor.
        Proin volutpat augue eros, a mattis nulla blandit sed. <strong
          >2.</strong
        > Phasellus quis mauris eu nisl eleifend pharetra vel at neque. Maecenas
        iaculis justo orci, sed congue arcu feugiat at. <strong>3.</strong> Nulla
        in sodales eros, vitae efficitur odio. Sed vitae dolor velit.
        <strong>4.</strong> Donec pharetra laoreet eros et mollis. <strong
          >5.</strong
        > Quisque a risus varius, facilisis elit vitae, viverra orci. Praesent non
        quam nec ligula lacinia ultricies luctus non tellus. <strong>6.</strong>
        Aenean tortor odio, consectetur dapibus est sit amet, volutpat aliquam nisl.
        Vivamus nec fermentum eros. <strong>7.</strong>Nulla in semper erat.
        Maecenas mauris massa, vehicula egestas ullamcorper posuere, semper quis
        dui. <strong>8.</strong> Mauris ultricies sed est sit amet ornare. <strong
          >9.</strong
        > Quisque sed massa arcu.Morbi vitae finibus arcu. <strong>10.</strong> Proin
        aliquam, lacus sed sollicitudin condimentum, risus ante blandit sapien, ac
        mollis purus metus in metus. <strong>11.</strong> Aliquam ultrices massa
        a libero pharetra, eu dictum nunc dictum. Sed mollis fringilla vestibulum.
        <strong>12.</strong> Nulla eu augue vel neque porta scelerisque. Sed placerat
        eu diam sed iaculis.
      </p>
    </div>
  </div>
</div>
