---
type Props = {
    classnames?: string;
}

let { classnames = '' } = Astro.props;
classnames ? classnames = `custom-section ${classnames}` : classnames = 'custom-section'
---

<section class={classnames}>
    <div class="custom-section__header">
        <div class="custom-section__header-wrapper">
            <div class="custom-section__header-content">
                <slot name="header" />
                <div class="custom-section__header-line-shape"></div>
            </div>
        </div>
    </div>
    <div class="custom-section__content">
        <div class="wrapper">
            <slot />
        </div>
    </div>
</section>