---
    type Props = {};

    const {} = Astro.props;
---

<section class="skeleton">
    <section class="skeleton__image-container">
        <img class="skeleton__image" src="/assets/images/hypophosphatasia/body.png" alt=" ">
        <div class="skeleton__point" data-word="neurologic">
            <span class="skeleton__word">Neurologic</span>
        </div>
        <div class="skeleton__point" data-word="dental">
            <span class="skeleton__word">Dental</span>
        </div>
        <div class="skeleton__point" data-word="respiratory">
            <span class="skeleton__word">Respiratory</span>
        </div>
        <div class="skeleton__point" data-word="muscular">
            <span class="skeleton__word">Muscular</span>
        </div>
        <div class="skeleton__point skeleton__point--invert" data-word="renal">
            <span class="skeleton__word">Renal</span>
        </div>
        <div class="skeleton__point" data-word="rheumatic">
            <span class="skeleton__word">Rheumatic</span>
        </div>
        <div class="skeleton__point skeleton__point--invert" data-word="skeletal">
            <span class="skeleton__word">Skeletal</span>
        </div>
        <div class="skeleton__point" data-word="orthopedic">
            <span class="skeleton__word">Orthopedic</span>
        </div>
        <ul class="skeleton__symptoms-list skeleton__symptoms-list--hidden">
            <li class="skeleton__symptom">Lorem, ipsum dolor.</li>
            <li class="skeleton__symptom">Lorem.</li>
            <li class="skeleton__symptom">Lorem ipsum dolor sit.</li>
            <li class="skeleton__symptom">Lorem, ipsum.</li>
        </ul>
    </section>
</section>