---
    type Props = {};

    const {} = Astro.props;
---

<section class="skeleton skeleton--desktop">
    <section class="skeleton__image-container">
        <img class="skeleton__image" src="/assets/images/hypophosphatasia/body.png" alt=" ">
        <div class="skeleton__point" data-word="neurologic" data-word-alignment="right" data-list-position="self" data-horizontal-line="right" data-vertical-line="bottom">
            <span class="skeleton__word">Neurologic<sup>5,17,18</sup></span>
        </div>
        <div class="skeleton__point" data-word="dental" data-word-alignment="left" data-list-position="self" data-horizontal-line="left" data-vertical-line="bottom">
            <span class="skeleton__word">Dental<sup>1,17</sup></span>
        </div>
        <div class="skeleton__point" data-word="respiratory" data-word-alignment="left" data-list-position="self" data-horizontal-line="left" data-vertical-line="bottom">
            <span class="skeleton__word">Respiratory<sup>1,13,17,20</sup></span>
        </div>
        <div class="skeleton__point" data-word="muscular" data-word-alignment="right" data-list-position="self" data-horizontal-line="right" data-vertical-line="bottom">
            <span class="skeleton__word">Muscular<sup>1,17</sup></span>
        </div>
        <div class="skeleton__point" data-word="renal" data-word-alignment="right" data-list-position="self" data-horizontal-line="right" data-vertical-line="bottom">
            <span class="skeleton__word">Renal<sup>2,4,17,19</sup></span>
        </div>
        <div class="skeleton__point" data-word="rheumatic" data-word-alignment="left" data-list-position="self" data-horizontal-line="left" data-vertical-line="bottom">
            <span class="skeleton__word">Rheumatic<sup>2,17</sup></span>
        </div>
        <div class="skeleton__point" data-word="skeletal" data-word-alignment="left" data-list-position="self" data-horizontal-line="left" data-vertical-line="bottom">
            <span class="skeleton__word">Skeletal/ Orthopedic<sup>1,17,21-23</sup></span>
        </div>
        <div class="skeleton__point" data-word="growth" data-word-alignment="right" data-list-position="self" data-horizontal-line="right" data-vertical-line="bottom">
            <span class="skeleton__word">Growth/ Development<sup>1,17</sup><span class="smaller">(children)</span></span>
        </div>
        <ul class="skeleton__symptoms-list skeleton__symptoms-list--hidden">
        </ul>
        <p class="skeleton__footnote">This list may not be exhaustive.</p>
    </section>
</section>

<script src='../js/skeleton.js'></script>