---
    type Props = {};

    const {} = Astro.props;
---

<section class="skeleton skeleton--desktop">
    <section class="skeleton__image-container">
        <img class="skeleton__image" src="/assets/images/hypophosphatasia/body.png" alt=" ">
        <div class="skeleton__point" data-word="neurologic" data-word-alignment="right" data-list-position="self" data-horizontal-line="right" data-vertical-line="bottom">
            <span class="skeleton__word">Neurologic</span>
        </div>
        <div class="skeleton__point" data-word="dental" data-word-alignment="left" data-list-position="self" data-horizontal-line="left" data-vertical-line="bottom">
            <span class="skeleton__word">Dental</span>
        </div>
        <div class="skeleton__point" data-word="respiratory" data-word-alignment="left" data-list-position="self" data-horizontal-line="left" data-vertical-line="bottom">
            <span class="skeleton__word">Respiratory</span>
        </div>
        <div class="skeleton__point" data-word="muscular" data-word-alignment="right" data-list-position="self" data-horizontal-line="right" data-vertical-line="bottom">
            <span class="skeleton__word">Muscular</span>
        </div>
        <div class="skeleton__point" data-word="renal" data-word-alignment="right" data-list-position="self" data-horizontal-line="right" data-vertical-line="bottom">
            <span class="skeleton__word">Renal</span>
        </div>
        <div class="skeleton__point" data-word="rheumatic" data-word-alignment="left" data-list-position="self" data-horizontal-line="left" data-vertical-line="bottom">
            <span class="skeleton__word">Rheumatic</span>
        </div>
        <div class="skeleton__point" data-word="skeletal" data-word-alignment="left" data-list-position="self" data-horizontal-line="left" data-vertical-line="bottom">
            <span class="skeleton__word">Skeletal</span>
        </div>
        <div class="skeleton__point" data-word="orthopedic" data-word-alignment="right" data-list-position="self" data-horizontal-line="right" data-vertical-line="bottom">
            <span class="skeleton__word">Orthopedic</span>
        </div>
        <ul class="skeleton__symptoms-list skeleton__symptoms-list--hidden">
        </ul>
    </section>
</section>

<script src='../js/skeleton.js'></script>