---
type Props = {
  imgSrc: string;
  className?: string;
  link: string;
  imgAlt?: string;
};

const { imgSrc, className,link, imgAlt} = Astro.props;
---

<div class="work-box">
    <img src={imgSrc} alt={imgAlt} class="work-box__image">
    <div class="work-box__content">
        <p class={`work-box__content-text ${className}`}> <slot /> </p>
        <a href={link}><img src="/assets/icons/right-arrow.png" class="work-box__content-arrow"></a>
    </div>
</div>