---
type Props = {
  img: string;
  chartModifier: string | null;
  href: string | null;
};

const { img, chartModifier,href} = Astro.props;
---

<div class="work-chart">
    <img src={img} alt="" class="work-chart__image">
    <div class="work-chart__content">
        <div class={`work-chart__content-text ${chartModifier}`}> <slot /> </div>
        <a href={href}><img src="/assets/icons/right-arrow.png" class="work-chart__content-arrow"></a>
    </div>
</div>