:root {
    --margin: 2rem;

    @media screen and (min-width: 428px) {
        --margin: 2.5rem;
    }

    @media screen and (min-width: 768px) {
        --margin: 4rem;
    }

    @media screen and (min-width: 1024px) {
        --margin: 4.2813rem;
    }

    @media screen and (min-width: 1366px) {
        --margin: 5.2813rem;
    }

    @media screen and (min-width: 1366px) {
        --margin: 8.2813rem;
    }
}

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: calc(100% - var(--margin));

    &--only-left {
        max-width: calc(100% - (var(--margin) / 2));
        margin-left: auto;
        margin-right: 0;
    }

    &--only-right {
        max-width: calc(100% - (var(--margin) / 2));
        margin-left: 0;
        margin-right: auto;
    }

    @media screen and (min-width: 1600px) {
        max-width: 90rem;

        &--only-left,
        &--only-right {
            max-width: calc(100% - ((100vw - 90rem) / 2));
        }
    }
}