$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-green: #00494F;
$color-green: #48D597;
$color-blue: #006F97;
$color-dark-pink: #B41E8C;
$color-dark-yellow: #DFDF00;
$color-dark-gray: #626469;
$color-bright-gray: #E2E7EA;
$color-light-gray: #EEEEEE;
$color-bright-gray: rgba(226, 231, 234, 0.5);

$margin-top-scroll-var: 10rem;