$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-green: #00494F;
$color-green: #48D597;
$color-blue: #006F97;
$color-dark-pink: #B41E8C;
$color-dark-yellow: #DFDF00;
$color-dark-gray: #626469;
$color-bright-gray: #E2E7EA;
$color-light-gray: #EEEEEE;
$color-soft-gray: rgba(226, 231, 234, 0.5);

$color-athens-gray: #F4F5F7;
$color-slate-gray: #6D868E;
$color-blue-gray: #3D5F66;

$color-mint: hsla(154, 49%, 57%, 0.4);

$margin-top-scroll-var: 10rem;
$color-red: #DF2A4A;
$color-red-dark: #E23F5C;