---
import PageHero from "../../components/PageHero.astro";
import Layout from "../../layouts/Layout.astro";
import CTA from "../../components/CTA.astro";
import References from "../../components/References.astro";
---

<Layout title="Adolescents">
  <PageHero
    pageId="clinical-data"
    classNames="clinical-data-adolescents__page-hero"
  >
    <h2 class="page-hero__subtitle">in adolescents with hypophosphatasia</h2>
    <h1 class="page-hero__title">
      STRENSIQ provides structural<br /> strength and mobility
    </h1>
  </PageHero>
  <CTA
    heading="Dig into STRENSIQ for adults, including real-world outcomes"
    linkText="Adults"
    linkUrl="/clinical-data/adults"
  />
  <References />
</Layout>
