---
import PageHero from "../../components/PageHero.astro";
import Layout from "../../layouts/Layout.astro";
import CTA from "../../components/CTA.astro";
import References from "../../components/References.astro";
---

<Layout title="Children">
  <PageHero
    pageId="clinical-data"
    classNames="clinical-data-children__page-hero"
  >
    <h2 class="page-hero__subtitle">in children with hypophosphatasia</h2>
    <h1 class="page-hero__title">
      STRENSIQ helps build<br /> their framework and<br /> gets them moving
    </h1>
  </PageHero>
  <div class="wrapper clinical-data-children">
    <section class="cdchildren-container">
      <section class="cdchildren-container__content"></section>
      <section class="cdchildren-container__content"></section>
    </section>
    <section class="cdchildren-container">
      <section class="cdchildren-container__content"></section>
      <section class="cdchildren-container__content"></section>
      <section class="cdchildren-container__content"></section>
    </section>
    <section class="cdchildren-container">
      <section class="cdchildren-container__content"></section>
      <section class="cdchildren-container__content"></section>
    </section>
    <section class="cdchildren-container">
      <section class="cdchildren-container__content"></section>
      <section class="cdchildren-container__content"></section>
    </section>
    <section class="cdchildren-container">
      <section class="cdchildren-container__content"></section>
      <section class="cdchildren-container__content"></section>
    </section>
    <section class="cdchildren-container">
      <section class="cdchildren-container__content"></section>
      <section class="cdchildren-container__content"></section>
    </section>
  </div>
  <CTA
    heading="Watch them fortify their foundation"
    linkText="Adolescents"
    linkUrl="/clinical-data/adolescents"
  />
  <References />
</Layout>
