---
import PageHero from "../../components/PageHero.astro";
import Layout from "../../layouts/Layout.astro";
import CTA from "../../components/CTA.astro";
import References from "../../components/References.astro";
import InternalNavigation from "../../components/InternalNavigation.astro";
import AccordionMobile from '../../components/accordion-mobile/AccordionMobile.astro';
import ExpansionPanelMobile from '../../components/accordion-mobile/ExpansionPanelMobile.astro';
import RadiographicImagesComparator from '../../components/RadiographicImagesComparator.astro';
import CustomTitle from '../../components/CustomTitle.astro';
const internalNavLinks = [
  { href: "hpp-related", label: "HPP-related rickets", active: true },
  { href: "survival", label: "Survival" },
];
---

<Layout title="Infants">
  <PageHero
    pageId="clinical-data"
    classNames="clinical-data-infants-young-children__page-hero"
  >
    <h2 class="page-hero__subtitle">
      For infants and young children with hypophosphatasia
    </h2>
    <h1 class="page-hero__title">
      STRENSIQ helps build<br /> a strong foundation
    </h1>
  </PageHero>
  {internalNavLinks && <InternalNavigation items={internalNavLinks} heading="Infants/Young Children" icon/>}

  <section id="hpp-related-rickets" class="infants-young-children__hpp-related-rickets">
    <div class="wrapper">
        <div class="hpp-related-rickets__content">
            <div class="hpp-related-rickets__content-left">
                <h2 class="hpp-related-rickets__title">
                    STRENSIQ helps reverse hypomineralization
                </h2>
                <p class="hpp-related-rickets__description">
                    Complete or substantial healing of rickets as measured by the Radiographic Global Impression of Change (RGI-C) scale* ​
                </p>
                <div class="clinical-studies">
                    <article class="clinical-study">
                        <h3 class="clinical-study__title">After 6 months</h3>
                        <div class="clinical-study__results">
                            <div class="clinical-study__result">
                                <p class="clinical-study__percentage">90</p>
                                <div class="clinical-study__orders">
                                    <p class="clinical-study__order">STUDY 1(9/10)</p>
                                </div>
                            </div>
                            <div class="clinical-study__result">
                                <p class="clinical-study__percentage">63</p>
                                <div class="clinical-study__orders">
                                    <p class="clinical-study__order">STUDY 2 (40/64)</p>
                                </div>
                            </div>
                        </div>
                        <p class="clinical-study__description">
                            of patients achieved complete or substantial healing of HPP-related rickets
                        </p>
                    </article>
                    <article class="clinical-study">
                        <h3 class="clinical-study__title">After 7 years and 6 years, respectively</h3>
                        <div class="clinical-study__results">
                            <div class="clinical-study__result clinical-study__result--flex">
                                <p class="clinical-study__percentage">100</p>
                                <div class="clinical-study__orders">
                                    <p class="clinical-study__order">Study 1 (7/7)</p>
                                    <p class="clinical-study__order">Study 2 (2/2)</p>
                                </div>
                            </div>
                        </div>
                        <p class="clinical-study__description">
                            of patients achieved complete or substantial healing of HPP-related rickets
                        </p>
                    </article>
                    <p class="clinical-studies__footer-note">
                        *The RGI-C scale quantifies change over time in mineralization and bone structure.
                    </p>
                </div>
            </div>
            <div class="hpp-related-rickets__content-right">
                <div class="radiographic-images-mobile">
                    <p class="radiographic-images-mobile__title">Radiographic images</p>
                    <AccordionMobile id="infants-young-children-radiographics">
                        <ExpansionPanelMobile accordionId="infants-young-children-radiographics" title="Patient: Hand">
                            <RadiographicImagesComparator>
                                <div slot="before">
                                    <p data-radiographic-title>
                                        2.9 weeks of age (at baseline)
                                    </p>
                                    <picture data-radiographic-image>
                                        <source srcset="/assets/images/clinical-data/infants-young-children/hand-before-desktop.png" media="(min-width: 768px)">
                                        <img src="/assets/images/clinical-data/infants-young-children/hand-before-mobile.png" alt="">
                                    </picture>
                                    <p data-radiographic-footer>
                                        No mineralization of phalanges, first metacarpal, and distal radius.
                                    </p>
                                </div>
                                <div slot="after">
                                    <p data-radiographic-title>
                                        After 24 weeks of treatment with STRENSIQ
                                    </p>
                                    <picture data-radiographic-image>
                                        <source srcset="/assets/images/clinical-data/infants-young-children/hand-after-desktop.png" media="(min-width: 768px)">
                                        <img src="/assets/images/clinical-data/infants-young-children/hand-after-mobile.png" alt="">
                                    </picture>
                                    <p data-radiographic-footer>
                                        All phalanges obvious; metacarpals mineralized and well-formed, but still osteopenic.
                                    </p>
                                </div>
                            </RadiographicImagesComparator>
                        </ExpansionPanelMobile>
                        <ExpansionPanelMobile accordionId="infants-young-children-radiographics" title="Patient: Ribs">
                            <RadiographicImagesComparator>
                                <div slot="before">
                                    <p data-radiographic-title>
                                        2.9 weeks of age (at baseline)
                                    </p>
                                    <picture data-radiographic-image>
                                        <source srcset="/assets/images/clinical-data/infants-young-children/ribs-before-desktop.png" media="(min-width: 768px)">
                                        <img src="/assets/images/clinical-data/infants-young-children/ribs-before-mobile.png" alt="">
                                    </picture>
                                </div>
                                <div slot="after">
                                    <div slot="before">
                                        <p data-radiographic-title>
                                            After 24 weeks of treatment with STRENSIQ
                                        </p>
                                        <picture data-radiographic-image>
                                            <source srcset="/assets/images/clinical-data/infants-young-children/ribs-after-desktop.png" media="(min-width: 768px)">
                                        <img src="/assets/images/clinical-data/infants-young-children/ribs-after-mobile.png" alt="">
                                        </picture>
                                        <p data-radiographic-footer>
                                            Remineralization of all ossified structures, including ribs, clavicles, spine, and scapulae, was striking.
                                        </p>
                                    </div>
                                </div>
                            </RadiographicImagesComparator>
                        </ExpansionPanelMobile>
                    </AccordionMobile>
                </div>
                <div class="radiographic-images-desktop">
                    <CustomTitle>
                        Patient radiographs (Study 1) show substantial healing of hypophosphatasia-related rickets
                    </CustomTitle>

                    <ul role="tablist">
                        <li role="presentation">
                          <!--active one -->
                          <a href="#tabpanel-hand" role="tab" id="tab-hand" aria-selected="true"
                            >Hand</a
                          >
                        </li>
                        <li role="presentation">
                          <a href="#tabpanel-ribs" role="tab" id="tab-ribs" tabindex="-1">Ribs</a>
                        </li>
                      </ul>
                      <section
                        id="tabpanel-hand"
                        role="tabpanel"
                        aria-labelledby="tab-hand"
                        aria-hidden="false"
                        tabindex="-1"
                      >
                      <RadiographicImagesComparator>
                        <div slot="before">
                            <p data-radiographic-title>
                                2.9 weeks of age (at baseline)
                            </p>
                            <picture data-radiographic-image>
                                <source srcset="/assets/images/clinical-data/infants-young-children/hand-before-desktop.png" media="(min-width: 768px)">
                                <img src="/assets/images/clinical-data/infants-young-children/hand-before-mobile.png" alt="">
                            </picture>
                            <p data-radiographic-footer>
                                No mineralization of phalanges, first metacarpal, and distal radius.
                            </p>
                        </div>
                        <div slot="after">
                            <p data-radiographic-title>
                                After 24 weeks of treatment with STRENSIQ
                            </p>
                            <picture data-radiographic-image>
                                <source srcset="/assets/images/clinical-data/infants-young-children/hand-after-desktop.png" media="(min-width: 768px)">
                                <img src="/assets/images/clinical-data/infants-young-children/hand-after-mobile.png" alt="">
                            </picture>
                            <p data-radiographic-footer>
                                All phalanges obvious; metacarpals mineralized and well-formed, but still osteopenic.
                            </p>
                        </div>
                    </RadiographicImagesComparator>
                      </section>
                      <section
                        id="tabpanel-ribs"
                        role="tabpanel"
                        aria-labelledby="tab-ribs"
                        aria-hidden="true"
                        tabindex="-1"
                        hidden
                      >
                      <RadiographicImagesComparator>
                        <div slot="before">
                            <p data-radiographic-title>
                                2.9 weeks of age (at baseline)
                            </p>
                            <picture data-radiographic-image>
                                <source srcset="/assets/images/clinical-data/infants-young-children/ribs-before-desktop.png" media="(min-width: 768px)">
                                <img src="/assets/images/clinical-data/infants-young-children/ribs-before-mobile.png" alt="">
                            </picture>
                        </div>
                        <div slot="after">
                            <div slot="before">
                                <p data-radiographic-title>
                                    After 24 weeks of treatment with STRENSIQ
                                </p>
                                <picture data-radiographic-image>
                                    <source srcset="/assets/images/clinical-data/infants-young-children/ribs-after-desktop.png" media="(min-width: 768px)">
                                <img src="/assets/images/clinical-data/infants-young-children/ribs-after-mobile.png" alt="">
                                </picture>
                                <p data-radiographic-footer>
                                    Remineralization of all ossified structures, including ribs, clavicles, spine, and scapulae, was striking.
                                </p>
                            </div>
                        </div>
                    </RadiographicImagesComparator>
                      </section>
                </div>
            </div>
        </div>
    </div>
  </section>

  <CTA
    heading="Help them build from the inside out"
    linkText="Children"
    linkUrl="/clinical-data/children"
  />
  <References />
  <script slot="scripts" is:inline src="/assets/js/mobile-accordion.js"></script>
</Layout>
