---
import PageHero from "../../components/PageHero.astro";
import Layout from "../../layouts/Layout.astro";
import CTA from "../../components/CTA.astro";
import References from "../../components/References.astro";
import InternalNavigation from "../../components/InternalNavigation.astro";
const internalNavLinks = [
  { href: "hpp-related", label: "HPP-related rickets", active: true },
  { href: "survival", label: "Survival" },
];
---

<Layout title="Infants">
  <PageHero
    pageId="clinical-data"
    classNames="clinical-data-infants-young-children__page-hero"
  >
    <h2 class="page-hero__subtitle">
      For infants and young children with hypophosphatasia
    </h2>
    <h1 class="page-hero__title">
      STRENSIQ helps build<br /> a strong foundation
    </h1>
  </PageHero>
  {internalNavLinks && <InternalNavigation items={internalNavLinks} heading="Infants/Young Children" icon/>}

  <section id="hpp-related-rickets" class="infants-young-children__hpp-related-rickets">
    <h2 class="hpp-related-rickets__title">
        STRENSIQ helps reverse hypomineralization
    </h2>
    <p class="hpp-related-rickets__description">
        Complete or substantial healing of rickets as measured by the Radiographic Global Impression of Change (RGI-C) scale* ​
    </p>
    <article class="clinical-study">
        <h3 class="clinical-study__title">After 6 months</h3>
        <div class="clinical-study__results">
            <div class="clinical-study__result">
                <p class="clinical-study__percentage">90</p>
                <div class="clinical-study__orders">
                    <p class="clinical-study__order">STUDY 1(9/10)</p>
                </div>
            </div>
            <div class="clinical-study__result">
                <p class="clinical-study__percentage">63</p>
                <div class="clinical-study__orders">
                    <p class="clinical-study__order">STUDY 2 (40/64)</p>
                </div>
            </div>
        </div>
        <p class="clinical-study__description">
            of patients achieved complete or substantial healing of HPP-related rickets
        </p>
    </article>
    <article class="clinical-study">
        <h3 class="clinical-study__title">After 7 years and 6 years, respectively</h3>
        <div class="clinical-study__results">
            <div class="clinical-study__result">
                <p class="clinical-study__percentage">100</p>
                <div class="clinical-study__orders">
                    <p class="clinical-study__order">Study 1 (7/7)</p>
                    <p class="clinical-study__order">Study 2 (2/2)</p>
                </div>
            </div>
        </div>
        <p class="clinical-study__description">
            of patients achieved complete or substantial healing of HPP-related rickets
        </p>
    </article>
  </section>

  <CTA
    heading="Help them build from the inside out"
    linkText="Children"
    linkUrl="/clinical-data/children"
  />
  <References />
</Layout>
