---
import PageHero from "../../components/PageHero.astro";
import Layout from "../../layouts/Layout.astro";
import CTA from "../../components/CTA.astro";
import References from "../../components/References.astro";
import InternalNavigation from "../../components/InternalNavigation.astro";
const internalNavLinks = [
  { href: "hpp-related", label: "HPP-related rickets", active: true },
  { href: "survival", label: "Survival" },
];
---

<Layout title="Infants">
  <PageHero
    pageId="clinical-data"
    classNames="clinical-data-infants-young-children__page-hero"
  >
    <h2 class="page-hero__subtitle">
      For infants and young children with hypophosphatasia
    </h2>
    <h1 class="page-hero__title">
      STRENSIQ helps build<br /> a strong foundation
    </h1>
  </PageHero>
  {internalNavLinks && <InternalNavigation items={internalNavLinks} heading="Infants/Young Children" icon/>}

  <section id="hpp-related-rickets" class="infants-young-children__hpp-related-rickets">
    
  </section>

  <CTA
    heading="Help them build from the inside out"
    linkText="Children"
    linkUrl="/clinical-data/children"
  />
  <References />
</Layout>
