---
import PageHero from '../../components/PageHero.astro';
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Overview">
    <PageHero pageId="clinical-data" classNames="clinical-data-overview__page-hero">
        <h2 class="page-hero__subtitle">To treat hypophosphatasia</h2>
        <h1 class="page-hero__title">
            Get straight to the<br> source with STRENSIQ
        </h1>
    </PageHero>
  <div class="wrapper">
    <h1>Overview</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id magni vel minima
    omnis numquam maiores corporis sint ea atque quas, exercitationem laudantium.
    Fugiat, harum quidem quam possimus natus qui quae?
  </div>
</Layout>
