---
import PageHero from "../../components/PageHero.astro";
import Layout from "../../layouts/Layout.astro";
import CTA from "../../components/CTA.astro";
import References from "../../components/References.astro";
import InternalNavigation from "../../components/InternalNavigation.astro";
const internalNavLinks = [
  { href: "#study-design", label: "Study design", active: true },
  { href: "#safety", label: "Safety" },
];
---

<Layout title="Overview">
  <PageHero
    pageId="clinical-data"
    classNames="clinical-data-overview__page-hero"
  >
    <h2 class="page-hero__subtitle">To treat hypophosphatasia</h2>
    <h1 class="page-hero__title">
      Get straight to the<br /> source with STRENSIQ
    </h1>
  </PageHero>
  {internalNavLinks && <InternalNavigation items={internalNavLinks} heading="Overview" icon={false} />}
  <CTA
    heading="Get them off to a solid start"
    linkText="Infants/young children"
    linkUrl="/clinical-data/infants-young-children"
  />
  <References />
</Layout>
