---
---

<section class="table">
    <div class="table__header">
        <slot name="title" />
    </div>
    <div class="table__wrapper">
        <table class="table__content">
            <slot name="header" />
            <slot name="body" />
        </table>
        <slot name="footer" />
    </div>
</section>
