---
import "@fancyapps/ui/dist/fancybox/fancybox.css";
import "../styles/style.scss";
import ISI from "../components/ISI.astro";
import Footer from "../components/Footer.astro";
import References from "../components/References.astro";
import CTA from "../components/CTA.astro";
import Header from "../components/Header.astro";
import CookieBanner from "../components/CookieBanner.astro";
export interface Props {
  title: string;
  displayReferences?: boolean;
  displayCTA?: boolean;
}

const { title, displayReferences, displayCTA } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <CookieBanner />
    <main class="main">
      <slot />
      <div style="height: 100vh"></div>
    </main>
    <ISI />
    <CTA
      heading="Get them off to a solid start"
      linkText="Infants/young children"
      linkUrl="#"
    />
    <References />
    <Footer />
    <script src="/assets/js/script.js" type="module"></script>
    <script src="../js/modal.js"></script>
  </body>
</html>
